{% extends 'base.html.twig' %}
{% block body %}
    {% import _self as formMacros %}
    {% macro printTextPropertyRow(textPropertyForm) %}
        {{ form_errors(textPropertyForm) }}
        {{ form_row(textPropertyForm.textProperty, {
            'label': 'Scope note'
        }) }}
        {{ form_row(textPropertyForm.languageIsoCode, {
            'label': 'Language'
        }) }}
        {{ form_row(textPropertyForm.creator) }}
        {{ form_row(textPropertyForm.modifier) }}
    {% endmacro %}
    <div class="container">
        {% if profileAssociation.objectType == "class" %}
            {% set fragment = "classes" %}
            {% set object = profileAssociation.class %}
            {% set objectVersion = profileAssociation.class.classVersionForDisplay(profileAssociation.entityNamespaceForVersion) %}
        {% endif %}
        {% if profileAssociation.objectType == "property" %}
            {% set fragment = "properties" %}
            {% set object = profileAssociation.property %}
            {% set objectVersion = profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion) %}
        {% endif %}
        <a href="{{ path('profile_edit', {'id': profileAssociation.profile.id, '_fragment': fragment}) }}" class="pull-right btn btn-link">
            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
        </a>
        <h2>Customize {{ objectVersion.standardLabel }} - {{ object.identifierInNamespace }} in {{ profileAssociation.profile.standardLabel }} profile</h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingDefinition">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDefinition" aria-expanded="true" aria-controls="collapseDefinition">
                            {% if profileAssociation.objectType == "class" %}
                                <i class="fas fa-eye"></i> Class definition
                            {% endif %}
                            {% if profileAssociation.objectType == "property" %}
                                <i class="fas fa-eye"></i> Property definition
                            {% endif %}
                        </a>
                    </h4>
                </div>
                <div id="collapseDefinition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDefinition">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Scope note:</p>
                                </div>
                                <div class="col-lg-10">
                                    {% for scopeNote in object.textProperties|filter(v => v.systemType.id == 1 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
                                        {{ scopeNote.textProperty|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Examples:</p>
                                </div>
                                <div class="col-lg-10">
                                    {% for example in object.textProperties|filter(v => v.systemType.id == 7 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
                                        {{ example.textProperty|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            {% set justification = profileAssociation.textProperties|filter(v => v.systemType.id == 15 and v.namespaceForVersion == objectVersion.namespaceForVersion)|first %}
            <h3>Justification of the selection in the profile
            {% if justification %}
                <a href="#" class="btn-justification btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
            {% else %}
                <a href="#" class="btn-justification btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add</a>
            {% endif %}
            </h3>
            <span class="txtp-justification">{{ justification ? justification.textProperty|raw : '<i>Not justification yet.</i>' }}</span>

            {{ form_start(formJustification) }}
            {{ form_errors(formJustification) }}
            <div class="paddingInherit input-add-justification">
                {{ form_row(formJustification.textProperty) }}
                {{ form_row(formJustification.languageIsoCode) }}
                <p>
                    <button type="submit" class="btn btn-primary save" formnovalidate><i class="fas fa-save"></i> Save</button>
                    <button type="reset" class="btn btn-default"><i class="fas fa-undo-alt"></i> Reset</button>
                    <button type="button" class="btn btn-danger close-justification"><i class="fas fa-undo-alt"></i> Close</button>
                </p>
            </div>
            {{ form_end(formJustification) }}
        </div>

        <div class="clearfix">
            {% set useCase = profileAssociation.textProperties|filter(v => v.systemType.id == 36 and v.namespaceForVersion == objectVersion.namespaceForVersion)|first %}
            <h3>Use case
                {% if useCase %}
                    <a href="#" class="btn-use-case btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                {% else %}
                    <a href="#" class="btn-use-case btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add</a>
                {% endif %}
            </h3>
            <span class="txtp-use-case">{{ useCase ? useCase.textProperty|raw : '<i>Not use case yet.</i>' }}</span>
            {{ form_start(formUseCase) }}
            {{ form_errors(formUseCase) }}
            <div class="paddingInherit input-add-use-case">
                {{ form_row(formUseCase.textProperty) }}
                {{ form_row(formUseCase.languageIsoCode) }}
                <p>
                    <button type="submit" class="btn btn-primary save" formnovalidate><i class="fas fa-save"></i> Save</button>
                    <button type="reset" class="btn btn-default"><i class="fas fa-undo-alt"></i> Reset</button>
                    <button type="button" class="btn btn-danger close-use-case"><i class="fas fa-undo-alt"></i> Close</button>
                </p>
            </div>
            {{ form_end(formUseCase) }}
        </div>

        <div class="clearfix">
            {% set examples = profileAssociation.textProperties|filter(v => v.systemType.id == 7 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
            <h3>Additional examples <a href="#" class="btn-new-example btn btn-xs btn-primary"><i class="fas fa-plus"></i> Add</a></h3>
            {{ form_start(formNewExample) }}
            {{ form_errors(formNewExample) }}
            <div class="paddingInherit input-add-new-example">
                {{ form_row(formNewExample.textProperty) }}
                {{ form_row(formNewExample.languageIsoCode) }}
                <p>
                    <button type="submit" class="btn btn-primary save" formnovalidate><i class="fas fa-save"></i> Save</button>
                    <button type="reset" class="btn btn-default"><i class="fas fa-undo-alt"></i> Reset</button>
                    <button type="button" class="btn btn-danger close-new-example"><i class="fas fa-undo-alt"></i> Close</button>
                </p>
            </div>
            {{ form_end(formNewExample) }}
            <table class="table table-striped" id="profile-examples-table">
                <thead>
                <tr>
                    <th>Additional examples</th>
                    <th>Language</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for example in examples %}
                    <tr>
                        <td>{{ example.textProperty|raw }}</td>
                        <td>{{ example.languageIsoCode }}</td>
                        <td>
                            <a href="#" class="btn-edit-example btn btn-success btn-xs" data-id="{{ example.id }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for formExample in formsExample %}
                {{ form_start(formExample) }}
                {{ form_errors(formExample) }}
                <div class="paddingInherit input-edit-example" data-id="{{ formExample.vars.id }}">
                    {{ form_row(formExample.textProperty) }}
                    {{ form_row(formExample.languageIsoCode) }}
                    <p>
                        <button type="submit" class="btn btn-primary save" formnovalidate><i class="fas fa-save"></i> Save</button>
                        <button type="reset" class="btn btn-default"><i class="fas fa-undo-alt"></i> Reset</button>
                        <button type="button" class="btn btn-danger close-edit-example" data-id="{{ formExample.vars.id }}"><i class="fas fa-undo-alt"></i> Close</button>
                    </p>
                </div>
                {{ form_end(formExample) }}
            {% endfor %}
        </div>

        <div class="clearfix">
            {% set note = profileAssociation.textProperties|filter(v => v.systemType.id == 33 and v.namespaceForVersion == objectVersion.namespaceForVersion)|first %}
            <h3>Profile internal note {% if note %}
                    <a href="#" class="btn-note btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                {% else %}
                    <a href="#" class="btn-note btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add</a>
                {% endif %}
            </h3>
            <span class="txtp-note">{{ note ? note.textProperty|raw : '<i>Not profile internal note yet.</i>' }}</span>
            {{ form_start(formNote) }}
            {{ form_errors(formNote) }}
            <div class="paddingInherit input-add-note">
                {{ form_row(formNote.textProperty) }}
                {{ form_row(formNote.languageIsoCode) }}
                <p>
                    <button type="submit" class="btn btn-primary save" formnovalidate><i class="fas fa-save"></i> Save</button>
                    <button type="reset" class="btn btn-default"><i class="fas fa-undo-alt"></i> Reset</button>
                    <button type="button" class="btn btn-danger close-note"><i class="fas fa-undo-alt"></i> Close</button>
                </p>
            </div>
            {{ form_end(formNote) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('a[class^="close"]').hide();
            $('div[class*="input-"]').hide();

            $('.btn-justification, .close-justification').click(function (e){
                e.preventDefault();
                $('.btn-justification').toggle();
                $('.txtp-justification').toggle();
                $('.input-add-justification').slideToggle();
            });

            $('.btn-note, .close-note').click(function (e){
                e.preventDefault();
                $('.btn-note').toggle();
                $('.txtp-note').toggle();
                $('.input-add-note').slideToggle();
            });

            $('.btn-use-case, .close-use-case').click(function (e){
                e.preventDefault();
                $('.btn-use-case').toggle();
                $('.txtp-use-case').toggle();
                $('.input-add-use-case').slideToggle();
            });

            $('.btn-new-example, .close-new-example').click(function (e){
                e.preventDefault();
                $('.btn-new-example').toggle();
                $('.input-add-new-example').slideToggle();
            });

            $('.btn-edit-example, .close-edit-example').click(function (e){
                e.preventDefault();
                var idExample = $(this).data('id');
                $('.input-edit-example').slideUp();
                $('.input-edit-example[data-id="formExample' + idExample + '"]').slideToggle();
            });

            $('#profile-examples-table').DataTable();
        });
    </script>
{% endblock %}
