{% extends 'base.html.twig' %}
{% block title %}{{ label.label }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Edit label for the
                    {% if label.class is not null %}
                        class {{ label.class }}
                        <a href="{{ path('class_edit', {
                                    id: label.class.id
                            }) }}#identification"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% elseif label.property is not null %}
                        property {{ label.property }}
                        <a href="{{ path('property_edit', {
                            id: label.property.id
                        }) }}#identification"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% elseif label.profile is not null %}
                        profile {{ label.profile }}
                        <a href="{{ path('profile_edit', {
                            id: label.profile.id
                        }) }}#identification"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% elseif label.project is not null %}
                        project {{ label.project }}
                        <a href="{{ path('project_edit', {
                            id: label.project.id
                        }) }}#identification"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% elseif label.namespace is not null %}
                        namespace {{ label.namespace }}
                        <a href="{{ path('namespace_edit', {
                            id: label.namespace.id
                        }) }}#identification"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% endif %}
                </h2>
                <ul class="nav nav-tabs" id="main-tabs">
                    <li class="active"><a data-toggle="tab" href="#label">Label</a></li>
                    {% if label.object == 'class' or label.object == 'property' %}
                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="label" class="tab-pane fade in active">
                        <div class="container">
                            <h3>Label</h3>
                            {{ form_start(labelForm) }}
                                {{ form_row(labelForm.label) }}
                                {% if canInverseLabel %}
                                    {{ form_row(labelForm.inverseLabel) }}
                                {% endif %}
                                {{ form_row(labelForm.languageIsoCode) }}
                                {{ form_row(labelForm.isStandardLabelForLanguage) }}

                                <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                                {% if label.class is not null %}
                                    <a href="{{ path('class_edit', {
                                        id: label.class.id
                                    }) }}#identification"
                                       class="btn btn-default"
                                       role="button">
                                        Back <i class="fas fa-arrow-left"></i>
                                    </a>
                                {% elseif label.property is not null %}
                                    <a href="{{ path('property_edit', {
                                        id: label.property.id
                                    }) }}#identification"
                                       class="btn btn-default"
                                       role="button">
                                        Back <i class="fas fa-arrow-left"></i>
                                    </a>
                                {% elseif label.profile is not null %}
                                    <a href="{{ path('profile_edit', {
                                        id: label.profile.id
                                    }) }}#identification"
                                       class="btn btn-default"
                                       role="button">
                                        Back <i class="fas fa-arrow-left"></i>
                                    </a>
                                {% elseif label.project is not null %}
                                    <a href="{{ path('project_edit', {
                                        id: label.project.id
                                    }) }}#identification"
                                       class="btn btn-default"
                                       role="button">
                                        Back <i class="fas fa-arrow-left"></i>
                                    </a>
                                {% elseif label.namespace is not null %}
                                    <a href="{{ path('namespace_edit', {
                                        id: label.namespace.id
                                    }) }}#identification"
                                       class="btn btn-default"
                                       role="button">
                                        Back <i class="fas fa-arrow-left"></i>
                                    </a>
                                {% endif %}
                            {{ form_end(labelForm) }}
                        </div>
                    </div>
                    {% if label.object == 'class' or label.object == 'property' %}
                    <div id="comments" class="tab-pane fade">
                        <h3>Comments</h3>
                        <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                            <div class="action-box">
                                {% if label.comments is empty %}
                                    <p id="comment-not-found"><em>No comment found.</em></p>
                                {% endif %}
                                <ul id="comments-list" class="comments-list">
                                    {% for comment in label.comments %}
                                        <li>
                                            <div class="comment-text">
                                                <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                                <p>{{ comment.comment }}</p>
                                                <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if app.user %}
                                    <div class="new-comment-form" id="new-comment-form">
                                        {{ render(controller('AppBundle:Comment:new', {'object' : 'label', 'objectId' : label.id})) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'label', 'objectId' : label.id  } %}
    <script>
    $(document).ready(function() {
        if($('#label_form_isStandardLabelForLanguage').attr('checked'))
        {
            console.log("OK");
            $('#label_form_isStandardLabelForLanguage').attr("onclick", "this.checked=true");
        }
    });
    </script>
{% endblock %}
