{% extends 'base.html.twig' %}
{% block title %}{{ label.label }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {% if label.object is not null %}
                        {% if label.object.identifierInNamespace is not null %}
                            {% if label.class is not null %}
                                {{ label.object.classVersionForDisplay(label.namespaceForVersion) }}
                            {% elseif label.property is not null %}
                                {{ label.object.propertyVersionForDisplay(label.namespaceForVersion) }}
                            {% else %}
                                {{ label.object.standardLabel }}
                            {% endif %}
                             – {{ label.object.identifierInNamespace }}: Label
                        {% else %}
                            {{ label.object.objectIdentification }}: Label
                        {% endif %}
                    {% else %}
                        Label
                    {% endif %}

                    {% if label.class is not null %}
                        {% set route = 'class_show_with_version' %}
                        {% set namespaceFromUrlId = label.namespaceForVersion.id %}
                    {% elseif label.property is not null %}
                        {% set route = 'property_show_with_version' %}
                        {% set namespaceFromUrlId = label.namespaceForVersion.id %}
                    {% elseif label.namespace is not null %}
                        {% set route = 'namespace_show' %}
                    {% elseif label.project is not null %}
                        {% set route = 'project_show' %}
                    {% elseif label.profile is not null %}
                        {% set route = 'profile_show' %}
                    {% elseif label.classAssociation is not null %}
                        {% set route = 'class_association_show' %}
                    {% elseif label.propertyAssociation is not null %}
                        {% set route = 'property_association_show' %}
                    {% elseif label.entityAssociation is not null %}
                        {% set route = 'property_association_show' %}
                    {% endif %}

                    {% if route is not null and namespaceFromUrlId is not null %}
                    <a href="{{ path(route, {
                        'id':label.object.id,
                        'namespaceFromUrlId': namespaceFromUrlId,
                        '_fragment': 'identification'}) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                    {% elseif  route is not null %}
                    <a href="{{ path(route, {'id':label.object.id, '_fragment': 'identification'}) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                    {% else %}
                    <a href="{{ app.request.headers.get('referer') }}#identification"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                    {% endif %}
                </h2>
                <h4>
                    {% if label.class is not null or label.property is not null %}
                        {% if label.validationStatus is null %}
                            <span class="label label-info">
                                    Candidate
                                </span>
                        {% elseif label.validationStatus.id == 26  %}
                            <span class="label label-success">
                                    {{ label.validationStatus }}
                                </span>
                        {% elseif label.validationStatus.id == 27  %}
                            <span class="label label-danger">
                                    {{ label.validationStatus }}
                                </span>
                        {% elseif label.validationStatus.id == 28  %}
                            <span class="label label-warning">
                                    {{ label.validationStatus }}
                                </span>
                        {% endif %}
                    {% endif %}
                </h4>
                <ul class="nav nav-tabs" id="main-tabs">
                    <li class="active"><a data-toggle="tab" href="#label">Label</a></li>
                    {% if label.class is not null or label.property is not null %}
                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="label" class="tab-pane fade in active">
                        <div class="container">
                            <h3>{{ label.label}} {% if label.inverseLabel != ""%}({{ label.inverseLabel }}){% endif %}</h3>
                            <dl class="object-details-list">
                                <dt>Language</dt>
                                <dd>{{ label.languageIsoCode}}</dd>
                                <dt>Is standard label for language</dt>
                                <dd>
                                    {% if label.isStandardLabelForLanguage %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {% if label.class is not null or label.property is not null %}
                    <div id="comments" class="tab-pane fade">
                        <h3>Comments</h3>
                        <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                            <div class="action-box">
                                {% if label.comments is empty %}
                                    <p id="comment-not-found"><em>No comment found.</em></p>
                                {% endif %}
                                <ul id="comments-list" class="comments-list">
                                    {% for comment in label.comments %}
                                        <li>
                                            <div class="comment-text">
                                                <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                                <p>{{ comment.comment }}</p>
                                                <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if app.user %}
                                    <div class="new-comment-form" id="new-comment-form">
                                        {{ render(controller('AppBundle:Comment:new', {'object' : 'label', 'objectId' : label.id})) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'label', 'objectId' : label.id  } %}
{% endblock %}
