{% extends 'base.html.twig' %}
{% block title %}{{ label.label }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ label.label }}
                    <a href="{{ app.request.headers.get('referer') }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                </h2>
                <ul class="nav nav-tabs" id="main-tabs">
                    <li class="active"><a data-toggle="tab" href="#label">Label</a></li>
                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                </ul>
                <div class="tab-content">
                    <div id="label" class="tab-pane fade in active">
                        <div class="container">
                            <h3>Label</h3>
                            <dl class="object-details-list">
                                <dt>Text</dt>
                                <dd class="well">{{ label.label}}</dd>
                                <dt>Language</dt>
                                <dd>{{ label.languageIsoCode}}</dd>
                                <dt>Is standard label for language</dt>
                                <dd>{{ label.isStandardLabelForLanguage}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div id="comments" class="tab-pane fade">
                        <h3>Comments</h3>
                        <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                            <div class="action-box">
                                {% if label.comments is empty %}
                                    <p id="comment-not-found"><em>No comment found.</em></p>
                                {% endif %}
                                <ul id="comments-list" class="comments-list">
                                    {% for comment in label.comments %}
                                        <li>
                                            <div class="comment-text">
                                                <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                                <p>{{ comment.comment }}</p>
                                                <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if app.user %}
                                    <div class="new-comment-form" id="new-comment-form">
                                        {{ render(controller('AppBundle:Comment:new', {'object' : 'label', 'objectId' : label.id})) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'label', 'objectId' : label.id  } %}
{% endblock %}
