{% extends 'base.html.twig' %}
{% block body %}

    {% import _self as btnMacros %}
    {% macro backButton(_route, _id, _fragment = "", _namespaceVersionId = 0) %}

        {% set css = 'pull-right btn btn-link' %}

        {% if _namespaceVersionId != 0 %}
            {% set _path = path(_route, {id: _id, 'namespaceFromUrlId': _namespaceVersionId, '_fragment': _fragment}) %}
        {% else %}
            {% set _path = path(_route, {id: _id, '_fragment': _fragment}) %}
        {% endif %}

        <a href="{{ _path|e('html_attr') }}" class={{ css|e('html_attr') }} role="button">
            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
        </a>
    {% endmacro %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {% if textProperty.class is not null %}

                        {# Chercher la bonne version de la classe selon la version du txtp #}
                        {% set classVersion = textProperty.class.classVersions|filter(v => v.namespaceForVersion in textProperty.namespaceForVersion.allReferencedNamespaces)|first|default(textProperty.class.classVersionForDisplay) %}
                        {{ textProperty.systemType.standardLabel|capitalize }} for the class {{ classVersion }}

                        {% set _route, _id, _namespaceFromUrlId, _fragment = 'class_show_with_version', textProperty.class.id, classVersion.namespaceForVersion.id, 'definition' %}

                    {% elseif textProperty.property is not null %}

                        {# Chercher la bonne version de la propriété selon la version du txtp #}
                        {% set propertyVersion = textProperty.property.propertyVersions|filter(v => v.namespaceForVersion in textProperty.namespaceForVersion.allReferencedNamespaces)|first|default(textProperty.property.propertyVersionForDisplay) %}
                        {{ textProperty.systemType.standardLabel|capitalize }} for the property {{ propertyVersion }}

                        {% set _route, _id, _namespaceFromUrlId, _fragment = 'property_show_with_version', textProperty.property.id, propertyVersion.namespaceForVersion.id, 'definition' %}

                    {% elseif textProperty.namespace is not null %}

                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                        {% set _route, _id, _fragment = 'namespace_show', textProperty.namespace.id, 'definition' %}

                    {% elseif textProperty.project is not null %}

                        {% set route = '' %}
                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                        {% set _route, _id, _fragment = 'project_show', textProperty.project.id, 'definition' %}

                    {% elseif textProperty.profile is not null %}

                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                    {% set _route, _id, _fragment = 'profile_show', textProperty.profile.id, 'definition' %}

                    {% elseif textProperty.classAssociation is not null %}

                        {% set childClass = textProperty.classAssociation.childClass %}
                        {{ childClass.classVersionForDisplay(textProperty.classAssociation.childClassNamespace).standardLabel }} – {{ childClass.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                        {% set _route, _id, _fragment = 'class_association_show', textProperty.classAssociation.id, 'definition' %}

                    {% elseif textProperty.propertyAssociation is not null %}

                        {% set childProperty = textProperty.propertyAssociation.childProperty %}
                        {{ childProperty.propertyVersionForDisplay(textProperty.propertyAssociation.childPropertyNamespace).standardLabel }} – {{ childClass.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                        {% set _route, _id, _fragment = 'property_association_show', textProperty.propertyAssociation.id, 'definition' %}

                    {% elseif textProperty.entityAssociation is not null %}

                        {% set route = 'entity_association_show' %}
                        {% if textProperty.entityAssociation.sourceClass is not null %}
                            {{ textProperty.entityAssociation.sourceClass }} {{ textProperty.entityAssociation.systemType.standardLabel }} {{ textProperty.entityAssociation.targetClass }} : {{ textProperty.systemType.standardLabel }}
                        {% elseif textProperty.entityAssociation.sourceProperty is not null %}
                            {{ textProperty.entityAssociation.sourceClass }} {{ textProperty.entityAssociation.systemType.standardLabel }} {{ textProperty.entityAssociation.targetClass }} : {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                        {% set _route, _id, _fragment = 'entity_association_show', textProperty.entityAssociation.id, 'definition' %}

                    {% endif %}

                    {% if route is not null and _namespaceFromUrlId is defined %}
                        {{ btnMacros.backButton(_route, _id, _fragment, _namespaceFromUrlId) }}
                    {% elseif route is not null %}
                        {{ btnMacros.backButton(_route, _id, _fragment) }}
                    {% else %}
                        <a href="{{ app.request.headers.get('referer') }}#definition"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% endif %}
                </h2>
                <h4>
                    {% if is_granted('edit', textProperty) %}
                        {# if textProperty.class is not null and is_granted('validate', textProperty.class.classVersionForDisplay(textProperty.namespaceForVersion))
                        or textProperty.property is not null and is_granted('validate', textProperty.property.propertyVersionForDisplay(textProperty.namespaceForVersion))
                        or textProperty.namespace is not null and is_granted('validate', textProperty.namespace)
                    #}
                        <div class="dropdown inline-block">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-validation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 37  %}
                                    <span class="label label-warning2">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                                &nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-versions" aria-labelledby="dropdown-versions">
                                <li class="label-success">
                                    <a class="select-validation-status" data-id ="26" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 26
                                    }) }}">
                                    <span class="label label-success">
                                        Validated
                                    </span>
                                    </a>
                                </li>
                                <li class="label-warning">
                                    <a class="select-validation-status" data-id="28" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 28
                                    }) }}">
                                    <span class="label label-warning">
                                        Validation request
                                    </span>
                                    </a>
                                </li>
                                <li class="label-warning2">
                                    <a class="select-validation-status" data-id="37" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 37
                                    }) }}">
                                    <span class="label label-warning2">
                                        Under revision
                                    </span>
                                    </a>
                                </li>
                                <li class="label-danger">
                                    <a class="select-validation-status" data-id="27" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 27
                                    }) }}">
                                    <span class="label label-danger">
                                        Denied (see comment)
                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% elseif textProperty.class is not null or textProperty.property is not null%}
                        {% if textProperty.validationStatus is null %}
                            <span class="label label-info">
                                    Candidate
                                </span>
                        {% elseif textProperty.validationStatus.id == 26  %}
                            <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% elseif textProperty.validationStatus.id == 27  %}
                            <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% elseif textProperty.validationStatus.id == 28  %}
                            <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% elseif textProperty.validationStatus.id == 37  %}
                            <span class="label label-warning2">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% endif %}
                    {% endif %}
                </h4>
                <ul class="nav nav-tabs" id="main-tabs">
                    <li class="active"><a data-toggle="tab" href="#text-property">{{ textProperty.systemType }}</a></li>
                    {% if textProperty.systemType.id != 31 %}
                        <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="text-property" class="tab-pane fade in active">
                        <div class="container">
                            <h3>{{ textProperty.systemType }}</h3>
                            <dl class="object-details-list">
                                <dt>Text</dt>
                                <dd class="well">{{ textProperty.textProperty|raw}}</dd>
                                {% if textProperty.systemType.id != 31 %}
                                    <dt>Language</dt>
                                    <dd>{{ textProperty.languageIsoCode}}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                    {% if textProperty.systemType.id != 31 %}
                        <div id="comments" class="tab-pane fade">
                            <h3>Comments</h3>
                            <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                                <div class="action-box">
                                    {% if textProperty.comments is empty %}
                                        <p id="comment-not-found"><em>No comment found.</em></p>
                                    {% endif %}
                                    <ul id="comments-list" class="comments-list">
                                        {% for comment in textProperty.comments %}
                                            <li>
                                                <div class="comment-text">
                                                    <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                                    <p>{{ comment.comment }}</p>
                                                    <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    {% if app.user %}
                                        <div class="new-comment-form" id="new-comment-form">
                                            {{ render(controller('AppBundle:Comment:new', {'object' : 'text-property', 'objectId' : textProperty.id})) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if textProperty.systemType.id != 31 %}
        {% include 'comment/js-bock.html.twig'  with {'objectType': 'text-property', 'objectId' : textProperty.id  } %}
    {% endif %}
{% endblock %}
