{% extends 'base.html.twig' %}

{% block title %}{{ profile.standardLabel }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="container">
    <h2 class="profile-name">{{ profile.standardLabel }}</h2>
    <ul class="nav nav-tabs" id="main-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
        <li><a data-toggle="tab" href="#identification">Profile identification</a></li>
        <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
        <li><a data-toggle="tab" href="#classes">Classes</a></li>
        <li><a data-toggle="tab" href="#properties">Properties</a></li>
        <li><a data-toggle="tab" href="#projects">Projects</a></li>
    </ul>

    <div class="tab-content">
        <div id="summary" class="tab-pane fade in active">
            <h3>{{ profile.standardLabel }}</h3>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <p>Description:</p>
                    </div>
                    <div class="col-lg-10">
                        {% set description, break = null, false %}
                        {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                            {% if not break %}
                                {% if textProperty.languageIsoCode == 'en' %}
                                    {% set break = true %}
                                    {% set description = textProperty.textProperty %}
                                {% else %}
                                    {% if description == null %}
                                        {% set description = textProperty.textProperty %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if description is not null %}
                            {{ description|raw }}
                        {% else %}
                            <p><i>No description yet.</i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="identification" class="tab-pane fade">
            <h3>Identification</h3>
            <p>Project of belonging: <a href="{{ path('project_show', {'id': profile.projectOfBelonging.id}) }}">{{ profile.projectOfBelonging.standardLabel }}</a></p>
            <p>Start date: {{ profile.startDate }}</p>
            <p>End date: {{ profile.endDate }}</p>
            <h3>Labels</h3>
            <table class="table table-striped" id="labels-table">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Language</th>
                    <th>Last updated</th>
                </tr>
                </thead>
                <tbody>
                {% for label in profile.labels %}
                <tr>
                    <td>
                        <a href="#">
                            {{ label.label }}
                        </a>
                    </td>
                    <td>{{ label.languageIsoCode}}</td>
                    <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Scope Notes</h3>
            <table class="table table-striped" id="scope-notes-table">
                <thead>
                <tr>
                    <th>Show</th>
                    <th>Scope note</th>
                    <th>Language</th>
                </tr>
                </thead>
                <tbody>
                {% for textProperty in profile.textProperties if textProperty.systemType.id == 1 %}
                <tr>
                    <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                    <td class="truncated-text">
                        <span>{{ textProperty.textProperty}}</span>
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                    </td>
                    <td>{{ textProperty.languageIsoCode}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Additional notes</h3>
            <table class="table table-striped" id="additional-notes-table">
                <thead>
                <tr>
                    <th>Show</th>
                    <th>Notes</th>
                    <th>Language</th>
                    <th>Namespace</th>
                </tr>
                </thead>
                <tbody>
                {% for textProperty in profile.textProperties if textProperty.systemType.id == 12 %}
                <tr>
                    <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                    <td class="truncated-text">
                        <span>{{ textProperty.textProperty|striptags|raw }}</span>
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                    </td>
                    <td>{{ textProperty.languageIsoCode}}</td>
                    <td>WIP</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="classes" class="tab-pane fade">
            <div class="row">
                <div class="col-md-6">
                    <h3>Associated classes</h3>
                    <table class="table table-striped" id="classes-table" style="width:100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Identifier in namespace</th>
                            <th>Class</th>
                            <th>Association type</th>
                            <th>Namespace</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>Selectable classes</h3>
                    <table class="table table-striped" id="selectable-classes-table" style="width:100%">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>Class</th>
                            <th>Namespace</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="properties" class="tab-pane fade">
            <h3>Associated properties</h3>
            <table class="table table-striped" id="properties-table">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Namespace</th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr>
                        <td>
                            <a href="{{ path('property_show', {
                                'id': property.id
                            }) }}">
                                {{ property.standardLabel }} – {{ property.identifierInNamespace }}
                            </a>
                        </td>
                        <td>
                            {{ property.rootNamespace }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="projects" class="tab-pane fade">
            <h3>Associated projects</h3>
            <table class="table table-striped" id="projects-table">
                <thead>
                <tr>
                    <th>Project identifier</th>
                    <th>Last updated</th>
                </tr>
                </thead>
                <tbody>
                {% for project in profile.projects %}
                <tr>
                    <td>
                        <a href="{{ path('project_show', {
                                'id': project.id
                            }) }}">
                            {{ project.standardLabel }}
                        </a>
                    </td>
                    <td>{{ project.modificationTime|date('Y-m-d') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="namespaces" class="tab-pane fade">
            <h4>Namespaces used by this profile</h4>
            {% if profile.namespaces|length == 0 %}
                <em id="empty-namespace-list-message">There is currently no namespace used by this profile.</em>
            {% endif %}
            <div class="container" id="used-namespaces-list">
                {% for namespace in profile.namespaces %}
                    <div class="row">
                        <a href="#namespaces" class="remove-namespace" data-id="{{ namespace.id }}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="{{ path('namespace_show', {
                            'id': namespace.id
                        }) }}">
                            {{ namespace }}
                        </a>
                        <span class="loading-icon2" data-id="{{ namespace.id }}">&nbsp;<span class="fas fa-spinner fa-spin"></span></span>
                    </div>
                {% endfor %}
            </div>
            <h4>Pick a namespace to associate with the current profile</h4>
            <div class="row">
                <div class="col-sm-6">
                    <select id="select-root-namespace">
                    {% for rootNamespace in rootNamespaces %}
                        <option value="{{ rootNamespace.id }}">{{ rootNamespace.standardLabel }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6">
                    <div id="loading-icon">
                        <span class="fas fa-spinner fa-spin"></span>
                    </div>
                    <ul class="list-group" id="chosable-namespaces-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        var profileID = {{ profile.id }};
        var urlSelectableClasses = '{{ path("selectable_classes_profile_json", {'profile' : 'profileID'}) }}';
        urlSelectableClasses = urlSelectableClasses.replace("profileID", profileID);

        var urlAssociatedClasses = '{{ path("associated_classes_profile_json", {'profile' : 'profileID'}) }}';
        urlAssociatedClasses = urlAssociatedClasses.replace("profileID", profileID);

        $('#labels-table').DataTable();
        var associatedClassesTable = $('#classes-table').DataTable({
            ajax: urlAssociatedClasses,
            dataSrc: 'data',
            columns: [
                { data: 'id' },
                { data: 'identifierInNamespace' },
                { data: 'standardLabel' },
                { data: 'associationType' },
                { data: 'rootNamespace' }
            ],
            columnDefs: [
                {
                    targets: 2,
                    render: function ( data, type, row, meta ) {
                        var urlClass = '{{ path("class_show", {'id' : 'classID'}) }}';
                        urlClass = urlClass.replace("classID", row.id);

                        var urlRemoveClass = '{{ path("profile_class_disassociation", {'profile' : 'profileID', 'class' : 'classID'}) }}';
                        urlRemoveClass = urlRemoveClass.replace("profileID", profileID);
                        urlRemoveClass = urlRemoveClass.replace("classID", row.id);

                        return '<a data-id="'+row.id+'" data-url="'+urlRemoveClass+'" class="remove-class"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><span class="remove-class-loading-icon" data-id="'+row.id+'" style="display: none"><span class="fas fa-spinner fa-spin"></span></span>&nbsp;<a href="'+urlClass+'">'+data+' – '+row.identifierInNamespace+'</a>';
                    }
                },
                {
                    visible: false,
                    targets: [0,1]
                }
            ]
        });
        var selectableClassesTable = $('#selectable-classes-table').DataTable({
            ajax: urlSelectableClasses,
            dataSrc: 'data',
            columns: [
                { data: 'classId' },
                { data: 'standardLabel' },
                { data: 'rootNamespace' }
            ],
            columnDefs: [
                {
                    targets: 1,
                    render: function ( data, type, row, meta ) {
                        var urlSelectClass = '{{ path("profile_class_association", {'profile' : 'profileID', 'class' : 'classID'}) }}';
                        urlSelectClass = urlSelectClass.replace("profileID", profileID);
                        urlSelectClass = urlSelectClass.replace("classID", row.classId);
                        return '<a data-id="'+row.classId+'" data-url="'+urlSelectClass+'" class="select-class"><span class="plus-icon" data-id="'+row.classId+'"><span class="fas fa-plus"></span></span><span class="select-class-loading-icon" data-id="'+row.classId+'" style="display: none"><span class="fas fa-spinner fa-spin"></span></span></a>&nbsp;' + data;
                    }
                },
                {
                    visible: false,
                    targets: [0]
                }
            ]
        });
        $('#properties-table').DataTable();
        $('#additional-notes-table').DataTable();
        $('#namespaces-table').DataTable();

        $('#loading-icon').hide(0);
        $('.loading-icon2').hide(0);

        $('#select-root-namespace').select2({
            width: '100%',
            sorter: function(data) {
                /* Sort data using lowercase comparison */
                return data.sort(function (a, b) {
                    a = a.text.toLowerCase();
                    b = b.text.toLowerCase();
                    if (a > b) {
                        return 1;
                    } else if (a < b) {
                        return -1;
                    }
                    return 0;
                });
            }
        });

        $('#select-root-namespace').on('select2:select', function (e) {
            $('#loading-icon').show(0);
            $('#chosable-namespaces-list').empty();
            var selectedValue = e.params.data.id;
            var url = '{{ path("namespaces_by_root_id_list_json", {'id': 'selectedValue'}) }}';
            url = url.replace("selectedValue", selectedValue);
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success:function(data){
                    $('#loading-icon').hide(0);

                    // handling the response data from the controller
                    if(data.status == 'Error'){
                        console.log("[API] ERROR: "+data.message);
                    }
                    if(data.status == 'Success'){
                        $.each(data.namespaces, function(key, val){
                            $("#chosable-namespaces-list").append($("<a class=\"list-group-item pickable-namespace\" id="+val.id+">"+val.standardLabel+"</a>"));
                        });
                    }
                }
            });
        });

        $(document).on("mouseenter", ".pickable-namespace", function() {
            $(this).prepend($("<span><i class=\"fas fa-plus\"></i>&nbsp;</span>"));
        });

        $(document).on("mouseleave", ".pickable-namespace", function() {
            $(this).find(":first-child").remove();
        });

        $(document).on("click", ".pickable-namespace", function() {
            var selectedValue = $(this).attr("id");
            var profileID = {{ profile.id }}
            var url = '{{ path("profile_namespace_association", {'profile' : 'profileID','namespace': 'selectedValue'}) }}';
            url = url.replace("profileID", profileID);
            url = url.replace("selectedValue", selectedValue);
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success:function(data){

                    // handling the response data from the controller
                    if(data.status == 'Error'){
                        console.log("[API] ERROR: "+data.message);
                    }
                    if(data.status == 'Success'){
                        selectableClassesTable.ajax.reload();
                    }
                }
            });
            var urlNamespace = '{{ path('namespace_show', {'id' : 'selectedValue'}) }}';
            urlNamespace = urlNamespace.replace('selectedValue', selectedValue);
            $("#empty-namespace-list-message").remove();
            $("#select-root-namespace option:selected").remove();
            $("#used-namespaces-list").append($('<div class="row"><a href="#namespaces" class="remove-namespace" data-id="'+selectedValue+'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="'+urlNamespace+'">'+$(this).text()+'</a><span class="loading-icon2" data-id="'+selectedValue+'">&nbsp;<span class="fas fa-spinner fa-spin"></span></span></div>'));
            $(".loading-icon2[data-id='"+selectedValue+"']").hide(0);
            $("#chosable-namespaces-list").empty();
        });

        $(document).on("click", ".remove-namespace", function() {
            var selectedValue = $(this).data("id");
            var profileID = {{ profile.id }}
            $(".loading-icon2[data-id='"+selectedValue+"']").show(0);
            var url = '{{ path("profile_namespace_disassociation", {'profile' : 'profileID','namespace': 'selectedValue'}) }}';
            url = url.replace("profileID", profileID);
            url = url.replace("selectedValue", selectedValue);
            $.ajax({
                url: url,
                type: 'DELETE',
                dataType: 'json',
                success:function(data){
                    selectableClassesTable.ajax.reload();
                },
                statusCode: {
                    204: function () {
                        $(".remove-namespace[data-id='"+selectedValue+"']").parent().remove();
                    }
                }
            });

        });

        $(document).on("click", ".select-class", function() {
            var selectedValue = $(this).data("id");
            $(".plus-icon[data-id='"+selectedValue+"']").hide(0);
            $(".select-class-loading-icon[data-id='"+selectedValue+"']").css('display','inline');
            var url =  $(this).data("url");
            console.log(url);
            $.ajax({
                url: url ,
                type: 'POST',
                dataType: 'json',
                success:function(data){
                    selectableClassesTable.ajax.reload();
                    associatedClassesTable.ajax.reload();
                }
            });
        });

        $(document).on("click", ".remove-class", function() {
            var selectedValue = $(this).data("id");
            $(".remove-class[data-id='"+selectedValue+"']").hide(0);
            $(".remove-class-loading-icon[data-id='"+selectedValue+"']").css('display','inline');
            var url =  $(this).data("url");
            console.log(url);
            $.ajax({
                url: url ,
                type: 'POST',
                dataType: 'json',
                success:function(data){
                    associatedClassesTable.ajax.reload();
                    selectableClassesTable.ajax.reload();
                }
            });
        });


    } );
</script>


{% endblock %}
