{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Profiles {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Profiles</h3>
    <table class="table table-striped" id="profile-table">
        <thead>
        <tr>
            <th>Profile</th>
            <th>Project of belonging</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles if profile.isRootProfile %}
            <tr>
                <td>
                    <a href="{{ path('profile_show', {
                        'id': profile.id
                    }) }}">
                        {{ profile.standardLabel }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('project_show', {
                        'id': profile.projectOfBelonging.id
                    }) }}">
                        {{ profile.projectOfBelonging.standardLabel }}
                    </a>
                </td>
                <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#profile-table').DataTable({"pageLength":50});

            $('.dataTables_paginate').click(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(this).closest('.dataTables_wrapper').prevAll("h3").offset().top
                }, 1000);
            });
        } );
    </script>
{% endblock %}