{% extends 'base.html.twig' %}

{% block title %}{{ profile.standardLabel }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="profile-name">
            {{ profile.standardLabel }}{% if profile.isRootProfile %}&nbsp;<span class="label label-default" style="font-size: 12px; vertical-align: middle">Root</span>{% endif %}
            <span class="pull-right">
                {% if is_granted('edit', profile) %}
                    <a href="{{ path('profile_edit', {
                        id: profile.id
                    }) }}" class="btn btn-success btn-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}
                {% if app.user is not null and ((not profile.isOngoing and profile.wasClosedAt is not null and profile.endDate is null) or (profile.isForcedPublication and profile.isOngoing)) %}
                    <a  href="{{ path('api_classes_and_properties_by_profile_xml_rdfs', {
                        'profile': profile.id
                    }) }}"
                        class="btn btn-primary"
                        download="profile-{{ profile.standardLabel }}.rdf">
                        <i class="fas fa-code"></i> RDFS
                    </a>
                    <a  href="{{ path('api_classes_and_properties_by_profile_xml', {
                        'profile': profile.id
                    }) }}"
                        class="btn btn-primary"
                        download="profile-{{ profile.standardLabel }}.rdf">
                        <i class="fas fa-code"></i> OWL-DL
                    </a>
                {% endif %}
            </span>
        </h2>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#versions" id="versions-tab">Versions</a></li>
            {% if not profile.isRootProfile %}
                <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
                <li><a data-toggle="tab" href="#classes">Classes</a></li>
                <li><a data-toggle="tab" href="#properties">Properties</a></li>
                <li><a data-toggle="tab" href="#projects">Projects</a></li>
                <li><a data-toggle="tab" href="#graph">Graph</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ profile.standardLabel }}</h3>
                <div class="container">
                    {% if not profile.isPublishable and not profile.isRootProfile %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> Warning:</p>
                            </div>
                            <div class="col-lg-10">
                                <p class="text-danger">This profile comprises classes and/or properties of a namespace whose version is not the selected one. They are displayed in red in your profile. Please make the necessary corrections before proceeding.</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                    {% if not profile.isRootProfile %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Status:</p>
                            </div>
                            <div class="col-lg-10">
                                {% if profile.isOngoing %}
                                    Ongoing
                                {% elseif profile.wasClosedAt is not null and profile.endDate is null %}
                                    Published
                                {% elseif profile.endDate is not null %}
                                    Deprecated
                                {% endif %}
                            </div>
                        </div>

                        {# Additional notes #}
                        {% set hasOneOrManyAdditionalNotes = false %}
                        {% for textProperty in profile.textProperties
                            if textProperty.systemType.id in [33,34,35] %}
                            {% set hasOneOrManyAdditionalNotes = true %}
                        {% endfor %}
                        {% if hasOneOrManyAdditionalNotes %}
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Additional notes:</p>
                                </div>
                                <div class="col-lg-10">
                                    {% for textProperty in profile.textProperties
                                        if textProperty.systemType.id in [33,34,35] %}
                                        {{ textProperty.textProperty|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-2">
                                <p>Version:</p>
                            </div>
                            <div class="col-lg-10">
                                {{ profile.version }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Description</h3>
                <table class="table table-striped" id="descriptions-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% set canSeeInternalNotes = false %}
                {% if app.user is not null %}
                    {% for userProjectAssociation in profile.projectOfBelonging.userProjectAssociations
                        if userProjectAssociation.user.id == app.user.id and userProjectAssociation.permission <= 3 %}
                        {# Seuls les admins et managers du projet peuvent voir les internal notes #}
                        {% set canSeeInternalNotes = true %}
                    {% endfor %}
                {% endif %}
                {% if canSeeInternalNotes %}
                <h3>Internal notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties
                        if textProperty.systemType.id == 33 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>Project of belonging: <a href="{{ path('project_show', {'id': profile.projectOfBelonging.id}) }}">{{ profile.projectOfBelonging.standardLabel }}</a></p>
                {% if not profile.isRootProfile %}
                    {% if profile.isOngoing %}
                        <div class="alert alert-info">
                            <p><i class="fas fa-info-circle"></i>&nbsp;This profile is ongoing</p>
                        </div>
                    {% elseif profile.wasClosedAt is not null and profile.endDate is null %}
                        <p>Profile published and available since: {{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</p>
                    {% elseif profile.endDate is not null %}
                        <p>This profile was published on {{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }} and is <strong>deprecated</strong> and to no longer use since: {{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</p>
                    {% endif %}
                    <p>Version: {{ profile.version }}</p>
                {% else %}
                    <p>This profile is a root profile. Find all its versions in the <a href="#versions" id="versions-tab-link">Versions tab</a>.</p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in profile.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            {% if not profile.isRootProfile %}
                <div id="classes" class="tab-pane fade">
                    <h3>
                        Associated classes
                        <span class="pull-right">
                        {% if (not profile.isOngoing and profile.wasClosedAt is not null and profile.endDate is null)
                            or (profile.isForcedPublication and profile.isOngoing ) %}
                            <a  href="{{ path('api_classes_profile_json', {
                                'lang': 'en',
                                'available-in-profile': profile.id
                            }) }}"
                                class="btn btn-primary">
                                <i class="fas fa-microchip"></i> JSON API
                            </a>
                        {% endif %}
                    </span>
                    </h3>
                    {% if profile.classes|length == 0 %}
                        <em id="empty-namespace-list-message">No class has been associated with this profile.</em>
                    {% else %}
                        <table class="table table-striped" id="classes-table">
                            <thead>
                            <tr>
                                <th>Identifier</th>
                                <th>Class label</th>
                                <th>Namespace</th>
                                <th>Association type</th>
                                <th>View customization</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for class in classes %}
                                {# classes n'est pas un ensemble d'entités ORM, c'est un résultat d'une requête manuelle. #}
                                <tr>
                                    <td>{{ class.identifierInNamespace }}</td>
                                    <td>
                                        <a href="{{ path('class_show_with_version', {
                                            'id': class.id,
                                            'namespaceFromUrlId': class.namespaceForVersion
                                        }) }}">{{ class.standardLabel }}
                                        </a>
                                    </td>
                                    <td>{{ class.namespace }}</td>
                                    <td>{{ class.associationType }}</td>
                                    <td>
                                    {% if class.nbTxtpCustom > 0 %}
                                        {% if class.associationType == "Selected" %}<a href="{{ path('show_customisation', {'id': class.profileAssociationId}) }}" class="btn btn-xs btn-success"><i class="fas fa-eye"></i></a>{% endif %}</td>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div id="properties" class="tab-pane fade">
                    <h3>
                        Associated properties
                        <span class="pull-right">
                        {% if (not profile.isOngoing and profile.wasClosedAt is not null and profile.endDate is null)
                            or (profile.isForcedPublication and profile.isOngoing ) %}
                            <a  href="{{ path('api_properties_profile_json', {
                                'lang': 'en',
                                'available-in-profile': profile.id
                            }) }}"
                                class="btn btn-primary">
                                <i class="fas fa-microchip"></i> JSON API
                            </a>
                        {% endif %}
                    </span>
                    </h3>
                    {% if profile.properties|length == 0 %}
                        <em id="empty-namespace-list-message">No property has been associated with this profile.</em>
                    {% else %}
                        <table class="table table-striped" id="properties-table">
                            <thead>
                            <tr>
                                <th class="text-right">Domain</th>
                                <th></th>
                                <th class="text-center">Identifier</th>
                                <th class="text-center">Property label</th>
                                <th></th>
                                <th>Range</th>
                                <th>Namespace</th>
                                <th>Association type</th>
                                <th>View customization</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for profileAssociation in profileAssociations
                                if profileAssociation.property is not null
                                and profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion) %}
                                <tr>
                                    <td class="text-right small">
                                        {% if profileAssociation.domain is not null %}
                                            {# Propriété héritée #}
                                            <a href="{{ path('class_show_with_version', {
                                                'id': profileAssociation.domain.id,
                                                'namespaceFromUrlId': profileAssociation.domainNamespace.id
                                            }) }}">
                                                {% set domainClassVersion = profileAssociation.domain.classVersionForDisplay(profileAssociation.domainNamespace) %}
                                                {{ domainClassVersion.namespaceForVersion.topLevelNamespace.rootNamespacePrefix }}:{{ domainClassVersion.class.identifierInNamespace }} {{ domainClassVersion.standardLabel }}
                                            </a>
                                        {% elseif profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domain is not null  %}
                                            {# Propriété non héritée #}
                                            <a href="{{ path('class_show_with_version', {
                                                'id': profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domain.id,
                                                'namespaceFromUrlId': profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainNamespace.id
                                            }) }}">
                                                {% set domainClassVersion = profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domain.classVersionForDisplay(profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainNamespace) %}
                                                {{ domainClassVersion.namespaceForVersion.topLevelNamespace.rootNamespacePrefix }}:{{ domainClassVersion.class.identifierInNamespace }} {{ domainClassVersion.standardLabel }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap small" style="padding-left: 30px;">
                                        {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMinQuantifier is not null
                                            and  profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMaxQuantifier is not null %}
                                            (
                                            {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMinQuantifier != -1 %}
                                                {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMinQuantifier }}
                                            {% else %}
                                                n
                                            {% endif %}
                                            ,
                                            {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMaxQuantifier != -1 %}
                                                {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).domainMaxQuantifier }}
                                            {% else %}
                                                n
                                            {% endif %})
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ profileAssociation.property.identifierInNamespace }}
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('property_show_with_version', {
                                            'id': profileAssociation.property.id,
                                            'namespaceFromUrlId': profileAssociation.entityNamespaceForVersion.id
                                        }) }}">
                                            {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).standardLabel }}
                                        </a>
                                    </td>
                                    <td class="text-nowrap small" style="padding-right: 30px;">
                                        {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMinQuantifier is not null
                                            and  profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMaxQuantifier is not null %}
                                            (
                                            {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMinQuantifier != -1 %}
                                                {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMinQuantifier }}
                                            {% else %}
                                                n
                                            {% endif %}
                                            ,
                                            {% if profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMaxQuantifier != -1 %}
                                                {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeMaxQuantifier }}
                                            {% else %}
                                                n
                                            {% endif %})
                                        {% endif %}
                                    </td>
                                    <td class="small">
                                        {% if profileAssociation.range is not null %}
                                            {# propriété héritée #}
                                            <a href="{{ path('class_show_with_version', {
                                                'id': profileAssociation.range.id,
                                                'namespaceFromUrlId': profileAssociation.rangeNamespace.id
                                            }) }}">
                                                {% set rangeClassVersion = profileAssociation.range.classVersionForDisplay(profileAssociation.rangeNamespace) %}
                                                {{ rangeClassVersion.namespaceForVersion.topLevelNamespace.rootNamespacePrefix }}:{{ rangeClassVersion.class.identifierInNamespace }} {{ rangeClassVersion.standardLabel }}
                                            </a>
                                        {% elseif profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).range is not null %}
                                            {# propriété non héritée #}
                                            <a href="{{ path('class_show_with_version', {
                                                'id': profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).range.id,
                                                'namespaceFromUrlId': profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeNamespace.id
                                            }) }}">
                                                {% set rangeClassVersion = profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).range.classVersionForDisplay(profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).rangeNamespace) %}
                                                {{ rangeClassVersion.namespaceForVersion.topLevelNamespace.rootNamespacePrefix }}:{{ rangeClassVersion.class.identifierInNamespace }} {{ rangeClassVersion.standardLabel }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion).namespaceForVersion }}
                                    </td>
                                    <td>
                                        {{ profileAssociation.systemType }}
                                    </td>

                                    <td>
                                        {% set txtPCustom = profileAssociation.textProperties|filter(v => v.namespaceForVersion == profileAssociation.entityNamespaceForVersion)|first %}
                                        {% if txtPCustom|length > 0 %}
                                        <a href="{{ path('show_customisation', {'id': profileAssociation.id}) }}" class="btn btn-xs btn-success">
                                            <span class="fas fa-eye"></span>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div id="projects" class="tab-pane fade">
                    <h3>Projects using the current profile</h3>
                    <table class="table table-striped" id="projects-table">
                        <thead>
                        <tr>
                            <th>Project identifier</th>
                            <th>Last updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in profile.projects %}
                            <tr>
                                <td>
                                    <a href="{{ path('project_show', {
                                        'id': project.id
                                    }) }}">
                                        {{ project.standardLabel }}
                                    </a>
                                </td>
                                <td>{{ project.modificationTime|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div id="versions" class="tab-pane fade">
                <h3>Versions</h3>
                {% if profile.isRootProfile %}
                    <p>
                        {{ profile.standardLabel }} is a <strong>root profile</strong>.
                    </p>
                    {% for ongoingProfile in profile.childProfiles if ongoingProfile.isOngoing %}
                        <p> Ongoing version:
                            <a href="{{ path('profile_show', {'id': ongoingProfile.id, '_fragment': 'versions'}) }}">
                                {{ ongoingProfile }}
                            </a>
                        </p>
                    {% endfor %}
                {% else %}
                    {% if not profile.isOngoing %}
                        <p>
                            {{ profile.standardLabel }} is a <strong>
                                {% if profile.wasClosedAt is not null and profile.endDate is null %}
                                    published
                                {% elseif profile.endDate is not null %}
                                    deprecated
                                {% endif %}
                                profile</strong>.
                        </p>
                    {% endif %}
                    <p>
                        Root profile:
                        <a href="{{ path('profile_show', {'id': profile.rootProfile.id, '_fragment': 'versions'}) }}">
                            {{ profile.rootProfile }} [Root]
                        </a>
                    </p>
                    {% if not profile.isOngoing %}
                        {% for profile in profile.rootProfile.childProfiles if profile.isOngoing %}
                            <p>
                                Ongoing version:
                                <a href="{{ path('profile_show', {'id': profile.id, '_fragment': 'versions'}) }}">
                                    {{ profile }}
                                </a>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <h3>Published versions</h3>
                <table class="table table-striped" id="profile-versions-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Version</th>
                        <th>Status</th>
                        <th>Publication date</th>
                        <th>Current profile</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if profile.isRootProfile %}
                        {% for publishedProfile in profile.childProfiles if not publishedProfile.isOngoing %}
                            <tr>
                                <td>
                                    <a href="{{ path('profile_show', {
                                        'id': publishedProfile.id,
                                        '_fragment': 'versions'
                                    }) }}">
                                        {{ publishedProfile.standardLabel }}
                                    </a>
                                </td>
                                <td>{{ publishedProfile.version }}</td>
                                <td>
                                    {% if publishedProfile.wasClosedAt is not null and publishedProfile.endDate is null %}
                                        Published
                                    {% elseif publishedProfile.endDate is not null %}
                                        Deprecated
                                    {% endif %}
                                </td>
                                <td>{{ publishedProfile.startDate|date('Y-m-d') }}</td>
                                <td>todo</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for publishedProfile in profile.rootProfile.childProfiles if publishedProfile.id != profile.id and not publishedProfile.isOngoing %}
                            <tr>
                                <td>
                                    <a href="{{ path('profile_show', {
                                        'id': publishedProfile.id,
                                        '_fragment': 'versions'
                                    }) }}">
                                        {{ publishedProfile.standardLabel }}
                                    </a>
                                </td>
                                <td>{{ publishedProfile.version }}</td>
                                <td>
                                    {% if publishedProfile.wasClosedAt is not null and publishedProfile.endDate is null %}
                                        Published
                                    {% elseif publishedProfile.endDate is not null %}
                                        Deprecated
                                    {% endif %}
                                </td>
                                <td>{{ publishedProfile.startDate|date('Y-m-d') }}</td>
                                <td>todo</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            </div>
            {% if not profile.isRootProfile %}
                <div id="namespaces" class="tab-pane fade">
                    <h3>Namespaces used by this profile</h3>
                    {% if profile.namespaces|length == 0 %}
                        <em id="empty-namespace-list-message">There is currently no namespace used by this profile.</em>
                    {% endif %}
                    {% for namespace in profile.namespaces %}
                        <div>
                            <a href="{{ path('namespace_show', {
                                'id': namespace.id
                            }) }}">
                                {{ namespace }}
                            </a>
                        </div>
                        {% if namespace.directReferencedNamespaces|length > 0 %}
                            <div class="small text-muted"><strong><em>Referenced:</em></strong></div>
                            <ul>
                                {% for referencedNamespace in namespace.allReferencedNamespaces %}
                                    <li class="list-unstyled" style="border-left: 3px solid darkgrey; padding-left: 5px;">
                                        <em><a href="{{ path('namespace_show', {'id': referencedNamespace.id}) }}">{{ referencedNamespace }}</a></em>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="graph" class="tab-pane fade">
                    <h3>Graph</h3>
                    {% if profile.classes|length > 0 and profile.properties|length > 0 %}
                        <a href="https://betagraph.ontome.net/#url={{ url('profile_json', {'id': profile.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a><br><br>
                        <embed src="https://betagraph.ontome.net/#url={{ url('profile_json', {'id': profile.id}) }}" width="100%" height="1000px"><br><br>
                        <a href="https://betagraph.ontome.net/#url={{ url('profile_json', {'id': profile.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a>
                    {% else %}
                        <p>The webvowl graph cannot be displayed because no class or property has been associated with this profile.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#labels-table').DataTable();
            $('#classes-table').DataTable({
                columnDefs: [
                    { type: 'natural-ci', targets: 0, width: '1%', className: 'text-right' }
                ],
                "autoWidth": false,
                order: [[ 4, 'desc' ],[ 0, 'asc' ]],
                initComplete: function(){
                    this.api().columns([2]).every(function(){
                        var column = this;
                        var select = $('<br><select id="classes-namespace-select" style="width:100%;"><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^'+val+'$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>')
                        });
                    });

                    this.api().columns([3]).every(function(){
                        var column = this;
                        var select = $('<br><select id="classes-status-select" style="width:100%;"></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                if(val == "Selected and inferred") {
                                    column
                                        .search(val ? '^Selected$|^Inferred$' : '', true, false)
                                        .draw();
                                }
                                else{
                                    column
                                        .search(val ? '^'+val+'$' : '', true, false)
                                        .draw();
                                }
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        select.append('<option value="Selected and inferred">Selected and inferred</option>');
                        select.append('<option value="Selected">Selected</option>');
                        select.append('<option value="Inferred">Inferred</option>');
                        select.append('<option value="Rejected">Rejected</option>');
                        /*column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>');
                        });*/
                    });
                    var existsClassesSelectedInProfile = $("#classes-status-select option[value='Selected and inferred']").length !== 0; //détermine si cette valeur est dans le select
                    if (existsClassesSelectedInProfile) {
                        $("#classes-status-select").val('Selected and inferred').change(); //default filter on this column
                    }
                }});
            $('#properties-table').DataTable({
                "autoWidth": false,
                order: [[ 3, 'asc' ]],
                columnDefs: [
                    { type: 'natural-ci', targets: 2, width: '1%', className: 'text-right' }
                ],
                initComplete: function(){
                    this.api().columns([6]).every(function(){
                        var column = this;
                        var select = $('<br><select id="properties-namespace-select" style="width:100%;"><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^'+val+'$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>')
                        });
                    });
                    this.api().columns([7]).every(function(){
                        var column = this;
                        var select = $('<select id="properties-status-select" style="width:100%;"></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^'+val+'$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>')
                        });
                    });
                }
            });
            var existsSelectedInProfile = $("#properties-status-select option[value='Selected']").length !== 0; //détermine si cette valeur est dans le select
            if (existsSelectedInProfile) {
                $("#properties-status-select").val('Selected').change(); //default filter on this column
            }
            $('#descriptions-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#profile-versions-table').DataTable();
            $('#projects-table').DataTable();

            $(document).on("click", "#versions-tab-link", function() {
                $('#versions-tab').trigger('click');
            });

            $("a[href='#graph']").click(
                function(){
                    $(document).ready(function(){
                        window.location.reload();
                    });
                });
        } );
    </script>


{% endblock %}
