{% extends 'base.html.twig' %}

{% block title %}{{ profile.standardLabel }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="profile-name">
            {{ profile.standardLabel }}
            {% if is_granted('edit', profile) %}
                <a href="{{ path('profile_edit', {
                    id: profile.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#projects">Projects</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ profile.standardLabel }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Description</h3>
                <table class="table table-striped" id="descriptions-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties if textProperty.systemType.id == 12 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>Project of belonging: <a href="{{ path('project_show', {'id': profile.projectOfBelonging.id}) }}">{{ profile.projectOfBelonging.standardLabel }}</a></p>
                {% if profile.isOngoing %}
                    <div class="alert alert-info">
                        <p><i class="fas fa-info-circle"></i>&nbsp;This profile is ongoing</p>
                    </div>
                {% elseif profile.wasClosedAt is not null %}
                    <p>Profile published and available since: {{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</p>
                {% elseif profile.endDate is not null %}
                    <p>This profile was published on {{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }} and is <strong>deprecated</strong> and to no longer use since: {{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in profile.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            <div id="classes" class="tab-pane fade">
                <h3>Associated classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Association type</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {% if class.identifierInNamespace != class.standardLabel and class.standardLabel is not null %}
                                        {{ class.standardLabel }} – {{ class.identifierInNamespace }}
                                    {% else %}
                                        {{ class.identifierInNamespace }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ class.associationType }}</td>
                            <td>
                                {{ class.namespace }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Associated properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Namespace</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profileAssociation in profileAssociations if profileAssociation.property is not null %}
                        {% set showProperty = true %}
                        {% if profileAssociation.property.domain is not null %}

                            {% for profileAssociationClass in profileAssociation.property.domain.profileAssociations if profileAssociationClass.profile.id == profileAssociation.profile.id and profileAssociationClass.systemType.id == 6 %}
                                {% set showProperty = false %}
                            {% endfor %}
                        {% endif %}
                        {% if profileAssociation.property.range is not null %}
                            {% for profileAssociationClass in profileAssociation.property.range.profileAssociations if profileAssociationClass.profile.id == profileAssociation.profile.id and profileAssociationClass.systemType.id == 6 %}
                                {% set showProperty = false %}
                            {% endfor %}
                        {% endif %}
                        {% if profileAssociation.domain is not null %}
                            {% for profileAssociationClass in profileAssociation.domain.profileAssociations if profileAssociationClass.profile.id == profileAssociation.profile.id and profileAssociationClass.systemType.id == 6 %}
                                {% set showProperty = false %}
                            {% endfor %}
                        {% endif %}
                        {% if profileAssociation.range is not null %}
                            {% for profileAssociationClass in profileAssociation.range.profileAssociations if profileAssociationClass.profile.id == profileAssociation.profile.id and profileAssociationClass.systemType.id == 6 %}
                                {% set showProperty = false %}
                            {% endfor %}
                        {% endif %}

                        {% if showProperty == true %}
                        <tr>
                            <td class="text-nowrap text-right small">
                                {% if profileAssociation.domain is not null %}
                                    <a href="{{ path('class_show', {'id': profileAssociation.domain.id }) }}">
                                        {{ profileAssociation.domain }}
                                    </a>
                                {% elseif profileAssociation.property.domain is not null  %}
                                    <a href="{{ path('class_show', {'id': profileAssociation.property.domain.id }) }}">
                                        {{ profileAssociation.property.domain }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-nowrap small" style="padding-left: 30px;">
                                {% if profileAssociation.property.domainMinQuantifier is not null and  profileAssociation.property.domainMaxQuantifier is not null %}
                                    ({% if profileAssociation.property.domainMinQuantifier != -1 %}{{ profileAssociation.property.domainMinQuantifier }}{% else %}n{% endif %},{% if  profileAssociation.property.domainMaxQuantifier != -1 %}{{ profileAssociation.property.domainMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap text-center">
                                <a href="{{ path('property_show', {'id': profileAssociation.property.id}) }}">
                                    {{ profileAssociation.property }}
                                </a>
                            </td>
                            <td class="text-nowrap small" style="padding-right: 30px;">
                                {% if profileAssociation.property.rangeMinQuantifier is not null and profileAssociation.property.rangeMaxQuantifier is not null %}
                                    ({% if  profileAssociation.property.rangeMinQuantifier != -1 %}{{ profileAssociation.property.rangeMinQuantifier }}{% else %}n{% endif %},{% if  profileAssociation.property.rangeMaxQuantifier != -1 %}{{ profileAssociation.property.rangeMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap small">
                                {% if profileAssociation.range is not null %}
                                    <a href="{{ path('class_show', {'id': profileAssociation.range.id }) }}">
                                        {{ profileAssociation.range }}
                                    </a>
                                {% elseif profileAssociation.property.range is not null %}
                                    <a href="{{ path('class_show', {'id': profileAssociation.property.range.id }) }}">
                                        {{ profileAssociation.property.range }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if profileAssociation.property.namespaces|first.referencedVersion is not null %}
                                    {{ profileAssociation.property.namespaces|first.referencedVersion }}
                                {% endif %}
                            </td>
                            <td>
                                {{ profileAssociation.systemType }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="projects" class="tab-pane fade">
                <h3>Projects using the current profile</h3>
                <table class="table table-striped" id="projects-table">
                    <thead>
                    <tr>
                        <th>Project identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in profile.projects %}
                        <tr>
                            <td>
                                <a href="{{ path('project_show', {
                                    'id': project.id
                                }) }}">
                                    {{ project.standardLabel }}
                                </a>
                            </td>
                            <td>{{ project.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h4>Namespaces used by this profile</h4>
                {% if profile.namespaces|length == 0 %}
                    <em id="empty-namespace-list-message">There is currently no namespace used by this profile.</em>
                {% endif %}
                <ul id="used-namespaces-list">
                    {% for namespace in profile.namespaces %}
                        <li>
                            <a href="{{ path('namespace_show', {
                                'id': namespace.id
                            }) }}">
                                {{ namespace }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Graph</h3>
                <p class="text-warning"><span class="fa fa-exclamation-circle"></span> Please note this is an experimental feature</p>
                {% if profile.classes|length > 0 and profile.properties|length > 0 %}
                    <a href="http://visualdataweb.de/webvowl/#url={{ url('profile_json', {'id': profile.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a><br><br>
                    <embed src="http://visualdataweb.de/webvowl/#url={{ url('profile_json', {'id': profile.id}) }}" width="100%" height="1000px"><br><br>
                    <a href="http://visualdataweb.de/webvowl/#url={{ url('profile_json', {'id': profile.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a>
                {% else %}
                    <p>The webvowl graph cannot be displayed because there is no class or property in this namespace.</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#labels-table').DataTable();
            $('#classes-table').DataTable();
            $('#properties-table').DataTable({
                initComplete: function(){
                    this.api().columns([6]).every(function(){
                        var column = this;
                        var select = $('<select id="properties-status-select"><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^'+val+'$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>')
                        });
                    });
                }
            });
            var existsSelectedInProfile = $("#properties-status-select option[value='Selected in profile']").length !== 0; //détermine si cette valeur est dans le select
            if (existsSelectedInProfile) {
                $("#properties-status-select").val('Selected in profile').change(); //default filter on this column
            }
            $('#additional-notes-table').DataTable();


            $("a[href='#graph']").click(
                function(){
                    $(document).ready(function(){
                        window.location.reload();
                    });
                });
        } );
    </script>


{% endblock %}
