{% extends 'base.html.twig' %}

{% block title %}{{ profile.standardLabel }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="profile-name">
            {{ profile.standardLabel }}
            {% if is_granted('edit', profile) %}
                <a href="{{ path('profile_edit', {
                    id: profile.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#identification">Profile identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#projects">Projects</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ profile.standardLabel }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>Project of belonging: <a href="{{ path('project_show', {'id': profile.projectOfBelonging.id}) }}">{{ profile.projectOfBelonging.standardLabel }}</a></p>
                <p>Start date: {{ profile.startDate }}</p>
                <p>End date: {{ profile.endDate }}</p>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in profile.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Description</h3>
                <table class="table table-striped" id="descriptions-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties if textProperty.systemType.id == 16 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in profile.textProperties if textProperty.systemType.id == 12 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="classes" class="tab-pane fade">
                <h3>Associated classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Association type</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {% if class.identifierInNamespace != class.standardLabel and class.standardLabel is not null %}
                                        {{ class.standardLabel }} – {{ class.identifierInNamespace }}
                                    {% else %}
                                        {{ class.identifierInNamespace }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ class.associationType }}</td>
                            <td>
                                {{ class.rootNamespace }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Associated properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Namespace</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td class="text-nowrap text-right small">
                                {% if property.domain is not null %}
                                    <a href="{{ path('class_show', {'id': property.domain.id }) }}">
                                        {{ property.domain }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-nowrap small" style="padding-left: 30px;">
                                {% if property.domainMinQuantifier is not null and property.domainMaxQuantifier is not null %}
                                    ({% if  property.domainMinQuantifier != -1 %}{{ property.domainMinQuantifier }}{% else %}n{% endif %},{% if  property.domainMaxQuantifier != -1 %}{{ property.domainMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap text-center">
                                <a href="{{ path('property_show', {'id': property.id}) }}">
                                    {{ property }}
                                </a>
                            </td>
                            <td class="text-nowrap small" style="padding-right: 30px;">
                                {% if property.rangeMinQuantifier is not null and property.rangeMaxQuantifier is not null %}
                                    ({% if  property.rangeMinQuantifier != -1 %}{{ property.rangeMinQuantifier }}{% else %}n{% endif %},{% if  property.rangeMaxQuantifier != -1 %}{{ property.rangeMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap small">
                                {% if property.range is not null %}
                                    <a href="{{ path('class_show', {'id': property.range.id }) }}">
                                        {{ property.range }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if property.namespaces|first.referencedVersion is not null %}
                                    {{ property.namespaces|first.referencedVersion }}
                                {% endif %}
                            </td>
                            <td>
                                {% for profileAssociation in property.profileAssociations %}
                                    {% if profileAssociation.profile.id == profile.id %}
                                        {{ profileAssociation.systemType }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="projects" class="tab-pane fade">
                <h3>Associated projects</h3>
                <table class="table table-striped" id="projects-table">
                    <thead>
                    <tr>
                        <th>Project identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in profile.projects %}
                        <tr>
                            <td>
                                <a href="{{ path('project_show', {
                                    'id': project.id
                                }) }}">
                                    {{ project.standardLabel }}
                                </a>
                            </td>
                            <td>{{ project.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h4>Namespaces used by this profile</h4>
                {% if profile.namespaces|length == 0 %}
                    <em id="empty-namespace-list-message">There is currently no namespace used by this profile.</em>
                {% endif %}
                <ul id="used-namespaces-list">
                    {% for namespace in profile.namespaces %}
                        <li>
                            <a href="{{ path('namespace_show', {
                                'id': namespace.id
                            }) }}">
                                {{ namespace }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#labels-table').DataTable();
            $('#classes-table').DataTable();
            $('#properties-table').DataTable({
                initComplete: function(){
                    this.api().columns([6]).every(function(){
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function(){
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^'+val+'$' : '', true, false)
                                    .draw();
                            });

                        $(select).click(function(e){
                            e.stopPropagation();
                        });

                        column.data().unique().sort().each(function(d, j){
                            select.append('<option value="'+d+'">'+d+'</option>')
                        });
                    });
                }
            });
            $('#additional-notes-table').DataTable();
        } );
    </script>


{% endblock %}
