{% extends 'base.html.twig' %}

{% block title %}{{ propertyVersion }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block body %}

    <div class="container">
        <div class="clearfix">
            <div class="pull-right" style="margin-top: 20px; margin-bottom: 10px;">
                <div class="dropdown inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownVersions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ propertyVersion.namespaceForVersion }}
                        <span class="label label-{{ propertyVersion.namespaceForVersion.status.classCss }}">
                            {{ propertyVersion.namespaceForVersion.status.label }}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownVersions">
                        {% if propertyVersion.property.propertyVersions|length > 1 %}
                            {% for otherPropertyVersion in propertyVersion.property.propertyVersions if otherPropertyVersion != propertyVersion %}
                                <li>
                                    <a href="#">{{ otherPropertyVersion.namespaceForVersion }}
                                        <span class="label label-{{ otherPropertyVersion.namespaceForVersion.status.classCss }}">
                                            {{ otherPropertyVersion.namespaceForVersion.status.label }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="disabled">
                                <a href="#">No other version</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <h2>{{ propertyVersion }} ns:{% for i in namespacesId %}{{ i }};{% endfor %}</h2>
            {% if propertyVersion.property.propertyOfOrigin is not null %}
                [inherited, cf. <a href="{{ path('property_show', {'id': propertyVersion.property.propertyOfOrigin.id}) }}" target="_blank"><em>original</em></a>]
            {% endif %}
        </div>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#property-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#comments" class="updateViewComment" data-id="{{ propertyVersion.property.id }}" data-object="property">Comments <span class="badge {% if propertyVersion.property.comments|length > 0  %}progress-bar-danger {% endif %}">{{ propertyVersion.property.comments|length }}</span></a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>
                    {% if propertyVersion.property.identifierInNamespace != propertyVersion.property.standardLabel %}
                        {{ propertyVersion.property.identifierInNamespace }} {{ propertyVersion.property.standardLabel }}
                    {% else %}
                        {{ propertyVersion.property.standardLabel }}
                    {% endif %}
                </h3>
                <div class="container">
                    {% if domainRange is not null and domainRange.domainId is not null %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Domain:</p>
                            </div>
                            <div class="col-lg-10">
                                <p>
                                    <a href="{{ path('class_show', {'id': domainRange.domainId}) }}">{{ domainRange.domainIdentifier }}</a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if domainRange is not null and domainRange.rangeId is not null %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Range:</p>
                            </div>
                            <div class="col-lg-10">
                                <p>
                                    <a href="{{ path('class_show', {'id': domainRange.rangeId }) }}">{{ domainRange.rangeIdentifier }}</a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if propertyVersion.property.childPropertyAssociations|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Subproperty of:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for association in propertyVersion.property.childPropertyAssociations
                                        if association.namespaceForVersion.id in namespacesId %}
                                        <li>
                                            {% if association.parentProperty.domain is not null %}
                                                <a href="{{ path('class_show', {'id': association.parentProperty.domain.id}) }}">
                                                    {{ association.parentProperty.domain.identifierInNamespace }} {{ association.parentProperty.domain.standardLabel }}
                                                </a>
                                            {% endif %} →
                                            <a href="{{ path('property_show', {'id': association.parentProperty.id}) }}">
                                                {{ association.parentProperty.identifierInNamespace }} {{ association.parentProperty.standardLabel }}
                                            </a> →
                                            {% if association.parentProperty.range is not null %}
                                                <a href="{{ path('class_show', {'id': association.parentProperty.range.id}) }}">
                                                    {{ association.parentProperty.range.identifierInNamespace }} {{ association.parentProperty.range.standardLabel }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if propertyVersion.property.parentPropertyAssociations|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Superproperty of:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for association in propertyVersion.property.parentPropertyAssociations
                                        if association.namespaceForVersion.id in namespacesId %}
                                        <li>
                                            {% if association.childProperty.domain is not null %}
                                                <a href="{{ path('class_show', {'id': association.childProperty.domain.id}) }}">
                                                    {{ association.childProperty.domain.identifierInNamespace }} {{ association.childProperty.domain.standardLabel }}
                                                </a>
                                            {% endif %}
                                            →
                                            <a href="{{ path('property_show', {'id': association.childProperty.id}) }}">
                                                {{ association.childProperty.identifierInNamespace }} {{ association.childProperty.standardLabel }}
                                            </a> →
                                            {% if association.childProperty.range is not null %}
                                                <a href="{{ path('class_show', {'id': association.childProperty.range.id}) }}">
                                                    {{ association.childProperty.range.identifierInNamespace }} {{ association.childProperty.range.standardLabel }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Quantification:</p>
                        </div>
                        <div class="col-lg-10">
                            {% if propertyVersion.quantifiers is not null %}
                                <p>{{ propertyVersion.quantifiers }}</p>
                            {% else %}
                                <p><i>No quantifiers yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                    {% if propertyVersion.property.entityAssociations|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Relations:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% set relationCount = 0 %}
                                    {% for relation in property.entityAssociations
                                        if relation.systemType.id == 18
                                        or relation.systemType.id == 20
                                        and relation.namespaceForVersion.id in namespacesId %}
                                        {% set relationCount = relationCount + 1 %}
                                    {% endfor %}
                                    {% if relationCount > 0 %}
                                        <li>{{ relation.systemType.standardLabel }}
                                            {% if relation.sourceProperty.id == property.id %}
                                                <a href="{{ path("property_show", {'id': relation.targetProperty.id }) }}">
                                                    {{ relation.targetProperty.invertedLabel }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path("property_show", {'id': relation.sourceProperty.id }) }}">
                                                    {{ relation.sourceProperty.invertedLabel }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Scope note:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set scopeNote=null %}
                            {% set break=false %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 1=Scope note #}
                            {# Retrouver en priorité le scope note en anglais #}
                            {% for textProperty in propertyVersion.property.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 1
                                and not break %}
                                {% if textProperty.languageIsoCode == 'en' %}
                                    {% set break = true %}{# En anglais donc prioritaire: break #}
                                    {% set scopeNote = textProperty.textProperty %}
                                {% else %}
                                    {% if scopeNote is null %}
                                        {% set scopeNote = textProperty.textProperty %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if scopeNote is null %}
                                {% set scopeNote = '<i>No scope note yet.</i>' %}
                            {% endif %}
                            {{ scopeNote|raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Examples:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set isExamplesEmpty = true %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 7=Example #}
                            {% for textProperty in propertyVersion.property.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 7 %}
                                {% set isExamplesEmpty = false %}
                                {{ textProperty.textProperty|raw }}
                            {% endfor %}
                            {% if isExamplesEmpty %}
                                <p><i>No example yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>In First Order Logic:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                                <li>{{ propertyVersion.property.identifierInNamespace }}(x,y) ⊃ {{ propertyVersion.property.domain.identifierInNamespace }}(x)</li>
                                <li>{{ propertyVersion.property.identifierInNamespace }}(x,y) ⊃ {{ propertyVersion.property.range.identifierInNamespace }}(y)</li>
                                {% for association in propertyVersion.property.childPropertyAssociations
                                    if association.namespaceForVersion.id in namespacesId %}
                                    <li>{{ propertyVersion.property.identifierInNamespace }}(x,y) ⊃ {{ association.parentProperty.identifierInNamespace }}(x,y)</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'scope-note', 'object': 'property', 'objectId': propertyVersion.property.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in propertyVersion.property.textProperties
                        if textProperty.systemType.id == 1
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'example', 'object': 'property', 'objectId': propertyVersion.property.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in propertyVersion.property.textProperties
                        if textProperty.systemType.id == 7
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'additional-note', 'object': 'property', 'objectId': propertyVersion.property.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in propertyVersion.property.textProperties
                        if textProperty.systemType.id == 12
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {# Test de vérification si cet identifiant existe déjà dans un namespace fermé (il n'est donc plus éditable #}
                {% set isIdentifierExistAndPublished = false %}
                {% for namespace in propertyVersion.property.namespaces %}
                    {% if not namespace.isOngoing %}
                        {% for propertyNamespace in namespace.properties %}
                            {% if propertyNamespace.identifierInNamespace == property.identifierInNamespace %}
                                {% set isIdentifierExistAndPublished = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if propertyVersion.namespaceForVersion.topLevelNamespace.propertyPrefix is null and not isIdentifierExistAndPublished %}
                    <div id="identifier-form-block">
                        {{ form_start(propertyIdentifierForm) }}
                        {{ form_errors(propertyIdentifierForm) }}
                        <p>{{ form_row(propertyIdentifierForm.identifierInNamespace) }}</p>
                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        <button type="button" id="identifier-edit-btn-close" class="btn">Close</button>
                        {{ form_end(propertyIdentifierForm) }}
                    </div>
                    <h3 id="identifier-details-block">Identifier : {{ propertyVersion.property.identifierInNamespace }}<a class="btn" id="identifier-edit-btn" href="#identification"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h3>
                {% else %}
                    <h3 id="identifier-details-block">Identifier : {{ propertyVersion.property.identifierInNamespace }}</h3>
                {% endif %}
                {% if domainRange is not empty %}
                    <h3>Domain and range</h3>
                    <div id="domain-range-form-block">
                        {{ form_start(propertyForm) }}
                        <div class="row well well-sm" style="margin: 19px 0;">
                            <div class="col-lg-2">
                                <p class="text-center"><label>Domain</label></p>
                                <p>{{ form_widget(propertyForm.domain) }}</p>
                            </div>
                            <div class="col-lg-2">
                                <p class="text-center"><label>Domain quantifiers</label></p>
                                <div class="row">
                                    <div class="col-md-6" style="padding:0;">{{ form_widget(propertyForm.domainMinQuantifier) }}</div>
                                    <div class="col-md-6" style="padding:0;">{{ form_widget(propertyForm.domainMaxQuantifier) }}</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <p class="text-center"><label>Property</label></p>
                                <p class="text-center">→ {{ propertyVersion.property.standardLabel }} →</p>
                            </div>
                            <div class="col-lg-2">
                                <p class="text-center"><label>Range quantifiers</label></p>
                                <div col="row">
                                    <div class="col-md-6" style="padding:0;">{{ form_widget(propertyForm.rangeMinQuantifier) }}</div>
                                    <div class="col-md-6" style="padding:0;">{{ form_widget(propertyForm.rangeMaxQuantifier) }}</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <p class="text-center"><label>Range</label></p>
                                <p>{{ form_widget(propertyForm.range) }}</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        {{ form_end(propertyForm) }}
                    </div>
                    <p id="domain-range-details-block">
                        <a href="{{ path('class_show', {'id': domainRange.domainId}) }}">{{ domainRange.domainIdentifier }}</a> → {{ domainRange.propertyIdentifier }} → <a href="{{ path('class_show', {'id': domainRange.rangeId}) }}">{{ domainRange.rangeIdentifier }}</a>
                        {% if propertyVersion.quantifiers is not null %}
                            &nbsp;(Quantifiers {{ propertyVersion.quantifiers }})
                        {% endif %}
                        <a class="btn" id="domain-range-edit-btn" href="#identification"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </p>
                {% endif %}
                <div class="pull-right add-div">
                    <a href="{{ path('label_new', {'object': 'property', 'objectId': propertyVersion.property.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in propertyVersion.property.labels
                        if label.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">{{ label.label }} {% if label.inverseLabel != ""%}({{ label.inverseLabel }}){% endif %}</a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}#comments" data-id="{{ label.id }}" data-object="label">
                                    <span class="badge {% if label.comments|length > 0  %}progress-bar-danger {% endif %}">{{ label.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    : Standard label for this language
                </p>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in propertyVersion.property.namespaces %}
                        <tr {% if namespace.id == propertyVersion.namespaceForVersion.id %}class="success"{% endif %}>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.id
                                }) }}">
                                    {{ namespace }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="property-hierarchy" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('new_parent_property_form', {'childProperty': propertyVersion.property.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h3>Parent properties
                    {% set tooltipProperty = "rdfs:subpropertyOf the property below" %}
                    {% if propertyVersion.property.childPropertyAssociations|length > 1  %}
                        {% set tooltipProperty = "rdfs:subpropertyOf the properties listed below" %}
                    {% endif %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ propertyVersion.property }} {{ tooltipProperty }}">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="parent-properties-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Justification</th>
                        <th>Relation namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in propertyVersion.property.childPropertyAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td class="text-right small">
                                {% if association.parentProperty.domain is not null %}
                                    <a href="{{ path('class_show', {'id': association.parentProperty.domain.id }) }}">
                                        {{ association.parentProperty.domain }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="small" style="padding-left: 30px;">
                                {% if association.parentProperty.domainMinQuantifier is not null and association.parentProperty.domainMaxQuantifier is not null %}
                                    ({% if  association.parentProperty.domainMinQuantifier != -1 %}{{ association.parentProperty.domainMinQuantifier }}{% else %}n{% endif %},{% if  association.parentProperty.domainMaxQuantifier != -1 %}{{ association.parentProperty.domainMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('property_show', {
                                    'id': association.parentProperty.id,
                                    '_fragment': 'property-hierarchy'
                                }) }}">
                                    {{ association.parentProperty.invertedLabel }}
                                </a>
                            </td>
                            <td class="small" style="padding-right: 30px;">
                                {% if association.parentProperty.rangeMinQuantifier is not null and association.parentProperty.rangeMaxQuantifier is not null %}
                                    ({% if  association.parentProperty.rangeMinQuantifier != -1 %}{{ association.parentProperty.rangeMinQuantifier }}{% else %}n{% endif %},{% if  association.parentProperty.rangeMaxQuantifier != -1 %}{{ association.parentProperty.rangeMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="small">
                                {% if association.parentProperty.range is not null %}
                                    <a href="{{ path('class_show', {'id': association.parentProperty.range.id }) }}">
                                        {{ association.parentProperty.range }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if association.namespaces is not null %}
                                    {% for ns in association.namespaces %}
                                        {{ ns.standardLabel }}
                                    {% endfor %}
                                {% else %}
                                    WIP
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('property_association_edit', {'id': association.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-edit"></span></a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('property_association_show', {
                                    'id': association.id
                                }) }}#comments" data-id="{{ association.id }}" data-object="property-association">
                                    <span class="badge {% if association.comments|length > 0  %}progress-bar-danger {% endif %}">{{ association.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor properties</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Depth</th>
                        <th>Property namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td class="text-right small">
                                {% if ancestor.domainIdentifier is not null %}
                                    <a href="{{ path('class_show', {'id': ancestor.has_domain }) }}">
                                        {% if ancestor.domainStandardLabel == ancestor.domainIdentifier %}
                                            {{ ancestor.domainStandardLabel }}
                                        {% else %}
                                            {{ ancestor.domainStandardLabel }} – {{ ancestor.domainIdentifier }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="small" style="padding-left: 30px;">
                                {% if ancestor.domain_instances_min_quantifier is not null and ancestor.domain_instances_max_quantifier is not null %}
                                    ({% if  ancestor.domain_instances_min_quantifier != -1 %}{{ ancestor.domain_instances_min_quantifier }}{% else %}n{% endif %},{% if  ancestor.domain_instances_max_quantifier != -1 %}{{ ancestor.domain_instances_max_quantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('property_show', {
                                    'id': ancestor.id,
                                    '_fragment': 'property-hierarchy'
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td class="small" style="padding-right: 30px;">
                                {% if ancestor.range_instances_min_quantifier is not null and ancestor.range_instances_max_quantifier is not null %}
                                    ({% if  ancestor.range_instances_min_quantifier != -1 %}{{ ancestor.range_instances_min_quantifier }}{% else %}n{% endif %},{% if  ancestor.range_instances_max_quantifier != -1 %}{{ ancestor.range_instances_max_quantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="small">
                                {% if ancestor.rangeIdentifier is not null %}
                                    <a href="{{ path('class_show', {'id': ancestor.has_range }) }}">
                                        {% if ancestor.rangeStandardLabel == ancestor.rangeIdentifier %}
                                            {{ ancestor.rangeStandardLabel }}
                                        {% else %}
                                            {{ ancestor.rangeStandardLabel }} – {{ ancestor.rangeIdentifier }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.propertyNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant properties</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Depth</th>
                        <th>Property namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td class="text-right small">
                                {% if descendant.domainIdentifier is not null %}
                                    <a href="{{ path('class_show', {'id': descendant.has_domain }) }}">
                                        {% if descendant.domainStandardLabel == descendant.domainIdentifier %}
                                            {{ descendant.domainStandardLabel }}
                                        {% else %}
                                            {{ descendant.domainStandardLabel }} – {{ descendant.domainIdentifier }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="small" style="padding-left: 30px;">
                                {% if descendant.domain_instances_min_quantifier is not null and descendant.domain_instances_max_quantifier is not null %}
                                    ({% if  descendant.domain_instances_min_quantifier != -1 %}{{ descendant.domain_instances_min_quantifier }}{% else %}n{% endif %},{% if  descendant.domain_instances_max_quantifier != -1 %}{{ descendant.domain_instances_max_quantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('property_show', {
                                    'id': descendant.id,
                                    '_fragment': 'property-hierarchy'
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td class="small" style="padding-right: 30px;">
                                {% if descendant.range_instances_min_quantifier is not null and descendant.range_instances_max_quantifier is not null %}
                                    ({% if  descendant.range_instances_min_quantifier != -1 %}{{ descendant.range_instances_min_quantifier }}{% else %}n{% endif %},{% if  descendant.range_instances_max_quantifier != -1 %}{{ descendant.range_instances_max_quantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="small">
                                {% if descendant.rangeIdentifier is not null %}
                                    <a href="{{ path('class_show', {'id': descendant.has_range }) }}">
                                        {% if descendant.rangeStandardLabel == descendant.rangeIdentifier %}
                                            {{ descendant.rangeStandardLabel }}
                                        {% else %}
                                            {{ descendant.rangeStandardLabel }} – {{ descendant.rangeIdentifier }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.propertyNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="relations" class="tab-pane fade">
                {% if is_granted('edit', propertyVersion) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_entity_association_form', {
                            'object': 'property',
                            'objectId': propertyVersion.property.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Related properties</h3>
                <table class="table table-striped" id="relations-table">
                    <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Property</th>
                        <th>Justification</th>
                        <th>Relation namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for relation in propertyVersion.property.entityAssociations
                        if relation.systemType.id == 18
                        or relation.systemType.id == 20
                        and relation.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>{{ relation.systemType }}</td>
                            {% if property.id == relation.sourceProperty.id %}
                                <td><a href="{{ path('property_show', {
                                        'id': relation.targetProperty.id
                                    }) }}">
                                        {{ relation.targetProperty.invertedLabel }}
                                    </a>
                                </td>
                            {% else %}
                                <td><a href="{{ path('property_show', {
                                        'id': relation.sourceProperty.id
                                    }) }}">
                                        {{ relation.sourceProperty.invertedLabel }}
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {% if relation.textProperties is not null %}
                                    {% for textProperty in relation.textProperties if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if relation.namespaces is not null %}
                                    {% if relation.namespaces|first.topLevelNamespace is not null %}
                                        {{ relation.namespaces|first.topLevelNamespace }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if property.id == relation.sourceProperty.id %}
                                    <a href="{{ path('entity_association_edit', {
                                        'id': relation.id
                                    }) }}" class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('entity_association_inverse_edit', {
                                        'id': relation.id
                                    }) }}" class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if property.id == relation.sourceProperty.id %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_edit', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% else %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_inverse_edit', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in propertyVersion.property.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</td>
                            <td>{{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if propertyVersion.property.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in propertyVersion.property.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'property', 'objectId' : propertyVersion.property.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#scope-notes-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ],
                "autoWidth": false
            });
            $('#examples-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ],
                "autoWidth": false
            });
            $('#parent-properties-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 5, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 5, "asc" ]]
            });
            $('#relations-table').DataTable();
            $('#profiles-table').DataTable();

            $('#property_edit_form_domain').select2({
                width: '100%',
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });

            $('#property_edit_form_range').select2({
                width: '100%',
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });
            $('#domain-range-form-block').hide(0);

            $('#domain-range-edit-btn').click(function(){
                $('#domain-range-details-block').hide(200);
                $('#domain-range-form-block').show(200);
            });

            {% if not propertyIdentifierForm.vars.valid %}
            $('#identifier-details-block').hide(0);
            {% else %}
            $('#identifier-form-block').hide(0);
            {% endif %}

            $('#identifier-edit-btn').click(function(){
                $('#identifier-details-block').hide(200);
                $('#identifier-form-block').show(200);
            });

            $('#identifier-edit-btn-close').click(function(){
                $('#identifier-details-block').show(200);
                $('#identifier-form-block').hide(200);
            });

            $('[data-toggle="tooltip"]').tooltip();

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });
        } );
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'property', 'objectId' : propertyVersion.property.id  } %}

{% endblock %}
