{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Properties</h3>
    <table class="table table-striped" id="property-table">
        <thead>
        <tr>
            <th class="text-right">Domain</th>
            <th></th>
            <th class="text-center">Property</th>
            <th></th>
            <th>Range</th>
            <th>Namespace</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td class="text-right small">
                    {% if property.domain is not null %}
                        <a href="{{ path('class_show', {'id': property.domain.id }) }}">
                            {{ property.domain }}
                        </a>
                    {% endif %}
                </td>
                <td class="small" style="padding-left: 30px;">
                    {% if property.domainMinQuantifier is not null and property.domainMaxQuantifier is not null %}
                        ({% if  property.domainMinQuantifier != -1 %}{{ property.domainMinQuantifier }}{% else %}n{% endif %},{% if  property.domainMaxQuantifier != -1 %}{{ property.domainMaxQuantifier }}{% else %}n{% endif %})
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ path('property_show', {'id': property.id}) }}">
                        {{ property }}
                    </a>
                </td>
                <td class="small" style="padding-right: 30px;">
                    {% if property.rangeMinQuantifier is not null and property.rangeMaxQuantifier is not null %}
                        ({% if  property.rangeMinQuantifier != -1 %}{{ property.rangeMinQuantifier }}{% else %}n{% endif %},{% if  property.rangeMaxQuantifier != -1 %}{{ property.rangeMaxQuantifier }}{% else %}n{% endif %})
                    {% endif %}
                </td>
                <td class="small">
                    {% if property.range is not null %}
                        <a href="{{ path('class_show', {'id': property.range.id }) }}">
                            {{ property.range }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if property.namespaces|first.referencedVersion is not null %}
                        {{ property.namespaces|first.referencedVersion }}
                    {% endif %}
                </td>
                <td>{{ property.modificationTime|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#property-table').DataTable({
                "order": [[2, 'asc']],
                "pageLength":50,
                "columnDefs": [
                    { "width": "1%", "orderable": false, "targets": 1 },
                    { "width": "1%", "orderable": false, "targets": 3 }
            });
        });
    </script>
{% endblock %}