{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Properties</h3>
    <table class="table table-striped" id="property-table">
        <thead>
        <tr>
            <th>Property identifier</th>
            <th>Namespace URI</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td>
                        <a href="{{ path('property_show', {
                            'id': property.id
                        }) }}">
                            {{ property.identifierInNamespace }}
                        </a>
                    </td>
                    <td>
                        {% if property.namespaces|first.referencedVersion is not null %}
                            {{ property.namespaces|first.referencedVersion.namespaceURI }}
                        {% endif %}
                    </td>
                    <td>{{ property.modificationTime|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
        $('#property-table').DataTable();
    } );
    </script>
{% endblock %}