{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Properties {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Properties</h3>
    <table class="table table-striped" id="property-table">
        <thead>
            <tr>
                <th class="text-right">Domain</th>
                <th></th>
                <th class="text-center">Property</th>
                <th></th>
                <th>Range</th>
                <th>Namespace</th>
                <th>Last updated</th>
            </tr>
        </thead>
        <tbody>
            {# Rappel : "properties" est déjà filtrée : toutes ces propriétés ont au moins une propertyVersion compatible avec le filtrage #}
            {# Inutile donc de refiltrer sur properties #}
            {% for property in properties %}
                {# Une version par root est activé pour filtrage, donc pas possible d'avoir 2 propriétés identiques affichées #}
                {# Donc l'utilisation de la boucle est justifiée par la condition if, et qui ne retournera qu'une propriété #}
                {% for propertyVersion in property.propertyVersions if propertyVersion.namespaceForVersion.id in namespacesId %}
                <tr>
                    <td class="text-right small">
                        {% if propertyVersion.domain is not null and propertyVersion.domainNamespace is not null %}
                            {# Initialisation #}
                            {% set isGoodNamespace = true %}
                            {% set route = 'class_show_with_version' %}
                            {% set route_params = {'id': propertyVersion.domain.id,  'namespaceFromUrlId': propertyVersion.domainNamespace.id } %}

                            {# Vérification #}
                            {% if propertyVersion.domainNamespace.id not in propertyVersion.namespaceForVersion.selectedNamespacesId %}
                                {% set isGoodNamespace = false %}
                                {% set route = 'namespace_show' %}
                                {% set route_params = {'id': propertyVersion.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                            {% endif %}

                            <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                {{ propertyVersion.domain.classVersionForDisplay(propertyVersion.domainNamespace) }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center small" style="padding-left: 30px;">
                        {{ propertyVersion.domainQuantifiers }}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('property_show_with_version', {
                            'id': property.id,
                            'namespaceFromUrlId': propertyVersion.namespaceForVersion.id
                        }) }}">
                            {{ propertyVersion }}
                        </a>
                    </td>
                    <td class="text-center small" style="padding-right: 30px;">
                        {{ propertyVersion.rangeQuantifiers }}
                    </td>
                    <td class="small">
                        {% if propertyVersion.range is not null and propertyVersion.rangeNamespace is not null %}
                            {# Initialisation #}
                            {% set isGoodNamespace = true %}
                            {% set route = 'class_show_with_version' %}
                            {% set route_params = {'id': propertyVersion.range.id,  'namespaceFromUrlId': propertyVersion.rangeNamespace.id } %}

                            {# Vérification #}
                            {% if propertyVersion.rangeNamespace.id not in propertyVersion.namespaceForVersion.selectedNamespacesId %}
                                {% set isGoodNamespace = false %}
                                {% set route = 'namespace_show' %}
                                {% set route_params = {'id': propertyVersion.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                            {% endif %}

                            <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                {{ propertyVersion.range.classVersionForDisplay(propertyVersion.rangeNamespace) }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ propertyVersion.namespaceForVersion.referencedVersion }}
                    </td>
                    <td>
                        {% if propertyVersion.modificationTime is not null %}
                            {{ propertyVersion.modificationTime|date('Y-m-d') }}
                        {% else %}
                            {{ propertyVersion.creationTime|date('Y-m-d') }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#property-table').DataTable({
                "order": [[2, 'asc']],
                "pageLength":50,
                "columnDefs": [
                    { "width": "1%", "orderable": false, "targets": 1 },
                    { "width": "1%", "orderable": false, "targets": 3 }]
            });
        });
    </script>
{% endblock %}