{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ property }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="property-name">
            {{ property }}
            {% if property.propertyOfOrigin is not null %}
                [inherited, cf. <a href="{{ path('property_show', {'id': property.propertyOfOrigin.id}) }}" target="_blank"><em>original</em></a>]
            {% endif %}
            {% if is_granted('edit', property) %}
                <a href="{{ path('property_edit', {
                    id: property.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Scope Notes</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#property-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#equivalences">Equivalences</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in property.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in property.textProperties if textProperty.systemType.id == 7 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in property.textProperties if textProperty.systemType.id == 12 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {% if domainRange is not empty %}
                <h3>Domain and range</h3>
                    <p>
                        <a href="{{ path('class_show', {'id': domainRange.domainId}) }}">{{ domainRange.domainIdentifier }}</a> → {{ domainRange.propertyIdentifier }} → <a href="{{ path('class_show', {'id': domainRange.rangeId}) }}">{{ domainRange.rangeIdentifier }}</a>
                        {% if property.quantifiers is not null %}
                            &nbsp;(Quantifiers {{ property.quantifiers }})
                        {% endif %}
                    </p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in property.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace URI</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in property.namespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.id
                                }) }}">
                                    {{ namespace.namespaceURI }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="property-hierarchy" class="tab-pane fade">
                {% if is_granted('edit', property) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_parent_property_form', {'childProperty': property.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Parent properties</h3>
                <table class="table table-striped" id="parent-properties-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Explanation</th>
                        <th>Root namespace</th>
                        <th>
                            {% if is_granted('edit', property) %}
                                Edit association
                            {% else %}
                                View association
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in property.childPropertyAssociations %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': association.parentProperty.id
                                }) }}">
                                    {{ association.parentProperty }}
                                </a>
                            </td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties if textProperty.systemType.id == 1 and textProperty.languageIsoCode == 'en' %}
                                        <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if association.parentProperty.namespaces is not null %}
                                    {% if association.parentProperty.namespaces|first.topLevelNamespace is not null %}
                                        {{ association.parentProperty.namespaces|first.topLevelNamespace.namespaceURI }}
                                    {% endif %}
                                {% else %}
                                    WIP
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('edit', property) %}
                                    <a href="{{ path('property_association_edit', {
                                        'id': association.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('property_association_show', {
                                        'id': association.id
                                    }) }}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor properties</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ancestor.id
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant properties</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': descendant.id
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="equivalences" class="tab-pane fade">
                <h3>Equivalent properties</h3>

            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in property.profiles %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate}}</td>
                            <td>{{ profile.endDate}}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if property.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in property.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'property', 'objectId' : property.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#scope-notes-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ]
            });
            $('#examples-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ]
            });
            $('#parent-properties-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#profiles-table').DataTable();
        } );
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'property', 'objectId' : property.id  } %}

{% endblock %}
