{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ property.identifierInNamespace }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="property-name">{{ property.identifierInNamespace }}</h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Scope Notes</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#property-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#equivalences">Equivalences</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in property.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                    <span>{{ textProperty.textProperty}}</span>
                                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in property.textProperties if textProperty.systemType.id == 7 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty}}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {% if domainRange is not null %}
                <h3>Domain and range</h3>
                    <p><a href="{{ path('class_show', {'id': domainRange.domainId}) }}">{{ domainRange.domainIdentifier }}</a> → {{ domainRange.propertyIdentifier }} → <a href="{{ path('class_show', {'id': domainRange.rangeId}) }}">{{ domainRange.rangeIdentifier }}</a></p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in property.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace URI</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in property.namespaces %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ namespace.namespaceURI }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="property-hierarchy" class="tab-pane fade">
                <h3>Parent and ancestor properties</h3>
                <table class="table table-striped" id="ancestors-properties-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Namespace</th>
                        <th>Depth</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ancestor.id
                                    }) }}"
                                   title="{{ ancestor.ancestors }}">
                                    {{ ancestor.parentIdentifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.namespaces }}</td>
                            <td>{{ ancestor.depth }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Depth</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': descendant.id
                                    }) }}"
                                   title="{{ descendant.descendants }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.namespaces }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="equivalences" class="tab-pane fade">
                <h3>Equivalent properties</h3>

            </div>
            <div id="properties" class="tab-pane fade">

            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in property.profiles %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate}}</td>
                            <td>{{ profile.endDate}}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ]
            });
            $('#examples-table').DataTable({
                "columnDefs": [
                    { "width": "3%", "targets": 0 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ]
            });
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#profiles-table').DataTable();
        } );
    </script>

{% endblock %}
