{% extends 'base.html.twig' %}

{% block title %}Add new parent class for {{ childClass.identifierInNamespace }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{%  endblock %}

{% block body %}

    {% import _self as formMacros %}
    {% macro printTextPropertyRow(textPropertyForm) %}
        {{ form_errors(textPropertyForm) }}
        {{ form_row(textPropertyForm.textProperty, {
            'label': 'Justification'
        }) }}
        {{ form_row(textPropertyForm.languageIsoCode, {
            'label': 'Language'
        }) }}
        {{ form_row(textPropertyForm.creator) }}
        {{ form_row(textPropertyForm.modifier) }}
    {% endmacro %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right reset-div">
                    <a href="{{ path('new_parent_class_form', {'childClass': childClass.id}) }}" class="btn btn-primary pull-right">Reset <span class="fa fa-undo"></span></a>
                </div>
                <h2>
                    Add new parent class for {{ childClass.identifierInNamespace }}
                    <a href="{{ path('class_show_with_version', {
                        'id': childClass.id,
                        'namespaceFromUrlId': childClass.classVersionForDisplay.namespaceForVersion.id,
                        '_fragment': 'class-hierarchy'
                    }) }}" class="pull-right btn btn-link">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                </h2>

                {{ form_start(parentClassAssociationForm) }}
                    {{ form_errors(parentClassAssociationForm) }}
                    {{ form_row(parentClassAssociationForm.parentClassVersion) }}

                    {{ form_row(parentClassAssociationForm.childClass) }}

                    <div class="js-text-property-wrapper"
                         data-prototype="{{ formMacros.printTextPropertyRow(parentClassAssociationForm.textProperties.vars.prototype)|e('html_attr') }}"
                         data-index="{{ parentClassAssociationForm.textProperties|length }}"
                     >
                        {% for textPropertyForm in parentClassAssociationForm.textProperties %}
                            {{ formMacros.printTextPropertyRow(textPropertyForm) }}
                        {% endfor %}
                        <a href="#" class="js-example-add">
                            <span class="fa fa-plus-circle"></span>
                            Add an example
                        </a>
                        <a href="#" class="js-example-remove">
                            <span class="fa fa-minus-circle"></span>
                            Close example form
                        </a>

                    </div>

                    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(parentClassAssociationForm) }}
            </div>
        </div>
        <h3>Parent and ancestor classes</h3>
        <table class="table table-striped" id="ancestors-table">
            <thead>
            <tr>
                <th>Class identifier</th>
                <th>Depth</th>
                <th>Root namespace</th>
            </tr>
            </thead>
            <tbody>
            {% for ancestor in ancestors|sort %}
                <tr>
                    <td>
                        <a href="{{ path('class_show', {
                            'id': ancestor.id
                        }) }}">
                            {% if  ancestor.depth == '1' %}<strong>{%  endif %}
                                {{ ancestor.identifier }}
                            {% if  ancestor.depth == '1' %}</strong>{%  endif %}
                        </a>
                    </td>
                    <td>{{ ancestor.depth }}</td>
                    <td>{{ ancestor.rootNamespaceLabel }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>

        $(document).ready(function() {
            // Remplissage par défaut
            $('#parent_class_association_form_parentClass').val($('#parent_class_association_form_parentClassVersion').val());

            $('#parent_class_association_form_parentClassVersion').change(function() {
                $('#parent_class_association_form_parentClass').val($(this).val());
            });

            $('#parent_class_association_form_parentClassVersion').select2({
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });

            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });

            $('.js-example-remove').hide();

            if($('[for=parent_class_association_form_textProperties_1_textProperty]').length) {
                //we hide the button in order to prevent the add of more than 2 text properties
                $('.js-example-add').hide();
                $('[for=parent_class_association_form_textProperties_1_textProperty]').text('Example');
                $('.js-example-remove').show();
            }
            var $wrapper = $('.js-text-property-wrapper');
            $wrapper.on('click', '.js-example-add', function(e) {
                e.preventDefault();

                // Get the data-prototype explained earlier
                var prototype = $wrapper.data('prototype');

                // get the new index
                var index = $wrapper.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $wrapper.data('index', index + 1);

                // Display the form in the page before the "new" link
                $(this).before(newForm);
                $('#parent_class_association_form_textProperties_1_creator').val($('#parent_class_association_form_textProperties_0_creator').val());
                $('#parent_class_association_form_textProperties_1_modifier').val($('#parent_class_association_form_textProperties_0_creator').val());
                $('.js-example-add').hide();
                $('[for=parent_class_association_form_textProperties_1_textProperty]').text('Example');
                tinymce.init({
                    selector:'.tinymce',
                    entity_encoding : "raw"
                });
                $('.js-example-remove').show();
            });

            $wrapper.on('click', '.js-example-remove', function(e) {
                e.preventDefault();

                // get the new index
                var index = $wrapper.data('index');

                // decrease the index with one for the next item
                $wrapper.data('index', index - 1);

                // remove
                $("[id^='parent_class_association_form_textProperties_1_']").remove();
                $("[for^='parent_class_association_form_textProperties_1_']").remove();
                tinymce.get("parent_class_association_form_textProperties_1_textProperty").remove();
                $('.js-example-add').show();
                $('.js-example-remove').hide();
            });
        } );
    </script>
{% endblock %}