{% extends 'base.html.twig' %}

{% block title %}{{ classAssociation }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">
            {{ classAssociation }}
            <a href="{{ path('class_show_with_version', {
                'id': classAssociation.parentClass.id,
                'namespaceFromUrlId': classAssociation.parentClassNamespace.id,
                '_fragment': 'class-hierarchy'
            }) }}" class="pull-right btn btn-link">
                <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
            </a>
        </h2>
        <h4>
            {% if is_granted('validate', classAssociation.childClass.classVersionForDisplay(classAssociation.namespaceForVersion)) %}
                <div class="dropdown inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-validation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {% if classAssociation.validationStatus is null %}
                            <span class="label label-info">
                                    Candidate
                                </span>
                        {% elseif classAssociation.validationStatus.id == 26  %}
                            <span class="label label-success">
                                    {{ classAssociation.validationStatus }}
                                </span>
                        {% elseif classAssociation.validationStatus.id == 27  %}
                            <span class="label label-danger">
                                    {{ classAssociation.validationStatus }}
                                </span>
                        {% elseif classAssociation.validationStatus.id == 28  %}
                            <span class="label label-warning">
                                    {{ classAssociation.validationStatus }}
                                </span>
                        {% endif %}
                        &nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-versions" aria-labelledby="dropdown-versions">
                        <li class="label-success">
                            <a class="select-validation-status" data-id ="26" href="{{ path('class_association_validation_status_edit', {
                                id: classAssociation.id,
                                validationStatus: 26
                            }) }}">
                                    <span class="label label-success">
                                        Validated
                                    </span>
                            </a>
                        </li>
                        <li class="label-warning">
                            <a class="select-validation-status" data-id="28" href="{{ path('class_association_validation_status_edit', {
                                id: classAssociation.id,
                                validationStatus: 28
                            }) }}">
                                    <span class="label label-warning">
                                        Validation request
                                    </span>
                            </a>
                        </li>
                        <li class="label-danger">
                            <a class="select-validation-status" data-id="27" href="{{ path('class_association_validation_status_edit', {
                                id: classAssociation.id,
                                validationStatus: 27
                            }) }}">
                                    <span class="label label-danger">
                                        Denied (see comment)
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                {% if classAssociation.validationStatus is null %}
                    <span class="label label-info">
                                    Candidate
                                </span>
                {% elseif classAssociation.validationStatus.id == 26  %}
                    <span class="label label-success">
                                    {{ classAssociation.validationStatus }}
                                </span>
                {% elseif classAssociation.validationStatus.id == 27  %}
                    <span class="label label-danger">
                                    {{ classAssociation.validationStatus }}
                                </span>
                {% elseif classAssociation.validationStatus.id == 28  %}
                    <span class="label label-warning">
                                    {{ classAssociation.validationStatus }}
                                </span>
                {% endif %}
            {% endif %}
        </h4>

        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#justifications">Parent class and justifications</a></li>
            <li><a data-toggle="tab" href="#comments" class="updateViewComment" data-id="{{ classAssociation.id }}" data-object="class-association">Comments <span class="badge {% if classAssociation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ classAssociation.comments|length }}</span></a></li>
        </ul>

        <div class="tab-content">
            <div id="justifications" class="tab-pane fade in active">
                <h3>Parent class</h3>
                <h4>
                    <a href="{{ path('class_show_with_version', {
                        'id': classAssociation.parentClass.id,
                        'namespaceFromUrlId': classAssociation.parentClassNamespace.id,
                    }) }}">{{ classAssociation.parentClass.classVersionForDisplay(classAssociation.parentClassNamespace) }}
                    </a>
                </h4>
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('text_property_new', {'type': 'justification', 'object': 'class-association', 'objectId': classAssociation.id })}}"
                           class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Justification</h3>
                <table class="table table-striped" id="justifications-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Justification</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classAssociation.textProperties if textProperty.systemType.id == 15 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                                <!-- {% if textProperty.namespace is not null %}
                                    {% for label in textProperty.namespace.topLevelNamespace.labels %}
                                        {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                            {{ label.label }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %} -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('text_property_new', {'type': 'example', 'object': 'class-association', 'objectId': classAssociation.id })}}"
                           class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classAssociation.textProperties if textProperty.systemType.id == 7 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if classAssociation.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in classAssociation.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'class-association', 'objectId' : classAssociation.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'class-association', 'objectId' : classAssociation.id  } %}

    <script>
        $(document).ready(function() {
            $('#justifications-table').DataTable();
            $('#examples-table').DataTable();

        } );
    </script>

{% endblock %}
