{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Edit user {{ user.login }}</h1>

            {{ form_start(userForm) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.firstName) }}
                {{ form_row(userForm.lastName) }}
                {{ form_row(userForm.institution) }}
                <div class="alert alert-info">
                    <p><i class="fas fa-info-circle"></i>&nbsp;Leave the password blank if you don't need to change it.</p>

                    {{ form_row(userForm.plainPassword.first, {
                        'label': 'Password',
                        'help': 'For security reason, your password must contain at least 1 special character, 1 digit, 1 lowercase and 1 uppercase letter. We strongly recommand the use of a password manager.'
                    }) }}
                    {{ form_row(userForm.plainPassword.second, {
                        'label': 'Repeat Password'
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
            {{ form_end(userForm) }}
        </div>
    </div>
</div>
{% endblock %}