{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>
                {% if user.fullName %}
                    {{ user.fullName }}'s dashboard
                {% else %}
                    {{ user.email }}'s dashboard
                {% endif %}
                {% if (is_granted('ROLE_ADMIN')) or (app.user.id == user.id) %}
                <a href="{{ path('user_edit', {
                    id: user.id
                }) }}" class="pull-right btn btn-link">
                    <span class="fa fa-edit"></span>
                </a>
                {% endif %}
            </h1>
            <ul class="nav nav-tabs" id="main-tabs">
                <li class="active"><a data-toggle="tab" href="#user-info">My account</a></li>
                <li><a data-toggle="tab" href="#my-projects">My projects</a></li>
                <li><a data-toggle="tab" href="#my-current-namespaces">My current namespaces</a></li>
                <li><a data-toggle="tab" href="#my-profiles">My profiles</a></li>
                <li><a data-toggle="tab" href="#my-comments">My comments</a></li>
            </ul>
            <div class="tab-content">
                <div id="user-info" class="tab-pane fade in active">
                    <h3>My personal information</h3>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ user.fullName|default('-') }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Institution</th>
                            <td>{{ user.institution|default('-') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="my-projects" class="tab-pane fade">
                    {% if userProjectAssociations|length < 4 %}
                        <div class="pull-right add-div">
                            <a href="{{ path('project_new_user')}}"
                               class="btn btn-primary pull-right">
                                Create <span class="fa fa-plus-circle"></span>
                            </a>
                        </div>
                    {% endif %}
                    <h3>My projects</h3>
                    <table class="table table-striped" id="projects-table">
                        <thead>
                        <tr>
                            <th>Project name</th>
                            <th>Master project</th>
                            <th>Role</th>
                            <th>Last updated</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for userProjectAssociation in userProjectAssociations %}
                            <tr{% if userProjectAssociation.project.standardLabel == userActiveProjectAssociation.project.standardLabel %} class="success" {% endif %}>
                                <td>
                                    <a href="{{ path('project_show', {
                                        'id': userProjectAssociation.project.id
                                    }) }}">
                                        {{ userProjectAssociation.project.standardLabel }}
                                    </a>
                                </td>
                                <td>
                                    {% if userProjectAssociation.project.parentProject is not null %}
                                        <a href="{{ path('project_show', {'id': userProjectAssociation.project.parentProject.id}) }}">
                                        {{ userProjectAssociation.project.parentProject.standardLabel }}
                                        </a>
                                    {% else %}
                                        <span class="text-muted">(Master)</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if userProjectAssociation.permission == 1 %}
                                        <span class="label label-danger">Administrator</span>
                                    {% elseif userProjectAssociation.permission == 2 %}
                                        <span class="label label-warning">Manager</span>
                                    {% elseif userProjectAssociation.permission == 3 %}
                                        <span class="label label-success">Member</span>
                                    {% endif %}
                                </td>
                                <td>{{ userProjectAssociation.project.modificationTime|date('Y-m-d') }}</td>
                                <td>
                                    {% if userProjectAssociation.project.standardLabel != userActiveProjectAssociation.project.standardLabel %}
                                    <a href="{{ path('user_edit_current_active_project', {'project': userProjectAssociation.project.id}) }}" class="btn btn-xs btn-primary">
                                        <i class="far fa-dot-circle"></i> Activate
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="alert alert-info">
                        <p><i class="fas fa-info-circle"></i>&nbsp;If you are interested in joining an <a href="{{ path('app_project_list') }}" target="_blank">existing project</a>, please write to <a href="mailto:ontome@dataforhistory.org">ontome@dataforhistory.org</a> indicating the name of the <a href="{{ path('app_project_list') }}" target="_blank">project</a> and the reason of your request. </p>
                    </div>
                </div>
                <div id="my-current-namespaces" class="tab-pane fade">
                    <h3>Namespaces whose classes and properties are displayed</h3>
                    {% if userActiveProjectAssociation.project.id != 21 %}
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="{{ path('user_reinitialization', {id: user.id}) }}" class="btn btn-success">Reset</a>
                        </div>
                        <div class="col-lg-6">
                            {% if defaultNamespace is not null %}
                            <h4>Managed by the project</h4>
                            <div>
                                {% set isActive = false %}
                                {% if defaultNamespace in activeNamespaces %}
                                    {% set isActive = true %}
                                {% endif %}
                                {% if isActive %}
                                <a href="#" class="uncheck-namespace" data-id="{{ defaultNamespace.id }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
                                <a href="{{ path('namespace_show', {'id': defaultNamespace.id}) }}">{{ defaultNamespace.standardLabel }}</a>
                                {% else %}
                                <a href="#" class="check-namespace" data-id="{{ defaultNamespace.id }}"><span class="glyphicon glyphicon-unchecked text-muted" aria-hidden="true"></span></a>
                                <a class="text-muted" href="{{ path('namespace_show', {'id': defaultNamespace.id}) }}">{{ defaultNamespace.standardLabel }}</a>
                                {% endif %}
                            </div>
                            {% if defaultNamespace.directReferencedNamespaces|length > 0 %}
                                <div class="small text-muted"><strong><em>Referenced:</em></strong></div>
                                <ul>
                                {% for referencedNamespace in defaultNamespace.allReferencedNamespaces %}
                                    <li class="list-unstyled" style="border-left: 3px solid darkgrey; padding-left: 5px;">
                                        <em><a href="{{ path('namespace_show', {'id': referencedNamespace.id}) }}">{{ referencedNamespace }}</a></em>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endif %}
                            <h4>Additional namespaces</h4>
                            <div id="additional-namespaces-list">
                            {% if additionalNamespaces|length == 0 %}
                                <p class="text-muted" id="empty-namespace-list-message"><em>No additional namespace added, please pick one below.</em></p>
                            {% endif %}
                            {% for additionalNamespace in additionalNamespaces %}
                                <div class="row" style="margin-left:0px;">
                                    <a href="#" class="remove-namespace" data-id="{{ additionalNamespace.id }}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a>
                                    <a href="{{ path('namespace_show', {'id': additionalNamespace.id}) }}">{{ additionalNamespace.standardLabel }}</a>
                                    {% if additionalNamespace.directReferencedNamespaces|length > 0 %}
                                        {% set break = false %}
                                        {% for referencedNamespace in additionalNamespace.allReferencedNamespaces if not break %}
                                            {% set break = true %}
                                            <div class="small text-muted"><strong><em>Referenced:</em></strong></div>
                                        {% endfor %}
                                        {% if break %}
                                        <ul>
                                        {% for referencedNamespace in additionalNamespace.allReferencedNamespaces %}
                                            <li class="list-unstyled" style="border-left: 3px solid darkgrey; padding-left: 5px;">
                                                <em><a href="{{ path('namespace_show', {'id': referencedNamespace.id}) }}">{{ referencedNamespace }}</a></em>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                            <h4>Pick an additional namespace</h4>
                            <select id="select-root-namespace">
                                <option id="placeholder"></option>
                            {% for rootNamespace in rootNamespaces %}
                                <option value="{{ rootNamespace.id }}">{{ rootNamespace.standardLabel }}</option>
                            {% endfor %}
                            </select>
                            <div id="loading-icon">
                                <span class="fas fa-spinner fa-spin"></span>
                            </div>
                            <ul class="list-group" id="chosable-namespaces-list" style="margin-top: 10px;">
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h4>Selected from project profiles</h4>
                            {% if userActiveProjectAssociation.project.ownedProfiles|length == 0 %}
                                <p class="text-muted"><em>This project does not manage any profile.</em></p>
                            {% endif %}
                            {% for profile in userActiveProjectAssociation.project.ownedProfiles if not profile.isRootProfile and profile.isOngoing%}
                                <div>
                                    {% set isActiveProfile = false %}
                                    {% if profile in activeProfiles %}
                                        {% set isActiveProfile = true %}
                                    {% endif %}
                                    {% if isActiveProfile %}
                                    <a href="#" class="uncheck-profile" data-id="{{ profile.id }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
                                    <strong>Profile : <a href="{{ path('profile_show', {'id': profile.id}) }}">{{ profile.standardLabel }}</a></strong>
                                    {% else %}
                                    <a href="#" class="check-profile" data-id="{{ profile.id }}"><span class="glyphicon glyphicon-unchecked text-muted" aria-hidden="true"></span></a>
                                    <strong class="text-muted">Profile : <a class="text-muted" href="{{ path('profile_show', {'id': profile.id}) }}">{{ profile.standardLabel }}</a></strong>
                                    {% endif %}
                                </div>
                                {% if profile.namespaces|length == 0 %}
                                    <p class="text-muted"><em>No namespace is associated with this profile.</em></p>
                                {% endif %}
                                <ul style="margin-bottom: 20px;">
                                {% for namespace in profile.namespaces %}
                                    {% set isActive = false %}
                                    {% if namespace in activeNamespaces %}
                                        {% set isActive = true %}
                                    {% endif %}
                                    {% if isActive %}
                                        <li class="list-unstyled" style="margin-left: -30px;">
                                            <a href="#" class="uncheck-namespace" data-id="{{ namespace.id }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
                                            <a href="{{ path('namespace_show', {'id': namespace.id}) }}">{{ namespace.standardLabel }}</a>
                                        </li>
                                    {% else %}
                                        <li class="list-unstyled" style="margin-left: -30px;">
                                            <a href="#" class="check-namespace" data-id="{{ namespace.id }}"><span class="glyphicon glyphicon-unchecked text-muted" aria-hidden="true"></span></a>
                                            <a class="text-muted" href="{{ path('namespace_show', {'id': namespace.id}) }}">{{ namespace.standardLabel }}</a>
                                        </li>
                                    {% endif %}
                                    {% if namespace.directReferencedNamespaces|length > 0 %}
                                        <div class="small text-muted"><strong><em>Referenced:</em></strong></div>
                                        <ul>
                                            {% for referencedNamespace in namespace.allReferencedNamespaces %}
                                                <li class="list-unstyled" style="border-left: 3px solid darkgrey; padding-left: 5px;">
                                                    <em><a href="{{ path('namespace_show', {'id': referencedNamespace.id}) }}">{{ referencedNamespace }}</a></em>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}{# Projet public #}
                        {% for displayedNamespace in displayedNamespaces %}
                            <div class="row" style="margin-left:0px;">
                                <a href="{{ path('namespace_show', {'id': displayedNamespace.id}) }}">{{ displayedNamespace.standardLabel }}</a>
                                {% if displayedNamespace.referencedNamespaceAssociations|length > 0 %}
                                    {% set break = false %}
                                    {% for referencedNamespaceAssociation in displayedNamespace.referencedNamespaceAssociations if referencedNamespaceAssociation.referencedNamespace is not null and not break %}
                                        {% set break = true %}
                                        <div class="small text-muted"><strong><em>Referenced :</em></strong></div>
                                    {% endfor %}
                                    {% if break %}
                                        <ul>
                                            {% for referencedNamespaceAssociation in displayedNamespace.referencedNamespaceAssociations if referencedNamespaceAssociation.referencedNamespace is not null %}
                                                <li class="list-unstyled"><em class="text-muted">{{ referencedNamespaceAssociation.referencedNamespace.standardLabel }}</em></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="my-profiles" class="tab-pane fade">
                    <h3>My profiles</h3>
                    <table class="table table-striped" id="my-profiles-table">
                        <thead>
                        <tr>
                            <th>Profile name</th>
                            <th>Project of belonging</th>
                            <th>Last updated</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for upa in user.userProjectAssociations %}
                                {% for profile in upa.project.ownedProfiles if profile.isRootProfile %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('profile_show', {
                                                'id': profile.id
                                            }) }}">
                                                {{ profile.standardLabel }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('project_show', {
                                                'id': profile.projectOfBelonging.id
                                            }) }}">
                                                {{ profile.projectOfBelonging.standardLabel }}
                                            </a>
                                        </td>
                                        <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="my-comments" class="tab-pane fade">
                    <h3>My comments</h3>
                    <table class="table table-striped" id="my-comments-table">
                        <thead>
                        <tr>
                            <th>Entity</th>
                            <th>Commented section</th>
                            <th class="text-nowrap">Creation date</th>
                            <th>Last comment</th>
                            <th>Unread replies</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set entitiesList = [] %}
                        {% for comment in user.comments|sort|reverse %}
                            {% if comment.class is not null %}
                                {% set entity = "class" %}
                                {% set id = comment.class.id %}
                            {% elseif comment.property is not null %}
                                {% set entity = "property" %}
                                {% set id = comment.property.id %}
                            {% elseif comment.label is not null %}
                                {% set entity = "label" %}
                                {% set id = comment.label.id %}
                            {% elseif comment.namespace is not null %}
                                {% set entity = "namespace" %}
                                {% set id = comment.namespace.id %}
                            {% elseif comment.classAssociation is not null %}
                                {% set entity = "classAssociation" %}
                                {% set id = comment.classAssociation.id %}
                            {% elseif comment.propertyAssociation is not null %}
                                {% set entity = "propertyAssociation" %}
                                {% set id = comment.propertyAssociation.id %}
                            {% elseif comment.entityAssociation is not null %}
                                {% set entity = "entityAssociation" %}
                                {% set id = comment.entityAssociation.id %}
                            {% elseif comment.textProperty is not null %}
                                {% set entity = "textProperty" %}
                                {% set id = comment.textProperty.id %}
                            {% endif %}

                            {% if [entity,id] not in entitiesList %}
                                {# Pour ne pas à avoir à répeter une même entité #}
                                {% set entitiesList = entitiesList|merge([[entity,id]]) %}
                                <tr>
                                    <td class="text-nowrap">
                                        {% if comment.class is not null and comment.class.classVersionForDisplay(comment.namespaceForVersion) is not null %}
                                            {{ comment.class.classVersionForDisplay(comment.namespaceForVersion).invertedLabel }}
                                        {% elseif comment.property is not null and comment.property.propertyVersionForDisplay(comment.namespaceForVersion) is not null %}
                                            {{ comment.property.propertyVersionForDisplay(comment.namespaceForVersion).invertedLabel }}
                                        {% elseif comment.label is not null %}
                                            {% if comment.label.object is not null %}
                                                {% if comment.label.object.classVersionForDisplay(comment.namespaceForVersion) is not null %}
                                                    {{ comment.label.object.classVersionForDisplay(comment.namespaceForVersion).invertedLabel }}
                                                {% elseif comment.label.object.propertyVersionForDisplay(comment.namespaceForVersion) is not null %}
                                                    {{ comment.label.object.classVersionForDisplay(comment.namespaceForVersion).invertedLabel }}
                                                {% else %}
                                                    {{ comment.label.object.standardLabel }}
                                                {% endif %}
                                            {% endif %}
                                        {% elseif comment.namespace is not null %}
                                            {{ comment.namespace }}
                                        {% elseif comment.classAssociation is not null %}
                                            {{ comment.classAssociation.childClass.invertedLabel }} rdfs:subclassOf {{ comment.classAssociation.parentClass.invertedLabel }}
                                        {% elseif comment.propertyAssociation is not null %}
                                            {{ comment.propertyAssociation.childProperty.invertedLabelWithoutInverseLabel }} rdfs:subpropertyOf {{ comment.propertyAssociation.parentProperty.invertedLabelWithoutInverseLabel }}
                                        {% elseif comment.entityAssociation is not null %}
                                            {% if comment.entityAssociation.sourceClass is not null %}
                                                {{ comment.entityAssociation.sourceClass.invertedLabel }} {{ comment.entityAssociation.systemType }} {{ comment.entityAssociation.targetClass.invertedLabel }}
                                            {% elseif comment.entityAssociation.sourceProperty is not null %}
                                                {{ comment.entityAssociation.sourceProperty.invertedLabelWithoutInverseLabel }} {{ comment.entityAssociation.systemType }} {{ comment.entityAssociation.targetProperty.invertedLabelWithoutInverseLabel }}
                                            {% endif %}
                                        {% elseif comment.textProperty is not null %}
                                            {% if comment.textProperty.class is not null %}
                                                {{ comment.textProperty.class.invertedLabel }}
                                            {% elseif comment.textProperty.property is not null %}
                                                {{ comment.textProperty.property.invertedLabel }}
                                            {% elseif comment.textProperty.namespace is not null %}
                                                {{ comment.textProperty.namespace }}
                                            {% elseif comment.textProperty.project is not null %}
                                                {{ comment.textProperty.project }}
                                            {% elseif comment.textProperty.profile is not null %}
                                                {{ comment.textProperty.profile }}
                                            {% elseif comment.textProperty.classAssociation is not null %}
                                                {{ comment.textProperty.classAssociation }}
                                            {% elseif comment.textProperty.entityAssociation is not null %}
                                                {{ comment.textProperty.entityAssociation }}
                                            {% elseif comment.textProperty.propertyAssociation is not null %}
                                                {{ comment.textProperty.propertyAssociation }}
                                            {% elseif comment.textProperty.propertyAssociation is not null %}
                                                {{ comment.textProperty.propertyAssociation }}
                                            {% endif %}
                                        {% else %}
                                            General
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">
                                        {% if comment.class is not null %}
                                            Class
                                        {% elseif comment.property is not null %}
                                            Property
                                        {% elseif comment.label is not null %}
                                            Label
                                        {% elseif comment.namespace is not null %}
                                            Namespace
                                        {% elseif comment.classAssociation is not null %}
                                            Hierarchy
                                        {% elseif comment.propertyAssociation is not null %}
                                            Hierarchy
                                        {% elseif comment.entityAssociation is not null %}
                                            Relation
                                        {% elseif comment.textProperty is not null %}
                                            {% if comment.textProperty.systemType is not null %}
                                                {{ comment.textProperty.systemType.standardLabel|capitalize }}
                                            {% endif %}
                                        {% else %}
                                            General
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">{{ comment.creationTime|date('Y-m-d') }}</td>
                                    <td class="truncated-text" width="100%">
                                        <span>
                                        {% if comment.class is not null %}
                                        <a href="{{ path('class_show', {'id': comment.class.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.class.id }}" data-object="class">
                                        {% elseif comment.property is not null %}
                                            <a href="{{ path('property_show', {'id': comment.property.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.property.id }}" data-object="property">
                                        {% elseif comment.label is not null %}
                                            <a href="{{ path('label_show', {'id': comment.label.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.label.id }}" data-object="label">
                                        {% elseif comment.namespace is not null %}
                                            <a href="{{ path('namespace_show', {'id': comment.namespace.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.namespace.id }}" data-object="namespace">
                                        {% elseif comment.classAssociation is not null %}
                                            <a href="{{ path('class_association_show', {'id': comment.classAssociation.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.classAssociation.id }}" data-object="class-association">
                                        {% elseif comment.propertyAssociation is not null %}
                                            <a href="{{ path('property_association_show', {'id': comment.propertyAssociation.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.propertyAssociation.id }}" data-object="property-association">
                                        {% elseif comment.entityAssociation is not null %}
                                            <a href="{{ path('entity_association_show', {'id': comment.entityAssociation.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.entityAssociation.id }}" data-object="entity-association">
                                        {% elseif comment.textProperty is not null %}
                                            <a href="{{ path('text_property_show', {'id': comment.textProperty.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.textProperty.id }}" data-object="textProperty">
                                        {% else %}
                                            General
                                        {% endif %}
                                                {{ comment.comment|striptags|raw }}</a>
                                        </span>
                                    </td>
                                    <td>
                                        {% set nb_unseen_comment = 0 %}
                                        {% if comment.class is not null %}
                                            {% set coms = comment.class.comments %}
                                        {% elseif comment.property is not null %}
                                            {% set coms = comment.property.comments %}
                                        {% elseif comment.label is not null %}
                                            {% set coms = comment.label.comments %}
                                        {% elseif comment.namespace is not null %}
                                            {% set coms = comment.namespace.comments %}
                                        {% elseif comment.classAssociation is not null %}
                                            {% set coms = comment.classAssociation.comments %}
                                        {% elseif comment.propertyAssociation is not null %}
                                            {% set coms = comment.propertyAssociation.comments %}
                                        {% elseif comment.textProperty is not null %}
                                            {% set coms = comment.textProperty.comments %}
                                        {% else %}
                                            {% set coms = [] %}
                                        {% endif %}
                                        {% for com in coms %}
                                            {% if user.id not in com.viewedBy %}
                                                {% set nb_unseen_comment = nb_unseen_comment + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="badge {% if nb_unseen_comment > 0 %}progress-bar-danger{% endif %}">{{ nb_unseen_comment }}</span>
                                    </td>
                                </tr>
                                {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });

            $('#my-profiles-table').DataTable({"pageLength":50});

            $('#my-comments-table').DataTable({
                "order": [[ 4, 'desc' ], [ 2, 'desc' ], [ 0, 'asc' ], [ 1, 'asc' ]]
            });

            // Onglet My Projects
            $('#projects-table').DataTable({
                columnDefs: [ {
                    targets: 0,
                    orderData: [ 4, 0 ]
                }]
            });

            // Onglet My current namespaces
            $('#loading-icon').hide(0);
            $('#select-root-namespace').select2({
                width: '100%',
                placeholder: 'Select a root namespace',
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });

            {% if userActiveProjectAssociation.project.id != 21 %}
            $('#select-root-namespace').on('select2:select', function (e) {
                $('#loading-icon').show(0);
                $('#chosable-namespaces-list').empty();
                var selectedValue = e.params.data.id;
                var url = '{{ path("namespaces_by_root_id_list_json", {'id': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success:function(data){
                        $('#loading-icon').hide(0);
                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){
                            $.each(data.namespaces, function(key, val){
                                $("#chosable-namespaces-list").append($("<a class=\"list-group-item pickable-namespace\" id="+val.id+">"+val.standardLabel+"</a>"));
                            });
                        }
                    }
                });
            });

            $(document).on("mouseenter touchstart", ".pickable-namespace", function() {
                $(this).prepend($("<span><i class=\"fas fa-plus\"></i>&nbsp;</span>"));
            });

            $(document).on("mouseleave touchend", ".pickable-namespace", function() {
                $(this).find(":first-child").remove();
            });

            $(document).on("click", ".pickable-namespace", function() {
                var selectedValue = $(this).attr("id");
                var labelNamespace = $(this).text();
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                var url = '{{ path("user_project_namespace_association", {'userProjectAssociation' : 'userProjectID','namespace': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success:function(data){
                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){
                            var urlNamespace = '{{ path('namespace_show', {'id' : 'selectedValue'}) }}';
                            urlNamespace = urlNamespace.replace('selectedValue', selectedValue);
                            $("#additional-namespaces-list").append($('<div class="row" style="margin-left:0px;"><a href="#" class="remove-namespace" data-id="'+selectedValue+'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="'+urlNamespace+'">'+labelNamespace+'</a><span class="loading-icon2" data-id="'+selectedValue+'">&nbsp;<span class="fas fa-spinner fa-spin"></span></span></div>'));
                            $(".loading-icon2[data-id='"+selectedValue+"']").hide(0);
                            if(data.referencedNamespaces.length != 0){
                                // Rajouter Referenceds ;
                                $("a[href='"+urlNamespace+"']").parent().append('<div class="small text-muted"><strong><em>Referenced :</em></strong></div>');
                                $("a[href='"+urlNamespace+"']").parent().append('<ul data-id="'+selectedValue+'">');
                                $("a[href='"+urlNamespace+"']").parent().append('</ul>');
                                for(const value of data.referencedNamespaces) {
                                    var urlNamespace = '{{ path('namespace_show', {'id' : 'refId'}) }}';
                                    urlNamespace = urlNamespace.replace('refId', value.id);
                                    $("ul[data-id='"+selectedValue+"']").append('<li class="list-unstyled"><em class="text-muted"><a href="'+urlNamespace+'">'+value.standardLabel+'</a></em></li>');
                                }
                            }
                        }
                    }
                });
                $("#empty-namespace-list-message").remove();
                //$("#select-root-namespace option:selected").remove();
                $('#select-root-namespace option:first').prop('selected',true);
                //$("option:selected").prop("selected", false);
                $(".loading-icon2[data-id='"+selectedValue+"']").hide(0);
                $("#chosable-namespaces-list").empty();
            });

            $(document).on("click", ".remove-namespace", function() {
                var selectedValue = $(this).data("id");
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                $(".loading-icon2[data-id='"+selectedValue+"']").show(0);
                var url = '{{ path("user_project_namespace_disassociation", {'userProjectAssociation' : 'userProjectID','namespace': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success:function(data){
                    },
                    statusCode: {
                        204: function () {
                            $(".remove-namespace[data-id='"+selectedValue+"']").parent().remove();
                        }
                    }
                });

            });

            $(document).on("click", ".check-profile", function() {
                var selectedValue = $(this).data("id");
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                $(this).removeClass("check-profile");
                $(this).addClass("uncheck-profile");
                $(this).children('span').removeClass("glyphicon-unchecked");
                $(this).children('span').removeClass("text-muted");
                $(this).children('span').addClass("glyphicon-check");
                $(this).next('strong').removeClass("text-muted");
                $(this).next('strong').children('a').removeClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').removeClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').addClass("uncheck-namespace");
                $(this).parent('div').next('ul').children('li').children('a').removeClass("check-namespace");
                $(this).parent('div').next('ul').children('li').children('a').children('span').removeClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').children('span').removeClass("glyphicon-unchecked");
                $(this).parent('div').next('ul').children('li').children('a').children('span').addClass("glyphicon-check");
                var url = '{{ path("user_project_profile_association", {'userProjectAssociation' : 'userProjectID', 'profile': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success:function(data){
                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){
                            data.namespacesSelected.forEach((idNamespace) => {
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').removeClass("text-muted");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').addClass("uncheck-namespace");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').removeClass("check-namespace");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').removeClass("text-muted");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').removeClass("glyphicon-unchecked");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').addClass("glyphicon-check");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').next('a').removeClass("text-muted");
                            })
                        }
                    }
                });
                //$("#additional-namespaces-list").append($('<div class="row" style="margin-left:0px;"><a href="#" class="remove-namespace" data-id="'+selectedValue+'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="'+urlNamespace+'">'+labelNamespace+'</a><span class="loading-icon2" data-id="'+selectedValue+'">&nbsp;<span class="fas fa-spinner fa-spin"></span></span></div>'));*/
            });

            $(document).on("click", ".uncheck-profile", function() {
                var selectedValue = $(this).data("id");
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                $(this).removeClass("uncheck-profile");
                $(this).addClass("check-profile");
                $(this).children('span').removeClass("glyphicon-check");
                $(this).children('span').addClass("glyphicon-unchecked");
                $(this).children('span').addClass("text-muted");
                $(this).next('strong').addClass("text-muted");
                $(this).next('strong').children('a').addClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').addClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').addClass("check-namespace");
                $(this).parent('div').next('ul').children('li').children('a').removeClass("uncheck-namespace");
                $(this).parent('div').next('ul').children('li').children('a').children('span').addClass("text-muted");
                $(this).parent('div').next('ul').children('li').children('a').children('span').addClass("glyphicon-unchecked");
                $(this).parent('div').next('ul').children('li').children('a').children('span').removeClass("glyphicon-check");
                var url = '{{ path("user_project_profile_disassociation", {'userProjectAssociation' : 'userProjectID','profile': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success:function(data){
                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){
                            data.namespacesRejected.forEach((idNamespace) => {
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').addClass("text-muted");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').addClass("check-namespace");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').removeClass("uncheck-namespace");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').addClass("text-muted");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').addClass("glyphicon-unchecked");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').children('span').removeClass("glyphicon-check");
                                //$('a[data-id='+idNamespace+'][class*="check-namespace"]').next('a').addClass("text-muted");
                            })
                        }
                    }
                });
                //$("#additional-namespaces-list").append($('<div class="row" style="margin-left:0px;"><a href="#" class="remove-namespace" data-id="'+selectedValue+'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="'+urlNamespace+'">'+labelNamespace+'</a><span class="loading-icon2" data-id="'+selectedValue+'">&nbsp;<span class="fas fa-spinner fa-spin"></span></span></div>'));*/
            });

            $(document).on("click", ".check-namespace", function() {
                var selectedValue = $(this).data("id");
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                $(this).removeClass("check-namespace");
                $(this).addClass("uncheck-namespace");
                $(this).removeClass("text-muted");
                $(this).next('a').removeClass("text-muted");
                $(this).children('span').removeClass("glyphicon-unchecked");
                $(this).children('span').addClass("glyphicon-check");
                $(this).children('span').removeClass("text-muted");
                var url = '{{ path("user_project_namespace_association", {'userProjectAssociation' : 'userProjectID','namespace': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success:function(data){
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').removeClass("text-muted");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').addClass("uncheck-namespace");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').removeClass("check-namespace");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').removeClass("text-muted");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').removeClass("glyphicon-unchecked");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').addClass("glyphicon-check");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').next('a').removeClass("text-muted");
                    },
                    statusCode: {
                        204: function () {
                        }
                    }
                });
            });

            $(document).on("click", ".uncheck-namespace", function() {
                var selectedValue = $(this).data("id");
                var userActiveProjectAssociationID = {{ userActiveProjectAssociation.id }};
                $(this).removeClass("uncheck-namespace");
                $(this).addClass("check-namespace");
                $(this).addClass("text-muted");
                $(this).next('a').addClass("text-muted");
                $(this).children('span').removeClass("glyphicon-check");
                $(this).children('span').addClass("glyphicon-unchecked");
                $(this).children('span').addClass("text-muted");
                var url = '{{ path("user_project_namespace_disassociation", {'userProjectAssociation' : 'userProjectID','namespace': 'selectedValue'}) }}';
                url = url.replace("userProjectID", userActiveProjectAssociationID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success:function(data){
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').addClass("text-muted");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').addClass("check-namespace");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').removeClass("uncheck-namespace");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').addClass("text-muted");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').addClass("glyphicon-unchecked");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').children('span').removeClass("glyphicon-check");
                        $('a[data-id='+selectedValue+'][class*="check-namespace"]').next('a').addClass("text-muted");
                    },
                    statusCode: {
                        204: function () {
                        }
                    }
                });
            });
        {% endif %}
        } );
    </script>
{% endblock %}