{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h1>
                    {% if user.fullName %}
                        {{ user.fullName }}
                    {% else %}
                        {{ user.email }}
                    {% endif %}

                    <a href="{{ path('user_edit', {
                        id: user.id
                    }) }}" class="pull-right btn btn-link">
                        <span class="fa fa-edit"></span>
                    </a>
                </h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.fullName|default('-') }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Institution</th>
                        <td>{{ user.institution|default('-') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}