{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if profileAssociation.objectType == "class" %}
            {% set fragment = "classes" %}
            {% set object = profileAssociation.class %}
            {% set objectVersion = profileAssociation.class.classVersionForDisplay(profileAssociation.entityNamespaceForVersion) %}
        {% endif %}
        {% if profileAssociation.objectType == "property" %}
            {% set fragment = "properties" %}
            {% set object = profileAssociation.property %}
            {% set objectVersion = profileAssociation.property.propertyVersionForDisplay(profileAssociation.entityNamespaceForVersion) %}
        {% endif %}
        <a href="{{ path('profile_show', {'id': profileAssociation.profile.id, '_fragment': fragment}) }}" class="pull-right btn btn-link">
            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
        </a>
        <h2>View {{ objectVersion.standardLabel }} - {{ object.identifierInNamespace }} in {{ profileAssociation.profile.standardLabel }} profile</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingDefinition">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDefinition" aria-expanded="true" aria-controls="collapseDefinition">
                            {% if profileAssociation.objectType == "class" %}
                                <i class="fas fa-eye"></i> Class definition <i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i>
                            {% endif %}
                            {% if profileAssociation.objectType == "property" %}
                                <i class="fas fa-eye"></i> Property definition <i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i>
                            {% endif %}
                        </a>
                    </h4>
                </div>
                <div id="collapseDefinition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDefinition">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Scope note:</p>
                                </div>
                                <div class="col-lg-10">
                                    {% for scopeNote in object.textProperties|filter(v => v.systemType.id == 1 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
                                        {{ scopeNote.textProperty|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Examples:</p>
                                </div>
                                <div class="col-lg-10">
                                    {% for example in object.textProperties|filter(v => v.systemType.id == 7 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
                                        {{ example.textProperty|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            {% set justification = profileAssociation.textProperties|filter(v => v.systemType.id == 15 and v.namespaceForVersion == objectVersion.namespaceForVersion)|first %}
            <h3>Justification of the selection in the profile</h3>
            <span class="txtp-justification">{{ justification ? justification.textProperty|raw : '<i>Not justification yet.</i>' }}</span>
        </div>

        <div class="clearfix">
            {% set useCase = profileAssociation.textProperties|filter(v => v.systemType.id == 36 and v.namespaceForVersion == classVersion.namespaceForVersion)|first %}
            <h3>Use cases</h3>
            <span class="txtp-use-case">{{ useCase ? useCase.textProperty|raw : '<i>Not use case yet.</i>' }}</span>
        </div>

        <div class="clearfix">
            {% set examples = profileAssociation.textProperties|filter(v => v.systemType.id == 7 and v.namespaceForVersion == objectVersion.namespaceForVersion) %}
            <h3>Additional examples</h3>
            <table class="table table-striped" id="profile-examples-table">
                <thead>
                <tr>
                    <th>Additional examples</th>
                    <th>Language</th>
                </tr>
                </thead>
                <tbody>
                {% for example in examples %}
                    <tr>
                        <td>{{ example.textProperty|raw }}</td>
                        <td>{{ example.languageIsoCode }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="clearfix">
            {% set note = profileAssociation.textProperties|filter(v => v.systemType.id == 33 and v.namespaceForVersion == objectVersion.namespaceForVersion)|first %}
            <h3>Profile internal note</h3>
            <span class="txtp-note">{{ note ? note.textProperty|raw : '<i>Not profile internal note yet.</i>' }}</span>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#profile-examples-table').DataTable();

            $('.fa-caret-up').toggle();
            $('h4 a[data-toggle="collapse"]').click(function (e){
                $('.fa-caret-up').toggle();
                $('.fa-caret-down').toggle();
            });
        });
    </script>
{% endblock %}
