{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Edit
                {% if textProperty.object is not null %}
                {{ textProperty.object.objectIdentification }} - {{ textProperty.systemType.standardLabel }}
                {% else %}
                    {{ textProperty.systemType.standardLabel }}
                {% endif %}
            </h1>

            {{ form_start(textPropertyForm) }}
                {{ form_row(textPropertyForm.textProperty) }}
                {{ form_row(textPropertyForm.languageIsoCode) }}
                {{ form_row(textPropertyForm.notes) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
            {{ form_end(textPropertyForm) }}
        </div>
    </div>
</div>
{% endblock %}