{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Edit
                {% if textProperty.object is not null %}
                {{ textProperty.object.objectIdentification }} - {{ textProperty.systemType.standardLabel }}
                {% else %}
                    {{ textProperty.systemType.standardLabel }}
                {% endif %}
                {% if textProperty.classAssociation is not null %}
                    <a href="{{ path('class_association_show', {
                                id: textProperty.classAssociation.id
                        }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% endif %}
            </h2>

            {{ form_start(textPropertyForm) }}
                {{ form_row(textPropertyForm.textProperty) }}
                {{ form_row(textPropertyForm.languageIsoCode) }}
                {{ form_row(textPropertyForm.notes) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                <a href="{{ path('class_association_show', {
                    id: textProperty.classAssociation.id
                }) }}"
                   class="btn btn-default"
                   role="button">
                    Back <i class="fas fa-arrow-left"></i>
                </a>
            {{ form_end(textPropertyForm) }}
        </div>
    </div>
</div>
{% endblock %}