{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {% if textProperty.classAssociation is not null %}
                    New {{ textProperty.systemType.standardLabel }}
                    <a href="{{ path('class_association_edit', {
                        id: textProperty.classAssociation.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.propertyAssociation is not null %}
                    New {{ textProperty.systemType.standardLabel }}
                    <a href="{{ path('property_association_edit', {
                        id: textProperty.propertyAssociation.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.class is not null %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the class {{ textProperty.class.classVersionForDisplay(textProperty.namespaceForVersion) }}
                    <a href="{{ path('class_edit', {
                        id: textProperty.class.id,
                        "_fragment": "definition"
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.property is not null %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the property {{ textProperty.property }}
                    <a href="{{ path('property_edit', {
                        id: textProperty.property.id,
                        "_fragment": "definition"
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.project is not null %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the project {{ textProperty.project }}
                    <a href="{{ path('project_edit', {
                        id: textProperty.project.id,
                        "_fragment": "definition"
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.profile is not null %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the profile {{ textProperty.profile }}
                    <a href="{{ path('profile_edit', {
                        id: textProperty.profile.id,
                        "_fragment": "definition"
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.namespace is not null %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the namespace {{ textProperty.namespace }}
                    <a href="{{ path('namespace_edit', {
                        id: textProperty.namespace.id,
                        "_fragment": "definition"
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.entityAssociation is not null and app.request.attributes.get('_route') == 'text_property_inverse_new' %}
                    New {{ textProperty.systemType.standardLabel }}
                    <a href="{{ path('entity_association_inverse_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif textProperty.entityAssociation is not null %}
                    New {{ textProperty.systemType.standardLabel }}
                    <a href="{{ path('entity_association_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% endif %}
            </h2>

            {{ form_start(textPropertyForm) }}
                {{ form_row(textPropertyForm.textProperty) }}
                {{ form_row(textPropertyForm.languageIsoCode) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                {% if textProperty.classAssociation is not null %}
                    <a href="{{ path('class_association_edit', {
                        id: textProperty.classAssociation.id
                    }) }}"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.propertyAssociation is not null %}
                    <a href="{{ path('property_association_edit', {
                        id: textProperty.propertyAssociation.id
                    }) }}"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.class is not null %}
                    <a href="{{ path('class_edit', {
                        id: textProperty.class.id
                    }) }}#scopes-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.property is not null %}
                    <a href="{{ path('property_edit', {
                        id: textProperty.property.id
                    }) }}#scopes-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.project is not null %}
                    <a href="{{ path('project_edit', {
                        id: textProperty.project.id
                    }) }}#description-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.profile is not null %}
                    <a href="{{ path('profile_edit', {
                        id: textProperty.profile.id
                    }) }}#definition"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.namespace is not null %}
                    <a href="{{ path('namespace_edit', {
                        id: textProperty.namespace.id
                    }) }}#definition"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.entityAssociation is not null and app.request.attributes.get('_route') == 'text_property_inverse_new' %}
                    <a href="{{ path('entity_association_inverse_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif textProperty.entityAssociation is not null %}
                    <a href="{{ path('entity_association_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% endif %}
            {{ form_end(textPropertyForm) }}
        </div>
    </div>
</div>
{% endblock %}