{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>New {{ textProperty.systemType.standardLabel }}
                {% if textProperty.classAssociation is not null %}
                    <a href="{{ path('class_association_edit', {
                        id: textProperty.classAssociation.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.propertyAssociation is not null %}
                    <a href="{{ path('property_association_edit', {
                        id: textProperty.propertyAssociation.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.class is not null %}
                    <a href="{{ path('class_edit', {
                        id: textProperty.class.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.property is not null %}
                    <a href="{{ path('property_edit', {
                        id: textProperty.property.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.project is not null %}
                    <a href="{{ path('project_edit', {
                        id: textProperty.project.id
                    }) }}"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.entityAssociation is not null and app.request.attributes.get('_route') == 'text_property_inverse_new' %}
                    <a href="{{ path('entity_association_inverse_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% elseif  textProperty.entityAssociation is not null %}
                    <a href="{{ path('entity_association_edit', {
                        id: textProperty.entityAssociation.id
                    }) }}#definition"
                       class="pull-right btn btn-link"
                       role="button">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                {% endif %}
            </h2>

            {{ form_start(textPropertyForm) }}
                {{ form_row(textPropertyForm.textProperty) }}
                {{ form_row(textPropertyForm.languageIsoCode) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                {% if textProperty.classAssociation is not null %}
                    <a href="{{ path('class_association_edit', {
                        id: textProperty.classAssociation.id
                    }) }}"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif  textProperty.propertyAssociation is not null %}
                    <a href="{{ path('property_association_edit', {
                        id: textProperty.propertyAssociation.id
                    }) }}"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif  textProperty.class is not null %}
                    <a href="{{ path('class_edit', {
                        id: textProperty.class.id
                    }) }}#scopes-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif  textProperty.property is not null %}
                    <a href="{{ path('property_edit', {
                        id: textProperty.property.id
                    }) }}#scopes-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% elseif  textProperty.project is not null %}
                    <a href="{{ path('project_edit', {
                        id: textProperty.project.id
                    }) }}#description-notes"
                       class="btn btn-default"
                       role="button">
                        Back <i class="fas fa-arrow-left"></i>
                    </a>
                {% endif %}
            {{ form_end(textPropertyForm) }}
        </div>
    </div>
</div>
{% endblock %}