{% extends 'base.html.twig' %}
{% block body %}

    {% import _self as btnMacros %}
    {% macro backButton(_route, _id, _fragment = "", idCss = 'top') %}
        {% if idCss == 'form' %}
            {% set css = 'btn btn-default' %}
        {% else %}
            {% set css = 'pull-right btn btn-link' %}
        {% endif %}

        <a href="{{ path(_route, {id: _id, '_fragment': _fragment}) }}" class={{ css|e('html_attr') }} role="button">
            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
        </a>
    {% endmacro %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {% if textProperty.classAssociation is not null %}

                    New {{ textProperty.systemType.standardLabel }}
                    {% set _route, _id, _fragment = 'class_association_edit', textProperty.classAssociation.id, '' %}

                {% elseif textProperty.propertyAssociation is not null %}

                    New {{ textProperty.systemType.standardLabel }}
                    {% if is_granted('edit', textProperty.propertyAssociation) %}
                        {% set _route, _id, _fragment = 'property_association_edit', textProperty.propertyAssociation.id, '' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'property_association_show', textProperty.propertyAssociation.id, '' %}
                    {% endif %}

                {% elseif textProperty.class is not null %}

                    {% if textProperty.systemType.id in [33,34,35] %}
                        Add an additional note
                    {% else %}
                        Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    {% endif %}

                    {# Chercher la bonne version de la classe selon la version du txtp #}
                    {% set classVersion = textProperty.class.classVersions|filter(v => v.namespaceForVersion in textProperty.namespaceForVersion.allReferencedNamespaces)|first|default(textProperty.class.classVersionForDisplay) %}

                    for the class {{ classVersion }}
                    {% if is_granted('edit', textProperty.class) and (textProperty.class.classVersions|filter(v => v.namespaceForVersion.isOngoing)|first).namespaceForVersion == textProperty.namespaceForVersion %}
                        {% set _route, _id, _fragment = 'class_edit', textProperty.class.id, 'definition' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'class_show', textProperty.class.id, 'definition' %}
                    {% endif %}

                {% elseif textProperty.property is not null %}

                    {% if textProperty.systemType.id in [33,34,35] %}
                        Add an additional note
                    {% else %}
                        Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    {% endif %}

                    {# Chercher la bonne version de la propriété selon la version du txtp #}
                    {% set propertyVersion = textProperty.property.propertyVersions|filter(v => v.namespaceForVersion in textProperty.namespaceForVersion.allReferencedNamespaces)|first|default(textProperty.property.propertyVersionForDisplay) %}

                    for the property {{ propertyVersion }}
                    {% if is_granted('edit', textProperty.property) and (textProperty.property.propertyVersions|filter(v => v.namespaceForVersion.isOngoing)|first).namespaceForVersion == textProperty.namespaceForVersion %}
                        {% set _route, _id, _fragment = 'property_edit', textProperty.property.id, 'definition' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'property_show', textProperty.property.id, 'definition' %}
                    {% endif %}

                {% elseif textProperty.project is not null %}

                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the project {{ textProperty.project }}
                    {% if is_granted('edit', textProperty.project) %}
                        {% set _route, _id, _fragment = 'project_edit', textProperty.project.id, 'definition' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'project_show', textProperty.project.id, 'definition' %}
                    {% endif %}

                {% elseif textProperty.profile is not null %}

                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the profile {{ textProperty.profile }}
                    {% if is_granted('edit', textProperty.profile) %}
                        {% set _route, _id, _fragment = 'profile_edit', textProperty.profile.id, 'definition' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'profile_show', textProperty.profile.id, 'definition' %}
                    {% endif %}

                {% elseif textProperty.namespace is not null %}

                    {% set fragment = "definition" %}
                    {% if textProperty.systemType.id == 31 %}
                        {% set fragment = "identification" %}
                    {% endif %}
                    Add a{% if textProperty.systemType.standardLabel|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}n{% endif %} {{ textProperty.systemType.standardLabel|lower }}
                    for the namespace {{ textProperty.namespace }}
                    {% if is_granted('edit', textProperty.namespace) %}
                        {% set _route, _id, _fragment = 'namespace_edit', textProperty.namespace.id, fragment %}
                    {% else %}
                        {% set _route, _id, _fragment = 'namespace_show', textProperty.namespace.id, fragment %}
                    {% endif %}

                {% elseif textProperty.entityAssociation is not null and app.request.attributes.get('_route') == 'text_property_inverse_new' %}

                    New {{ textProperty.systemType.standardLabel }}
                    {% set _route, _id, _fragment = 'entity_association_inverse_edit', textProperty.entityAssociation.id, 'definition' %}

                {% elseif textProperty.entityAssociation is not null %}

                    New {{ textProperty.systemType.standardLabel }}
                    {% if is_granted('edit', textProperty.entityAssociation) %}
                        {% set _route, _id, _fragment = 'entity_association_edit', textProperty.entityAssociation.id, 'definition' %}
                    {% else %}
                        {% set _route, _id, _fragment = 'entity_association_show', textProperty.entityAssociation.id, 'definition' %}
                    {% endif %}

                {% endif %}
                {{ btnMacros.backButton(_route, _id, _fragment) }}
            </h2>

            {{ form_start(textPropertyForm) }}
                {% if (textProperty.class is not null or textProperty.property is not null) and textProperty.systemType.id in [33,34,35] %}
                    {{ form_row(textPropertyForm.systemType) }}
                {% endif %}
                {{ form_row(textPropertyForm.textProperty) }}
                {{ form_row(textPropertyForm.languageIsoCode) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                {{ btnMacros.backButton(_route, _id, _fragment, 'form') }}
            {{ form_end(textPropertyForm) }}
        </div>
    </div>
</div>
{% endblock %}