{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>

                    {% if textProperty.class is not null %}
                        {% set route = 'class_show_with_version' %}
                        {% set namespaceFromUrlId = textProperty.namespaceForVersion.id %}
                        {{ textProperty.systemType.standardLabel|capitalize }} for the class {{ textProperty.class.classVersionForDisplay(textProperty.namespaceForVersion) }}
                    {% elseif textProperty.property is not null %}
                        {% set route = 'property_show_with_version' %}
                        {% set namespaceFromUrlId = textProperty.namespaceForVersion.id %}
                        {{ textProperty.systemType.standardLabel|capitalize }} for the property {{ textProperty.property.propertyVersionForDisplay(textProperty.namespaceForVersion) }}
                    {% elseif textProperty.namespace is not null %}
                        {% set route = 'namespace_show' %}
                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                    {% elseif textProperty.project is not null %}
                        {% set route = 'project_show' %}
                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                    {% elseif textProperty.profile is not null %}
                        {% set route = 'profile_show' %}
                        {% if textProperty.object is not null %}
                            {% if textProperty.object.identifierInNamespace is not null %}
                                {{ textProperty.object.standardLabel }} – {{ textProperty.object.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                            {% else %}
                                {{ textProperty.object.objectIdentification }}: {{ textProperty.systemType.standardLabel }}
                            {% endif %}
                        {% else %}
                            {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                    {% elseif textProperty.classAssociation is not null %}
                        {% set route = 'class_association_show' %}
                        {% set childClass = textProperty.classAssociation.childClass %}
                        {{ childClass.classVersionForDisplay(textProperty.classAssociation.childClassNamespace).standardLabel }} – {{ childClass.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                    {% elseif textProperty.propertyAssociation is not null %}
                        {% set route = 'property_association_show' %}
                        {% set childProperty = textProperty.propertyAssociation.childProperty %}
                        {{ childProperty.propertyVersionForDisplay(textProperty.propertyAssociation.childPropertyNamespace).standardLabel }} – {{ childClass.identifierInNamespace }}: {{ textProperty.systemType.standardLabel }}
                    {% elseif textProperty.entityAssociation is not null %}
                        {% set route = 'entity_association_show' %}
                        {% if textProperty.entityAssociation.sourceClass is not null %}
                            {{ textProperty.entityAssociation.sourceClass }} {{ textProperty.entityAssociation.systemType.standardLabel }} {{ textProperty.entityAssociation.targetClass }} : {{ textProperty.systemType.standardLabel }}
                        {% elseif textProperty.entityAssociation.sourceProperty is not null %}
                            {{ textProperty.entityAssociation.sourceClass }} {{ textProperty.entityAssociation.systemType.standardLabel }} {{ textProperty.entityAssociation.targetClass }} : {{ textProperty.systemType.standardLabel }}
                        {% endif %}
                    {% endif %}

                    {% if route is not null and namespaceFromUrlId is defined %}
                        <a href="{{ path(route, {
                            'id':textProperty.object.id,
                            'namespaceFromUrlId': namespaceFromUrlId,
                            '_fragment': 'definition'}) }}"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% elseif route is not null %}
                        <a href="{{ path(route, {'id':textProperty.object.id, '_fragment': 'definition'}) }}"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% else %}
                        <a href="{{ app.request.headers.get('referer') }}#definition"
                           class="pull-right btn btn-link"
                           role="button">
                            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                        </a>
                    {% endif %}
                </h2>
                <h4>
                    {% if textProperty.class is not null and is_granted('validate', textProperty.class.classVersionForDisplay(textProperty.namespaceForVersion))
                        or textProperty.property is not null and is_granted('validate', textProperty.property.propertyVersionForDisplay(textProperty.namespaceForVersion))
                        or textProperty.namespace is not null and is_granted('validate', textProperty.namespace)
                    %}
                        <div class="dropdown inline-block">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-validation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                                &nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-versions" aria-labelledby="dropdown-versions">
                                <li class="label-success">
                                    <a class="select-validation-status" data-id ="26" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 26
                                    }) }}">
                                    <span class="label label-success">
                                        Validated
                                    </span>
                                    </a>
                                </li>
                                <li class="label-warning">
                                    <a class="select-validation-status" data-id="28" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 28
                                    }) }}">
                                    <span class="label label-warning">
                                        Validation request
                                    </span>
                                    </a>
                                </li>
                                <li class="label-danger">
                                    <a class="select-validation-status" data-id="27" href="{{ path('text_property_validation_status_edit', {
                                        id: textProperty.id,
                                        validationStatus: 27
                                    }) }}">
                                    <span class="label label-danger">
                                        Denied (see comment)
                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% elseif textProperty.class is not null or textProperty.property is not null%}
                        {% if textProperty.validationStatus is null %}
                            <span class="label label-info">
                                    Candidate
                                </span>
                        {% elseif textProperty.validationStatus.id == 26  %}
                            <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% elseif textProperty.validationStatus.id == 27  %}
                            <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% elseif textProperty.validationStatus.id == 28  %}
                            <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                        {% endif %}
                    {% endif %}
                </h4>
                <ul class="nav nav-tabs" id="main-tabs">
                    <li class="active"><a data-toggle="tab" href="#text-property">{{ textProperty.systemType }}</a></li>
                    {% if textProperty.systemType.id != 31 %}
                        <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="text-property" class="tab-pane fade in active">
                        <div class="container">
                            <h3>{{ textProperty.systemType }}</h3>
                            <dl class="object-details-list">
                                <dt>Text</dt>
                                <dd class="well">{{ textProperty.textProperty|raw}}</dd>
                                {% if textProperty.systemType.id != 31 %}
                                    <dt>Language</dt>
                                    <dd>{{ textProperty.languageIsoCode}}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                    {% if textProperty.systemType.id != 31 %}
                        <div id="comments" class="tab-pane fade">
                            <h3>Comments</h3>
                            <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                                <div class="action-box">
                                    {% if textProperty.comments is empty %}
                                        <p id="comment-not-found"><em>No comment found.</em></p>
                                    {% endif %}
                                    <ul id="comments-list" class="comments-list">
                                        {% for comment in textProperty.comments %}
                                            <li>
                                                <div class="comment-text">
                                                    <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                                    <p>{{ comment.comment }}</p>
                                                    <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    {% if app.user %}
                                        <div class="new-comment-form" id="new-comment-form">
                                            {{ render(controller('AppBundle:Comment:new', {'object' : 'text-property', 'objectId' : textProperty.id})) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if textProperty.systemType.id != 31 %}
        {% include 'comment/js-bock.html.twig'  with {'objectType': 'text-property', 'objectId' : textProperty.id  } %}
    {% endif %}
{% endblock %}
