{% extends 'base.html.twig' %}

{% block title %}{{ classVersion }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="clearfix">
            <div class="pull-right" style="margin-top: 20px; margin-bottom: 10px;">
                <div class="dropdown inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownVersions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ classVersion.namespaceForVersion }}
                        <span class="label label-{{ classVersion.namespaceForVersion.status.classCss }}">
                            {{ classVersion.namespaceForVersion.status.label }}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownVersions">
                        {% if classVersion.class.classVersions|length > 1 %}
                            {% for otherClassVersion in classVersion.class.classVersions if otherClassVersion != classVersion %}
                                <li>
                                    <a href="#">{{ otherClassVersion.namespaceForVersion }}
                                        <span class="label label-{{ otherClassVersion.namespaceForVersion.status.classCss }}">
                                            {{ otherClassVersion.namespaceForVersion.status.label }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="disabled">
                                <a href="#">No other version</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <h2>{{ classVersion }}</h2>
        </div>
        <div>
            {% set countValidationsTxtp = 0 %}
            {% set countValidationsLbl = 0 %}

            {% for textProperty in classVersion.class.textProperties
                if textProperty.systemType.id == 1
                and textProperty.namespaceForVersion.id in namespacesId %}
                {% if textProperty.validationStatus is not null and textProperty.validationStatus.id == 26 %}
                    {% set countValidationsTxtp = countValidationsTxtp + 1 %}
                {% endif %}
            {% endfor %}

            {% for label in classVersion.class.labels
                if label.namespaceForVersion.id in namespacesId %}
                {% if label.validationStatus is not null and label.validationStatus.id == 26 %}
                    {% set countValidationsLbl = countValidationsLbl + 1 %}
                {% endif %}
            {% endfor %}

            {% if countValidationsTxtp > 0 and countValidationsLbl > 0 %}
                {{ include('class/_validation.html.twig') }}
            {% else %}
                <h6><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>This class does not yet have the minimum number of validated parts required for publication.</em></h6>
            {% endif %}
        </div>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li>
                <a data-toggle="tab" href="#comments" class="updateViewComment" data-id="{{ classVersion.class.id }}" data-object="class">
                    Comments
                    {% set commentsClass = classVersion.class.comments %}
                    {% set commentsClassVersion = commentsClass|filter(commentsClass => commentsClass.namespaceForVersion.id == classVersion.namespaceForVersion.id) %}
                    <span class="badge {% if commentsClassVersion is not empty %}progress-bar-danger {% endif %}">
                        {{ commentsClassVersion|length }}
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ classVersion.invertedLabel }}</h3>
                <div class="container">
                    {# Subclass of #}
                    {% set isSubclassOf = false %}
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set isSubclassOf = true %}
                    {% endfor %}
                    {% if isSubclassOf %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Subclass of:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {# Filtrer les associations is_subclass_of avec namespacesId #}
                                    {% for association in classVersion.class.childClassAssociations
                                        if association.namespaceForVersion.id in namespacesId %}

                                        {# Initialisation #}
                                        {% set isGoodNamespace = true %}
                                        {% set route = 'class_show_with_version' %}
                                        {% set route_params = {'id': association.parentClass.id,  'namespaceFromUrlId': association.parentClassNamespace.id } %}

                                        {# Le namespace de parentClass correspond-t-il aux namespaces selectionnés ? Si non : rouge #}
                                        {% if association.parentClassNamespace.id not in association.namespaceForVersion.selectedNamespacesId %}
                                            {% set isGoodNamespace = false %}
                                            {% set route = 'namespace_show' %}
                                            {% set route_params = {'id': association.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                        {% endif %}
                                        <li>
                                            <a href="{{ path(route, route_params) }}" title="{{ association.parentClassNamespace }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                {{ association.parentClass.classVersionForDisplay(association.parentClassNamespace).invertedLabel(true) }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Superclass of #}
                    {% set isSuperclassOf = false %}
                    {% for association in classVersion.class.parentClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set isSuperclassOf = true %}
                    {% endfor %}
                    {% if isSuperclassOf %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Superclass of:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {# Filtrer les associations is_subclass_of avec namespacesId #}
                                    {% for association in classVersion.class.parentClassAssociations
                                        if association.namespaceForVersion.id in namespacesId %}

                                        {# Initialisation #}
                                        {% set isGoodNamespace = true %}
                                        {% set route = 'class_show_with_version' %}
                                        {% set route_params = {'id': association.childClass.id,  'namespaceFromUrlId': association.childClassNamespace.id } %}

                                        {# Le namespace de parentClass correspond-t-il aux namespaces selectionnés ? Si non : rouge #}
                                        {% if association.parentClassNamespace.id not in association.namespaceForVersion.selectedNamespacesId %}
                                            {% set isGoodNamespace = false %}
                                            {% set route = 'namespace_show' %}
                                            {% set route_params = {'id': association.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                        {% endif %}
                                        <li>
                                            <a href="{{ path(route, route_params) }}" title="{{ association.childClassNamespace }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                {{ association.childClass.classVersionForDisplay(association.childClassNamespace).invertedLabel(true) }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Relations #}
                    {% set isRelated = false %}
                    {% for relation in classVersion.class.entityAssociations
                        if relation.namespaceForVersion.id in namespacesId
                        and relation.systemType.id in [4,19] %}
                        {% set isRelated = true %}
                    {% endfor %}
                    {% if isRelated %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Relations:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {# Filtrer les associations entity_associations avec namespacesId #}
                                    {# SystemTypes utilisés: 4=owl:equivalentClass, 19=owl:DisjointWith #}
                                    {% for relation in classVersion.class.entityAssociations
                                        if relation.namespaceForVersion.id in namespacesId
                                        and relation.systemType.id in [4,19] %}
                                        <li>{{ relation.systemType.standardLabel }}
                                            {% if relation.sourceClass.id == classVersion.class.id %}
                                                {# La classe affichée est "source", on cherche le "target" #}

                                                {# Initialisation #}
                                                {% set isGoodNamespace = true %}
                                                {% set route = 'class_show_with_version' %}
                                                {% set route_params = {'id': relation.targetClass.id,  'namespaceFromUrlId': relation.targetNamespaceForVersion.id } %}

                                                {# Le namespace de targetClass correspond-t-il aux namespaces selectionnés ? Si non : rouge #}
                                                {% if relation.targetNamespaceForVersion.id not in relation.namespaceForVersion.selectedNamespacesId %}
                                                    {% set isGoodNamespace = false %}
                                                    {% set route = 'namespace_show' %}
                                                    {% set route_params = {'id': relation.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                                {% endif %}
                                                <a href="{{ path(route, route_params) }}" title="{{ relation.targetNamespaceForVersion }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                    {{ relation.targetClass.classVersionForDisplay(relation.targetNamespaceForVersion).invertedLabel(true) }}</a>
                                            {% else %}
                                                {# La classe affichée est "target", on cherche la "source" #}

                                                {# Initialisation #}
                                                {% set isGoodNamespace = true %}
                                                {% set route = 'class_show_with_version' %}
                                                {% set route_params = {'id': relation.sourceClass.id,  'namespaceFromUrlId': relation.sourceNamespaceForVersion.id } %}

                                                {# Le namespace de sourceClass correspond-t-il aux namespaces selectionnés ? Si non : rouge #}
                                                {% if relation.sourceNamespaceForVersion.id not in relation.namespaceForVersion.selectedNamespacesId %}
                                                    {% set isGoodNamespace = false %}
                                                    {% set route = 'namespace_show' %}
                                                    {% set route_params = {'id': relation.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                                {% endif %}

                                                <a href="{{ path(route, route_params) }}" title="{{ relation.targetNamespaceForVersion }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                    {{ relation.sourceClass.classVersionForDisplay(relation.sourceNamespaceForVersion).invertedLabel(true) }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Scope note #}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Scope note:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set scopeNote=null %}
                            {% set break=false %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 1=Scope note #}
                            {# Retrouver en priorité le scope note en anglais #}
                            {% for textProperty in classVersion.class.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 1
                                and not break %}
                                {% if textProperty.languageIsoCode == 'en' %}
                                    {% set break = true %}{# En anglais donc prioritaire: break #}
                                    {% set scopeNote = textProperty.textProperty %}
                                {% else %}
                                    {% if scopeNote is null %}
                                        {% set scopeNote = textProperty.textProperty %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if scopeNote is null %}
                                {% set scopeNote = '<i>No scope note yet.</i>' %}
                            {% endif %}
                            {{ scopeNote|raw }}
                        </div>
                    </div>

                    {# Examples #}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Examples:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set isExamplesEmpty = true %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 7=Example #}
                            {% for textProperty in classVersion.class.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 7 %}
                                {% set isExamplesEmpty = false %}
                                {{ textProperty.textProperty|raw }}
                            {% endfor %}
                            {% if isExamplesEmpty %}
                                <p><i>No example yet.</i></p>
                            {% endif %}
                        </div>
                    </div>

                    {# In First Order Logic #}
                    {% set associationCount = 0 %}
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set associationCount = associationCount + 1 %}
                    {% endfor %}
                    {% if associationCount > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>In First Order Logic:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for association in classVersion.class.childClassAssociations
                                        if association.namespaceForVersion.id in namespacesId %}
                                        <li>{{ classVersion.class.identifierInNamespace }}(x) ⊃ {{ association.parentClass.identifierInNamespace }}(x)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Outgoing properties #}
                    {% if outgoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Outgoing properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {# inutile de filtrer outgoingProperties car déjà fait par le repository #}
                                    {% for outgoingProperty in outgoingProperties %}

                                        {# Initialisation #}
                                        {% set isGoodNamespace = true %}
                                        {% set route = 'class_show_with_version' %}
                                        {% set route_params = {'id': outgoingProperty.rangeId,  'namespaceFromUrlId': outgoingProperty.rangeNamespaceId } %}

                                        {# Vérification #}
                                        {% if outgoingProperty.rangeNamespaceId not in outgoingProperty.selectedNamespacesId %}
                                            {% set isGoodNamespace = false %}
                                            {% set route = 'namespace_show' %}
                                            {% set route_params = {'id': outgoingProperty.propertyNamespaceId,  '_fragment': 'mismatches' } %}
                                        {% endif %}

                                        <li>
                                            <a href="{{ path('property_show_with_version', {
                                                'id': outgoingProperty.propertyId,
                                                'namespaceFromUrlId': outgoingProperty.propertyNamespaceId
                                            }) }}" title="{{ outgoingProperty.namespace }}">{{ outgoingProperty.propertyRootNamespacePrefix }}:{{ outgoingProperty.property }}</a>
                                            →
                                            <a href="{{ path(route, route_params) }}" title="{{ outgoingProperty.rangeNamespace }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                {{ outgoingProperty.rangeRootNamespacePrefix }}:{{ outgoingProperty.range }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Incoming properties #}
                    {% if ingoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Incoming properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for ingoingProperty in ingoingProperties %}

                                        {# Initialisation #}
                                        {% set isGoodNamespace = true %}
                                        {% set route = 'class_show_with_version' %}
                                        {% set route_params = {'id': ingoingProperty.domainId,  'namespaceFromUrlId': ingoingProperty.domainNamespaceId } %}

                                        {# Vérification #}
                                        {% if ingoingProperty.domainNamespaceId not in ingoingProperty.selectedNamespacesId %}
                                            {% set isGoodNamespace = false %}
                                            {% set route = 'namespace_show' %}
                                            {% set route_params = {'id': ingoingProperty.propertyNamespaceId,  '_fragment': 'mismatches' } %}
                                        {% endif %}

                                        <li>
                                            <a href="{{ path(route, route_params) }}" title="{{ ingoingProperty.domainNamespace }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                                {{ ingoingProperty.domainRootNamespacePrefix }}:{{ ingoingProperty.domain }}</a>
                                            →
                                            <a href="{{ path('property_show_with_version', {
                                                'id': ingoingProperty.propertyId,
                                                'namespaceFromUrlId': classVersion.namespaceForVersion.id }) }}">
                                                {{ ingoingProperty.property }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'scope-note', 'object': 'class', 'objectId': classVersion.class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 1
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            <tr>
                                <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                                <td class="truncated-text">
                                    <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                </td>
                                <td>{{ textProperty.languageIsoCode}}</td>
                                <td>{{ textProperty.namespaceForVersion }}</td>
                                <td>
                                    <a href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                        <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                    </a>
                                </td>
                                <td>
                                    {% if textProperty.validationStatus is null %}
                                        <span class="label label-info">
                                    Candidate
                                </span>
                                    {% elseif textProperty.validationStatus.id == 26  %}
                                        <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                    {% set countValidationsTxtp = countValidationsTxtp + 1 %}
                                </span>
                                    {% elseif textProperty.validationStatus.id == 27  %}
                                        <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                    {% elseif textProperty.validationStatus.id == 28  %}
                                        <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'example', 'object': 'class', 'objectId': classVersion.class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 7
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>{{ textProperty.namespaceForVersion }}</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'additional-note', 'object': 'class', 'objectId': classVersion.class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 12
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>{{ textProperty.namespaceForVersion }}</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {# Test de vérification si cet identifiant existe déjà dans un namespace fermé (il n'est donc plus éditable #}
                {% set isIdentifierExistAndPublished = false %}
                {% for namespace in classVersion.class.namespaces %}
                    {% if not namespace.isOngoing %}
                        {% for class_ns in namespace.classes %}
                            {% if class_ns.identifierInNamespace == class.identifierInNamespace %}
                                {% set isIdentifierExistAndPublished = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if classVersion.namespaceForVersion.topLevelNamespace.classPrefix is null and not isIdentifierExistAndPublished %}
                    <div id="identifier-form-block">
                        {{ form_start(classIdentifierForm) }}
                        {{ form_errors(classIdentifierForm) }}
                        <p>{{ form_row(classIdentifierForm.identifierInNamespace) }}</p>
                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        <button type="button" id="identifier-edit-btn-close" class="btn">Close</button>
                        {{ form_end(classIdentifierForm) }}
                    </div>
                    <h3 id="identifier-details-block">Identifier : {{ classVersion.class.identifierInNamespace }}<a class="btn" id="identifier-edit-btn" href="#identification"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h3>
                {% else %}
                    <h3 id="identifier-details-block">Identifier : {{ classVersion.class.identifierInNamespace }}</h3>
                {% endif %}
                <div class="pull-right add-div">
                    <a href="{{ path('label_new', {'object': 'class', 'objectId': classVersion.class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                        <th>Edit</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in classVersion.class.labels
                        if label.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">{{ label.label }}</a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}#comments" data-id="{{ label.id }}" data-object="label">
                                    <span class="badge {% if label.comments|length > 0  %}progress-bar-danger {% endif %}">{{ label.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if label.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif label.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ label.validationStatus }}
                                    {% set countValidationsLbl = countValidationsLbl + 1 %}
                                </span>
                                {% elseif label.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ label.validationStatus }}
                                </span>
                                {% elseif label.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ label.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cversion in classVersion.class.classVersions %}
                        <tr {% if cversion.namespaceForVersion.id == classVersion.namespaceForVersion.id %}class="success"{% endif %}>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': cversion.namespaceForVersion.id
                                }) }}">
                                    {{ cversion.namespaceForVersion }}
                                </a>
                            </td>
                            <td>{{ cversion.namespaceForVersion.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('new_parent_class_form', {'childClass': classVersion.class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h3>Parent classes
                    {% set tooltipClass = "rdfs:subclassOf the class below" %}
                    {% if classVersion.class.childClassAssociations|length > 1  %}
                        {% set tooltipClass = "rdfs:subclassOf the classes listed below" %}
                    {% endif %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ classVersion }} {{ tooltipClass }}">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="parent-classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Class namespace</th>
                        <th>Relation defined in</th>
                        <th>Justification</th>
                        <th>View details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# Filtrer les associations is_subclass_of avec namespacesId #}
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}

                        {# Initialisation #}
                        {% set parentClassVersion = null %}
                        {% set isGoodNamespace = true %}
                        {% set route = 'class_show_with_version' %}
                        {% set route_params = {'id': association.parentClass.id,  'namespaceFromUrlId': association.parentClassNamespace.id, '_fragment': 'class-hierarchy' } %}

                        {# Le namespace de parentClass correspond-t-il aux namespaces selectionnés ? Si non : rouge #}
                        {% set parentClassNamespaceId = association.parentClassNamespace.id %}
                        {% if parentClassNamespaceId not in association.namespaceForVersion.selectedNamespacesId %}
                            {% set isGoodNamespace = false %}
                            {% set route = 'namespace_show' %}
                            {% set route_params = {'id': association.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                        {% endif %}

                        {# Est ce qu'une version parentClass existe dans les namespaces sélectionnés de l'association ? #}
                        {% for iParentClassVersion in association.parentClass.classVersions
                            if iParentClassVersion.namespaceForVersion.id in association.namespaceForVersion.selectedNamespacesId %}
                            {% set parentClassVersion = iParentClassVersion %}
                        {% endfor %}

                        {# Aucune version n'a été retrouvée on prend celle par défaut  #}
                        {% if parentClassVersion is null %}
                            {% set parentClassVersion = association.parentClass.classVersions|first %}
                        {% endif %}
                        <tr>
                            <td>
                                <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                    {{ parentClassVersion.invertedLabel }}
                                </a>
                            </td>
                            <td>{{ association.parentClass.classVersionForDisplay(association.parentClassNamespace).namespaceForVersion }}</td>
                            <td>{{ association.namespaceForVersion }}</td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('class_association_show', {'id': association.id}) }}"><span class="fa fa-info-circle"></span></a>
                            </td>
                            <td>
                                {% if is_granted('edit', association) %}
                                    <a href="{{ path('class_association_edit', {'id': association.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-edit"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('delete', association) %}
                                    <a href="#class-hierarchy" class="btn btn-xs btn-danger btn-delete-association" data-id="{{ association.id }}" data-type="classAssociation"><span class="fa fa-trash-alt"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('class_association_edit', {
                                    'id': association.id
                                }) }}#comments" data-id="{{ association.id }}" data-object="class-association">
                                    <span class="badge {% if association.comments|length > 0  %}progress-bar-danger {% endif %}">{{ association.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if association.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif association.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ association.validationStatus }}
                                </span>
                                {% elseif association.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ association.validationStatus }}
                                </span>
                                {% elseif association.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ association.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor classes</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                        <th>Via</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ancestor.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}" >
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.classNamespaceLabel }}</td>
                            <td>
                                {% set branch_ancestors = ancestor.ancestors|split('|')[1:] %}
                                {% set branch_pk_ancestors = ancestor.pk_ancestors|split('|')[1:] %}
                                {% set branch_pk_version_ancestors = ancestor.pk_version_ancestors|split('|')[1:] %}
                                {% set link_branch_ancestors = [] %}
                                {% for branch_ancestor in  branch_ancestors %}
                                    {% set link_branch_ancestors = link_branch_ancestors|merge(['<a href="' ~ path('class_show_with_version', {'id': branch_pk_ancestors[loop.index0], 'namespaceFromUrlId': branch_pk_version_ancestors[loop.index0], '_fragment': 'class-hierarchy'}) ~ '">' ~ branch_ancestors[loop.index0] ~ '</a>']) %}
                                {% endfor %}
                                {{ link_branch_ancestors|join(' - ')|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Child and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                        <th>Via</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': descendant.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.classNamespaceLabel }}</td>
                            <td>
                                {% set branch_descendants = descendant.descendants|split('|')[1:] %}
                                {% set branch_pk_descendants = descendant.pk_descendants|split('|')[1:] %}
                                {% set branch_pk_version_descendants = descendant.pk_version_descendants|split('|')[1:] %}
                                {% set link_branch_descendants = [] %}
                                {% for branch_descendant in  branch_descendants %}
                                    {% set link_branch_descendants = link_branch_descendants|merge(['<a href="' ~ path('class_show_with_version', {'id': branch_pk_descendants[loop.index0], 'namespaceFromUrlId': branch_pk_version_descendants[loop.index0], '_fragment': 'class-hierarchy'}) ~ '">' ~ branch_descendants[loop.index0] ~ '</a>']) %}
                                {% endfor %}
                                {{ link_branch_descendants|join(' - ')|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="relations" class="tab-pane fade">
                {% if is_granted('add_associations', classVersion.namespaceForVersion) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_entity_association_form', {'object': 'class', 'objectId': classVersion.class.id}) }}" class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Related classes</h3>
                <table class="table table-striped" id="relations-table">
                    <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Class</th>
                        <th>Justification</th>
                        <th>Relation defined in</th>
                        <th>View details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for relation in classVersion.class.entityAssociations
                        if relation.systemType.id in [4,19]
                        and relation.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>{{ relation.systemType }}</td>
                            <td>
                                {% if relation.sourceClass.id == classVersion.class.id %}
                                    {# La classe affichée est "source", on cherche le "target" #}

                                    {# Initialisation #}
                                    {% set targetClassVersion = null %}
                                    {% set isGoodNamespace = true %}
                                    {% set route = 'class_show_with_version' %}
                                    {% set route_params = {'id': relation.targetClass.id,  'namespaceFromUrlId': relation.targetNamespaceForVersion.id } %}

                                    {# Est ce qu'une version targetClass existe dans les namespaces sélectionnés de l'association ? #}
                                    {% for iTargetClassVersion in relation.targetClass.classVersions
                                        if iTargetClassVersion.namespaceForVersion.id in relation.namespaceForVersion.selectedNamespacesId %}
                                        {% set targetClassVersion = iTargetClassVersion %}
                                    {% endfor %}

                                    {# Aucune version n'a été retrouvée on prend celle par défaut et on le met en rouge #}
                                    {% if targetClassVersion is null %}
                                        {% set targetClassVersion = relation.targetClass.classVersions|first %}
                                        {% set isGoodNamespace = false %}
                                        {% set route = 'namespace_show' %}
                                        {% set route_params = {'id': relation.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                    {% endif %}

                                    <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                        {{ targetClassVersion.invertedLabel }}</a>
                                {% else %}
                                    {# La classe affichée est "target", on cherche la "source" #}

                                    {# Initialisation #}
                                    {% set sourceClassVersion = null %}
                                    {% set isGoodNamespace = true %}
                                    {% set route = 'class_show_with_version' %}
                                    {% set route_params = {'id': relation.sourceClass.id,  'namespaceFromUrlId': relation.sourceNamespaceForVersion.id } %}

                                    {# Est ce qu'une version sourceClass existe dans les namespaces sélectionnés de l'association ? #}
                                    {% for iSourceClassVersion in relation.sourceClass.classVersions
                                        if iSourceClassVersion.namespaceForVersion.id in relation.namespaceForVersion.selectedNamespacesId %}
                                        {% set sourceClassVersion = iSourceClassVersion %}
                                    {% endfor %}

                                    {# Aucune version n'a été retrouvée on prend celle par défaut et on le met en rouge #}
                                    {% if sourceClassVersion is null %}
                                        {% set sourceClassVersion = relation.sourceClass.classVersions|first %}
                                        {% set isGoodNamespace = false %}
                                        {% set route = 'namespace_show' %}
                                        {% set route_params = {'id': relation.namespaceForVersion.id,  '_fragment': 'mismatches' } %}
                                    {% endif %}

                                    <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                        {{ sourceClassVersion.invertedLabel }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if relation.textProperties is not null %}
                                    {% for textProperty in relation.textProperties if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ relation.namespaceForVersion.topLevelNamespace }}</td>
                            <td>
                                {% if classVersion.class.id == relation.sourceClass.id %}
                                    <a href="{{ path('entity_association_show', {
                                        'id': relation.id
                                    }) }}">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('entity_association_inverse_show', {
                                        'id': relation.id
                                    }) }}">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('edit', relation) %}
                                    {% if classVersion.class.id == relation.sourceClass.id %}
                                    <a href="{{ path('entity_association_edit', {
                                        'id': relation.id
                                    }) }}" class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    {% else %}
                                    <a href="{{ path('entity_association_inverse_edit', {
                                        'id': relation.id
                                    }) }}" class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('delete', relation) %}
                                <a href="#relations" class="btn btn-xs btn-danger btn-delete-association" data-id="{{ relation.id }}" data-type="entityAssociation"><span class="fa fa-trash-alt"></span></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if classVersion.class.id == relation.sourceClass.id %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_edit', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% else %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_inverse_edit', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if relation.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif relation.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ relation.validationStatus }}
                                </span>
                                {% elseif relation.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ relation.validationStatus }}
                                </span>
                                {% elseif relation.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ relation.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                {% if is_granted('add_associations', classVersion.namespaceForVersion) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('property_new', {'type': 'outgoing','class': classVersion.class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Outgoing properties (this class is domain)</h3>
                <table class="table table-striped" id="outgoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingProperty in outgoingProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingProperty.domain }}
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': outgoingProperty.propertyId,
                                    'namespaceFromUrlId': outgoingProperty.propertyNamespaceId
                                }) }}">
                                    {{ outgoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {# Initialisation #}
                                {% set isGoodNamespace = true %}
                                {% set route = 'class_show_with_version' %}
                                {% set route_params = {'id': outgoingProperty.rangeId,  'namespaceFromUrlId': outgoingProperty.rangeNamespaceId } %}

                                {# Vérification #}
                                {% if outgoingProperty.rangeNamespaceId not in outgoingProperty.selectedNamespacesId %}
                                    {% set isGoodNamespace = false %}
                                    {% set route = 'namespace_show' %}
                                    {% set route_params = {'id': outgoingProperty.propertyNamespaceId,  '_fragment': 'mismatches' } %}
                                {% endif %}

                                <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                    {{ outgoingProperty.range }}</a>
                            </td>
                            <td>{{ outgoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Outgoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="outgoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingInheritedProperty in outgoingInheritedProperties|sort %}
                        {% set isGoodDomainNamespace = true %}
                        {% set isGoodRangeNamespace = true %}
                        {% if outgoingInheritedProperty.domainNamespaceId not in namespacesIdFromClassVersion %}
                            {% set isGoodDomainNamespace = false %}
                        {% endif %}
                        {% if outgoingInheritedProperty.rangeNamespaceId not in namespacesIdFromClassVersion %}
                            {% set isGoodRangeNamespace = false %}
                        {% endif %}
                        <tr>
                            <td>
                                {{ outgoingInheritedProperty.domain }} (is a
                                <a
                                        href="{{ path('class_show_with_version', {
                                            'id': outgoingInheritedProperty.parentClassId,
                                            'namespaceFromUrlId': outgoingInheritedProperty.domainNamespaceId
                                        }) }}"
                                        {% if not isGoodDomainNamespace %}class="text-danger"{% endif %}
                                        title="{{ outgoingInheritedProperty.ancestors }}">
                                    {{ outgoingInheritedProperty.parentClass }}
                                </a>)
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': outgoingInheritedProperty.propertyId,
                                    'namespaceFromUrlId': outgoingInheritedProperty.propertyNamespaceId
                                }) }}">
                                    {{ outgoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': outgoingInheritedProperty.rangeId,
                                    'namespaceFromUrlId': outgoingInheritedProperty.rangeNamespaceId
                                }) }}" {% if not isGoodRangeNamespace %}class="text-danger"{% endif %}>
                                    {{ outgoingInheritedProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_granted('add_associations', classVersion.namespaceForVersion) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('property_new', {'type': 'ingoing','class': classVersion.class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Incoming properties (this class is range)</h3>
                <table class="table table-striped" id="ingoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingProperty in ingoingProperties|sort %}
                        {% set isGoodNamespace = true %}
                        {% if ingoingProperty.domainNamespaceId not in ingoingProperty.selectedNamespacesId %}
                            {% set isGoodNamespace = false %}
                        {% endif %}
                        <tr>
                            <td>
                                {# Initialisation #}
                                {% set isGoodNamespace = true %}
                                {% set route = 'class_show_with_version' %}
                                {% set route_params = {'id': ingoingProperty.domainId,  'namespaceFromUrlId': ingoingProperty.domainNamespaceId } %}

                                {# Vérification #}
                                {% if ingoingProperty.domainNamespaceId not in ingoingProperty.selectedNamespacesId %}
                                    {% set isGoodNamespace = false %}
                                    {% set route = 'namespace_show' %}
                                    {% set route_params = {'id': ingoingProperty.propertyNamespaceId,  '_fragment': 'mismatches' } %}
                                {% endif %}

                                <a href="{{ path(route, route_params) }}" {% if not isGoodNamespace %}class="text-danger"{% endif %}>
                                    {{ ingoingProperty.domain }}</a>
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': ingoingProperty.propertyId,
                                    'namespaceFromUrlId': ingoingProperty.propertyNamespaceId
                                }) }}">
                                    {{ ingoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ ingoingProperty.range }}
                            </td>
                            <td>{{ ingoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="ingoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingInheritedProperty in ingoingInheritedProperties|sort %}
                        {% set isGoodDomainNamespace = true %}
                        {% set isGoodRangeNamespace = true %}
                        {% if ingoingInheritedProperty.domainNamespaceId not in namespacesIdFromClassVersion %}
                            {% set isGoodDomainNamespace = false %}
                        {% endif %}
                        {% if ingoingInheritedProperty.rangeNamespaceId not in namespacesIdFromClassVersion %}
                            {% set isGoodRangeNamespace = false %}
                        {% endif %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': ingoingInheritedProperty.domainId,
                                    'namespaceFromUrlId': ingoingInheritedProperty.domainNamespaceId
                                }) }}" {% if not isGoodDomainNamespace %}class="text-danger"{% endif %}>
                                    {{ ingoingInheritedProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': ingoingInheritedProperty.propertyId,
                                    'namespaceFromUrlId': ingoingInheritedProperty.propertyNamespaceId
                                }) }}">
                                    {{ ingoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ classVersion.invertedLabel }} (is a
                                <a
                                        href="{{ path('class_show_with_version', {
                                            'id': ingoingInheritedProperty.rangeId,
                                            'namespaceFromUrlId': ingoingInheritedProperty.rangeNamespaceId
                                        }) }}" {% if not isGoodRangeNamespace %}class="text-danger"{% endif %}
                                        title="{{ ingoingInheritedProperty.ancestors }}">
                                    {{ ingoingInheritedProperty.range }}</a>)
                            </td>
                            <td>{{ ingoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in classVersion.class.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</td>
                            <td>{{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Linked classes graph</h3>
                <p>
                    <button id="reset-tree" onclick="reset();">Reset</button>
                </p>
                <div id="graph-container" data-url="{{ path('class_graph_json', {
                    'class': classVersion.class.id})
                }}">
                </div>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>Use mouse wheel to zoom in/out.</em></p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% set commentsClass = classVersion.class.comments %}
                        {% set commentsClassVersion = commentsClass|filter(commentsClass => commentsClass.namespaceForVersion.id == classVersion.namespaceForVersion.id) %}
                        {% if commentsClassVersion is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in commentsClassVersion %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'class-version', 'objectId' : classVersion.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6}
                ],
                "autoWidth": false
            });
            $('#examples-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6}
                ],
                "autoWidth": false
            });
            $('#additional-notes-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6}
                ],
                "autoWidth": false
            });
            $('#parent-classes-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#relations-table').DataTable({
                "order": [[ 0, "asc" ]]
            });
            $('#outgoing-properties-table').DataTable();
            $('#outgoing-inherited-properties-table').DataTable();
            $('#ingoing-properties-table').DataTable();
            $('#ingoing-inherited-properties-table').DataTable();
            $('#profiles-table').DataTable();

            $('[data-toggle="tooltip"]').tooltip();

            {% if not classIdentifierForm.vars.valid %}
            $('#identifier-details-block').hide(0);
            {% else %}
            $('#identifier-form-block').hide(0);
            {% endif %}

            $('#identifier-edit-btn').click(function(){
                $('#identifier-details-block').hide(200);
                $('#identifier-form-block').show(200);
            });

            $('#identifier-edit-btn-close').click(function(){
                $('#identifier-details-block').show(200);
                $('#identifier-form-block').hide(200);
            });

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });
        } );

        $(document).on("click", ".btn-delete-association", function(){
            var associationId = $(this).data("id");
            var associationType = $(this).data("type");
            bootbox.confirm({
                message: "You are about to delete a relation between two classes. This operation cannot be undone. Do you wish to proceed?",
                title: '<i class="fas fa-exclamation-triangle"></i> Warning',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result){
                        if(associationType == "classAssociation")
                        {
                            var url = '{{ path("class_association_delete", {'id' : 'associationId'}) }}';
                        }
                        if(associationType == "entityAssociation")
                        {
                            var url = '{{ path("entity_association_delete", {'id' : 'associationId'}) }}';
                        }
                        url = url.replace("associationId", associationId);
                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            dataType: 'json',
                            success:function(data){
                            },
                            statusCode: {
                                204: function () {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'class-version', 'objectId' : classVersion.id} %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/class-graph.js') }}"></script>

{% endblock %}
