{% extends 'base.html.twig' %}

{% block title %}{{ class }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ class }}</h2>

        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li><a data-toggle="tab" href="#comments">Comments <span class="badge {% if class.comments|length > 0  %}progress-bar-danger {% endif %}">{{ class.comments|length }}</span></a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>
                    {% if class.identifierInNamespace != class.standardLabel %}
                        {{ class.identifierInNamespace }} {{ class.standardLabel }}
                    {% else %}
                        {{ class.standardLabel }}
                    {% endif %}
                </h3>
                <div class="container">
                    <!-- <div class="row">
                        <div class="col-lg-2">
                            <p>Namespace:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                                {% for namespace in class.namespaces %}
                                    <li><a href="{{ path('namespace_show', {'id': namespace.id}) }}">{{ namespace.standardLabel }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>-->
                    {% if class.childClassAssociations|length > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Subclass of:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                                {% for association in class.childClassAssociations %}
                                    {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                    {% set isInActiveNamespaces = false %}
                                    {% for activeNamespace in activeNamespaces %}
                                        {% if activeNamespace in association.namespaces %}
                                            {% set isInActiveNamespaces = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if isInActiveNamespaces %}
                                        <li>
                                            <a href="{{ path('class_show', {'id': association.parentClass.id }) }}">
                                                {% if association.parentClass.identifierInNamespace != association.parentClass.standardLabel %}
                                                    {{ association.parentClass.identifierInNamespace }} {{ association.parentClass.standardLabel }}
                                                {% else %}
                                                    {{ association.parentClass.standardLabel }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if class.parentClassAssociations|length > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Superclass of:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                                {% for association in class.parentClassAssociations %}
                                    {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                    {% set isInActiveNamespaces = false %}
                                    {% for activeNamespace in activeNamespaces %}
                                        {% if activeNamespace in association.namespaces %}
                                            {% set isInActiveNamespaces = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if isInActiveNamespaces %}
                                        <li>
                                            <a href="{{ path('class_show', {'id': association.childClass.id}) }}">
                                                {% if association.childClass.identifierInNamespace != association.childClass.standardLabel %}
                                                    {{ association.childClass.identifierInNamespace }} {{ association.childClass.standardLabel }}
                                                {% else %}
                                                    {{ association.childClass.standardLabel }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if class.entityAssociations|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Relations:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for relation in class.entityAssociations if relation.systemType.id == 4 or relation.systemType.id == 19 %}
                                        {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                        {% set isInActiveNamespaces = false %}
                                        {% for activeNamespace in activeNamespaces %}
                                            {% if activeNamespace in relation.namespaces %}
                                                {% set isInActiveNamespaces = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if isInActiveNamespaces %}
                                        <li>{{ relation.systemType.standardLabel }}
                                            {% if relation.sourceClass.id == class.id %}
                                                <a href="{{ path("class_show", {'id': relation.targetClass.id }) }}">
                                                    {{ relation.targetClass.invertedLabel }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path("class_show", {'id': relation.sourceClass.id }) }}">
                                                    {{ relation.sourceClass.invertedLabel }}
                                                </a>
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Scope note:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set scopeNote, break = '<i>No scope note yet.</i>', false %}
                            {% for textProperty in class.textProperties if textProperty.systemType.id == 1 %}
                                {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                {% set isInActiveNamespaces = false %}
                                {% for activeNamespace in activeNamespaces %}
                                    {% if activeNamespace in textProperty.namespaces %}
                                        {% set isInActiveNamespaces = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if isInActiveNamespaces %}
                                    {% if not break %}
                                        {% if textProperty.languageIsoCode == 'en' %}
                                            {% set break = true %}
                                            {% set scopeNote = textProperty.textProperty %}
                                        {% else %}
                                            {% if scopeNote == '<i>No scope note yet.</i>' %}
                                                {% set scopeNote = textProperty.textProperty %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ scopeNote|raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Examples:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set isExamplesEmpty = true %}
                            {% for textProperty in class.textProperties if textProperty.systemType.id == 7 %}
                                {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                {% set isInActiveNamespaces = false %}
                                {% for activeNamespace in activeNamespaces %}
                                    {% if activeNamespace in textProperty.namespaces %}
                                        {% set isInActiveNamespaces = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if isInActiveNamespaces %}
                                    {% set isExamplesEmpty = false %}
                                    {{ textProperty.textProperty|raw }}
                                {% endif %}
                            {% endfor %}
                            {% if isExamplesEmpty %}
                                <p><i>No example yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>In First Order Logic:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                                {% for association in class.childClassAssociations %}
                                    {# Savoir si cet entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                                    {% set isInActiveNamespaces = false %}
                                    {% for activeNamespace in activeNamespaces %}
                                        {% if activeNamespace in association.namespaces %}
                                            {% set isInActiveNamespaces = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if isInActiveNamespaces %}
                                        <li>{{ class.identifierInNamespace }}(x) ⊃ {{ association.parentClass.identifierInNamespace }}(x)</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if outgoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Outgoing properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for outgoingProperty in outgoingProperties|sort if outgoingProperty.rootNamespaceId == class.topLevelNamespace.id %}
                                        <li>
                                            <a href="{{ path('property_show', {'id': outgoingProperty.propertyId}) }}">{{ outgoingProperty.property }}</a>
                                            → <a href="{{ path('class_show', {'id': outgoingProperty.rangeId }) }}">{{ outgoingProperty.range }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if ingoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Incoming properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for ingoingProperty in ingoingProperties|sort if ingoingProperty.rootNamespaceId == class.topLevelNamespace.id %}
                                        <li><a href="{{ path('class_show', {'id': ingoingProperty.domainId }) }}">{{ ingoingProperty.domain }}</a>
                                            → <a href="{{ path('property_show', {'id': ingoingProperty.propertyId}) }}">{{ ingoingProperty.property }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'scope-note', 'object': 'class', 'objectId': class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 1 %}
                        {# Savoir si le scope note se retrouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in textProperty.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            <tr>
                                <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                                <td class="truncated-text">
                                    <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                </td>
                                <td>{{ textProperty.languageIsoCode}}</td>
                                <td>
                                    <!-- {% if textProperty.namespace is not null %}
                                        {% for label in textProperty.namespace.topLevelNamespace.labels %}
                                            {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                                {{ label.label }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %} -->
                                </td>
                                <td>
                                    <a href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn" href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}#comments">
                                        <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'example', 'object': 'class', 'objectId': class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 7 %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in textProperty.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'additional-note', 'object': 'class', 'objectId': class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 12 %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in textProperty.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {# Test de vérification si cet identifiant existe déjà dans un namespace fermé (il n'est donc plus éditable #}
                {% set isIdentifierExistAndPublished = false %}
                {% for namespace in class.namespaces %}
                    {% if not namespace.isOngoing %}
                        {% for class_ns in namespace.classes %}
                            {% if class_ns.identifierInNamespace == class.identifierInNamespace %}
                                {% set isIdentifierExistAndPublished = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if class.ongoingNamespace.topLevelNamespace.classPrefix is null and not isIdentifierExistAndPublished %}
                    <div id="identifier-form-block">
                        {{ form_start(classIdentifierForm) }}
                        {{ form_errors(classIdentifierForm) }}
                        <p>{{ form_row(classIdentifierForm.identifierInNamespace) }}</p>
                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        <button type="button" id="identifier-edit-btn-close" class="btn">Close</button>
                        {{ form_end(classIdentifierForm) }}
                    </div>
                    <h3 id="identifier-details-block">Identifier : {{ class.identifierInNamespace }}<a class="btn" id="identifier-edit-btn" href="#identification"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h3>
                {% else %}
                    <h3 id="identifier-details-block">Identifier : {{ class.identifierInNamespace }}</h3>
                {% endif %}
                <div class="pull-right add-div">
                    <a href="{{ path('label_new', {'object': 'class', 'objectId': class.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in class.labels %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in label.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">{{ label.label }}</a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}#comments">
                                    <span class="badge {% if label.comments|length > 0  %}progress-bar-danger {% endif %}">{{ label.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in class.namespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.id
                                }) }}">
                                    {{ namespace }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_parent_class_form', {'childClass': class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Parent classes
                    {% set tooltipClass = "rdfs:subclassOf the class below" %}
                    {% if class.childClassAssociations|length > 1  %}
                        {% set tooltipClass = "rdfs:subclassOf the classes listed below" %}
                    {% endif %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ class }} {{ tooltipClass }}">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="parent-classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Justification</th>
                        <th>Relation namespace</th>
                        <th>
                            {% if is_granted('edit', class) %}
                                Edit association
                            {% else %}
                                View association
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in class.childClassAssociations %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in association.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': association.parentClass.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ association.parentClass.invertedLabel }}
                                </a>
                            </td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties if textProperty.systemType.id == 15 and textProperty.languageIsoCode == 'en' %}
                                        <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if association.namespaces is not null %}
                                    {% for ns in association.namespaces %}
                                        {{ ns.standardLabel }}
                                    {% endfor %}
                                {% else %}
                                    WIP
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('edit', class) %}
                                    <a href="{{ path('class_association_edit', {
                                        'id': association.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('class_association_show', {
                                        'id': association.id
                                    }) }}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor classes</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == ancestor.classNamespaceLabel %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ancestor.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.classNamespaceLabel }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == descendant.classNamespaceLabel %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': descendant.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.classNamespaceLabel }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="relations" class="tab-pane fade">
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_entity_association_form', {'object': 'class', 'objectId': class.id}) }}" class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Related classes</h3>
                <table class="table table-striped" id="relations-table">
                    <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Class</th>
                        <th>Justification</th>
                        <th>Relation namespace</th>
                        <th>Edit relations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for relation in class.entityAssociations if relation.systemType.id == 4 or relation.systemType.id == 19 %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace in relation.namespaces %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>{{ relation.systemType }}</td>
                            {% if class.id == relation.sourceClass.id %}
                                <td><a href="{{ path('class_show', {
                                        'id': relation.targetClass.id
                                    }) }}">
                                        {{ relation.targetClass.invertedLabel }}
                                    </a>
                                </td>
                            {% else %}
                                <td><a href="{{ path('class_show', {
                                        'id': relation.sourceClass.id
                                    }) }}">
                                        {{ relation.sourceClass.invertedLabel }}
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {% if relation.textProperties is not null %}
                                    {% for textProperty in relation.textProperties if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if relation.namespaces is not null %}
                                    {% if relation.namespaces|first.topLevelNamespace is not null %}
                                        {{ relation.namespaces|first.topLevelNamespace }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if class.id == relation.sourceClass.id %}
                                <a href="{{ path('entity_association_edit', {
                                    'id': relation.id
                                }) }}" class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                                {% else %}
                                <a href="{{ path('entity_association_inverse_edit', {
                                    'id': relation.id
                                }) }}" class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('property_new', {'type': 'outgoing','class': class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Outgoing properties (this class is domain)</h3>
                <table class="table table-striped" id="outgoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingProperty in outgoingProperties|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == outgoingProperty.namespace %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                {{ outgoingProperty.domain }}
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingProperty.propertyId
                                }) }}">
                                    {{ outgoingProperty.property }}</a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingProperty.rangeId
                                }) }}">
                                    {{ outgoingProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingProperty.namespace }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Outgoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="outgoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingInheritedProperty in outgoingInheritedProperties|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == outgoingInheritedProperty.namespace %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                {{ outgoingInheritedProperty.domain }} (is a
                                <a
                                        href="{{ path('class_show', {
                                            'id': outgoingInheritedProperty.parentClassId
                                        }) }}"
                                        title="{{ outgoingInheritedProperty.ancestors }}">
                                    {{ outgoingInheritedProperty.parentClass }}</a>)
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingInheritedProperty.propertyId
                                }) }}">
                                    {{ outgoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingInheritedProperty.rangeId
                                }) }}">
                                    {{ outgoingInheritedProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingInheritedProperty.namespace }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('property_new', {'type': 'ingoing','class': class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Incoming properties (this class is range)</h3>
                <table class="table table-striped" id="ingoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingProperty in ingoingProperties|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == ingoingProperty.namespace %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingProperty.domainId
                                }) }}">
                                    {{ ingoingProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingProperty.propertyId
                                }) }}">
                                    {{ ingoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ ingoingProperty.range }}
                            </td>
                            <td>{{ ingoingProperty.namespace }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="ingoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingInheritedProperty in ingoingInheritedProperties|sort %}
                        {# Savoir si l'entité se trouve bien dans l'un des espaces de nom actifs (filtrage) #}
                        {% set isInActiveNamespaces = false %}
                        {% for activeNamespace in activeNamespaces %}
                            {% if activeNamespace.standardLabel == ingoingInheritedProperty.namespace %}
                                {% set isInActiveNamespaces = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isInActiveNamespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingInheritedProperty.domainId
                                }) }}">
                                    {{ ingoingInheritedProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingInheritedProperty.propertyId
                                }) }}">
                                    {{ ingoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ class.invertedLabel }} (is a
                                <a
                                        href="{{ path('class_show', {
                                            'id': ingoingInheritedProperty.rangeId
                                        }) }}"
                                        title="{{ ingoingInheritedProperty.ancestors }}">
                                    {{ ingoingInheritedProperty.range }}</a>)
                            </td>
                            <td>{{ ingoingInheritedProperty.namespace }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in class.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</td>
                            <td>{{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Linked classes graph</h3>
                <p>
                    <button id="reset-tree" onclick="reset();">Reset</button>
                </p>
                <div id="graph-container" data-url="{{ path('class_graph_json', {
                    'class': class.id})
                }}">
                </div>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>Use mouse wheel to zoom in/out.</em></p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if class.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in class.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'class', 'objectId' : class.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#examples-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#parent-classes-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#relations-table').DataTable({
                "order": [[ 0, "asc" ]]
            });
            $('#outgoing-properties-table').DataTable();
            $('#outgoing-inherited-properties-table').DataTable();
            $('#ingoing-properties-table').DataTable();
            $('#ingoing-inherited-properties-table').DataTable();
            $('#profiles-table').DataTable();

            $('[data-toggle="tooltip"]').tooltip();

            {% if not classIdentifierForm.vars.valid %}
            $('#identifier-details-block').hide(0);
            {% else %}
            $('#identifier-form-block').hide(0);
            {% endif %}

            $('#identifier-edit-btn').click(function(){
                $('#identifier-details-block').hide(200);
                $('#identifier-form-block').show(200);
            });

            $('#identifier-edit-btn-close').click(function(){
                $('#identifier-details-block').show(200);
                $('#identifier-form-block').hide(200);
            });
        } );
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'class', 'objectId' : class.id  } %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/class-graph.js') }}"></script>

{% endblock %}
