{% extends 'base.html.twig' %}
{% block body %}
    {% import _self as formMacros %}
    {% macro printTextPropertyRow(textPropertyForm) %}
        {{ form_errors(textPropertyForm) }}
        {{ form_row(textPropertyForm.textProperty, {
            'label': 'Scope note'
        }) }}
        {{ form_row(textPropertyForm.languageIsoCode, {
            'label': 'Language'
        }) }}
        {{ form_row(textPropertyForm.creator) }}
        {{ form_row(textPropertyForm.modifier) }}
    {% endmacro %}
    <div class="container">
        <a href="{{ path('profile_edit', {'id': profile.id, '_fragment': 'classes'}) }}" class="pull-right btn btn-link">
            <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
        </a>
        <h2>Customise {{ classVersion.standardLabel }} - {{ classVersion.class.identifierInNamespace }} in {{ profile.standardLabel }}</h2>
        <div class="container" id="details">
            <div class="row">
                <div class="col-lg-2">
                    <p>Label:</p>
                </div>
                <div class="col-lg-10">
                    {{ classVersion.standardLabel }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p>Scope note:</p>
                </div>
                <div class="col-lg-10">
                    {% for scopeNote in classVersion.class.textProperties|filter(v => v.systemType.id == 1 and v.profileForCustom is null and v.namespaceForVersion == classVersion.namespaceForVersion) %}
                        {{ scopeNote.textProperty|raw }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p>Examples:</p>
                </div>
                <div class="col-lg-10">
                    {% for example in classVersion.class.textProperties|filter(v => v.systemType.id == 7 and v.profileForCustom is null and v.namespaceForVersion == classVersion.namespaceForVersion) %}
                        {{ example.textProperty|raw }}
                    {% endfor %}
                </div>
            </div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-lg-2">
                    <p>Justification of addition to profile:</p>
                </div>
                <div class="col-lg-10">
                    <a href="#" class="btn-justification">Add a justification</a>
                    <div class="paddingInherit input-add-justification">{{ form_row(form.justification) }}</div>
                </div>

            </div>
            {{ form_end(form) }}
            <div class="row">
                <div class="col-lg-2">
                    <p>Use cases:</p>
                </div>
                <div class="col-lg-10">
                    <a href="#" class="add-use-case">Add an use case</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p>Profile examples:</p>
                </div>
                <div class="col-lg-10">
                    <a href="#" class="add-example">Add an example</a>
                    {% for example in classVersion.class.textProperties|filter(v => v.systemType.id == 7 and v.profileForCustom is not null and v.profileForCustom.id == profile.id and v.namespaceForVersion == classVersion.namespaceForVersion) %}
                        {{ example.textProperty|raw }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p>Notes:</p>
                </div>
                <div class="col-lg-10">
                    <a href="#" class="add-note">Add an internal note</a>
                    {% for note in classVersion.class.textProperties|filter(v => v.systemType.id == 33 and v.profileForCustom is not null and v.profileForCustom.id == profile.id and v.namespaceForVersion == classVersion.namespaceForVersion) %}
                        {{ note.textProperty|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('.input-add-justification').hide();
            $('.btn-justification').click(function (e){
                e.preventDefault();
                $('.input-add-justification').slideToggle();
                if($('.btn-justification').html() == "Add a justification"){
                    $('.btn-justification').html("Close justification form");
                }
                else{
                    $('.btn-justification').html("Add a justification");
                }
            });

            $('.add-use-case').click(function (){
                alert("test2");
            });
            $('.add-example').click(function (){
                alert("test3");
            });
            $('.add-note').click(function (){
                alert("test4");
            });
        });
    </script>
{% endblock %}
