{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Classes {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Classes</h3>
    <table class="table table-striped" id="class-table">
        <thead>
        <tr>
            <th>Class name</th>
            <th>Namespace</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
            {% for class in classes %}
                <tr>
                    <td>
                        <a href="{{ path('class_show', {
                            'id': class.id
                        }) }}">
                            {{ class }}
                        </a>
                    </td>
                    <td>
                        {% if class.namespaces|first.referencedVersion is not null %}
                            {{ class.namespaces|first.referencedVersion }}
                        {% endif %}
                    </td>
                    <td>{{ class.modificationTime|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
        $('#class-table').DataTable();
    } );
    </script>
{% endblock %}