{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Classes {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Classes</h3>
    <table class="table table-striped" id="class-table">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Class name</th>
            <th>Namespace</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
            {# Rappel : "classes" est déjà filtrée : toutes ces classes ont au moins une classVersion compatible avec le filtrage #}
            {# Inutile donc de refiltrer sur classes #}
            {% for class in classes %}
                {# Une version par root est activé pour filtrage, donc pas possible d'avoir 2 classes identiques affichées #}
                {# Donc l'utilisation de la boucle est justifiée par la condition if, et qui ne retournera qu'une classe #}
                {% for classVersion in class.classVersions if classVersion.namespaceForVersion.id in namespacesId %}
                <tr>
                    <td>
                        {{ classVersion.class.identifierInNamespace }}
                    </td>
                    <td>
                        <a href="{{ path('class_show_with_version', {
                            'id': class.id,
                            'namespaceFromUrlId': classVersion.namespaceForVersion.id
                        }) }}">
                                {{ classVersion.standardLabel }}
                        </a>
                    </td>
                    <td>
                        {{ classVersion.namespaceForVersion.referencedVersion }}
                    </td>
                    <td>
                        {% if classVersion.modificationTime is not null %}
                            {{ classVersion.modificationTime|date('Y-m-d') }}
                        {% else %}
                            {{ classVersion.creationTime|date('Y-m-d') }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
        $('#class-table').DataTable({
            "pageLength":50,
            columnDefs: [
                { type: 'natural-ci', targets: 0, width: '1%', className: 'text-right' }
            ],
            order: [[ 1, 'asc' ]]});
    } );
    </script>
{% endblock %}