{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Classes {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <p class="pull-right">
        <button type="button" class="btn btn-default"  id="btn-show-all-namespaces">Show all namespaces</button>
    </p>
    <h3>Classes</h3>
    <table class="table table-striped" id="class-table">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Class name</th>
            <th>Namespace</th>
            <th>Last updated</th>
            <th>id_namespace</th>
        </tr>
        </thead>
        <tbody>
            {# Rappel : "classes" est déjà filtrée : toutes ces classes ont au moins une classVersion compatible avec le filtrage #}
            {# Inutile donc de refiltrer sur classes #}
            {% for class in classes %}
                {# Une version par root est activé pour filtrage, donc pas possible d'avoir 2 classes identiques affichées #}
                {# Donc l'utilisation de la boucle est justifiée par la condition if, et qui ne retournera qu'une classe #}
                {% for classVersion in class.classVersions if classVersion.namespaceForVersion.id in allNamespacesId %}
                <tr>
                    <td>
                        {{ classVersion.class.identifierInNamespace }}
                    </td>
                    <td>
                        <a href="{{ path('class_show_with_version', {
                            'id': class.id,
                            'namespaceFromUrlId': classVersion.namespaceForVersion.id
                        }) }}">
                                {{ classVersion.standardLabel }}
                        </a>
                    </td>
                    <td>
                        {{ classVersion.namespaceForVersion.referencedVersion }}
                    </td>
                    <td>
                        {% if classVersion.modificationTime is not null %}
                            {{ classVersion.modificationTime|date('Y-m-d') }}
                        {% else %}
                            {{ classVersion.creationTime|date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td>{{ classVersion.namespaceForVersion.id }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        // Filtrer la table selon le bouton show/hide
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                // Don't filter on anything other than "class-table"
                if ( settings.nTable.id !== 'class-table' ) {
                    return true;
                }
                var classNamespacesForVersion = data[4]; // use data for comparaison
                var vnamespacesId = [{{ ('"' ~ namespacesId|join('","') ~ '"')|raw }}];

                if($('#btn-show-all-namespaces').hasClass('btn-primary')) {
                    return true;
                }
                else{
                    return vnamespacesId.includes(classNamespacesForVersion);
                }
            }
        );

        $(document).ready(function() {
        var tableClasses = $('#class-table').DataTable({
            "pageLength":50,
            columnDefs: [
                { type: 'natural-ci', targets: 0, className: 'text-right' },

                { "visible": false, "targets": 4 }
            ],
            order: [[ 1, 'asc' ]]});

        $('#btn-show-all-namespaces').click(function (){
                if($('#btn-show-all-namespaces').hasClass('btn-primary')){
                    $('#btn-show-all-namespaces').removeClass('btn-primary');
                    $('#btn-show-all-namespaces').addClass('btn-default');
                    $('#btn-show-all-namespaces').html("Show all namespaces");
                    tableClasses.draw();
                }
                else{
                    $('#btn-show-all-namespaces').removeClass('btn-default');
                    $('#btn-show-all-namespaces').addClass('btn-primary');
                    $('#btn-show-all-namespaces').html("Hide unselected namespaces");
                    tableClasses.draw();
                }
            }
        );
    } );


    </script>
{% endblock %}