{% extends 'base.html.twig' %}

{% block title %}{{ class.identifierInNamespace }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ class.identifierInNamespace }}</h2>

        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Scope Notes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#equivalences">Equivalences</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                    <span>{{ textProperty.textProperty}}</span>
                                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                               <!-- {% if textProperty.namespace is not null %}
                                    {% for label in textProperty.namespace.topLevelNamespace.labels %}
                                        {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                            {{ label.label }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %} -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 999 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty}}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in class.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace URI</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in class.namespaces %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ namespace.namespaceURI }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('new_parent_class_form', {'childClass': class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h3>Parent and ancestor classes</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ancestor.id
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': descendant.id
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="equivalences" class="tab-pane fade">
                <h3>Equivalent classes</h3>
                <table class="table table-striped" id="equivalences-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equivalence in equivalences|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': equivalence.id
                                }) }}">
                                    {{ equivalence.identifier }}
                                </a>
                            </td>
                            <td>{{ equivalence.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Outgoing properties (this class is domain)</h3>
                <table class="table table-striped" id="outgoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingProperty in outgoingProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingProperty.domain }}
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingProperty.propertyId
                                }) }}">
                                    {{ outgoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingProperty.rangeId
                                }) }}">
                                    {{ outgoingProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Outgoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="outgoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingInheritedProperty in outgoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingInheritedProperty.domain }} (is a
                                <a
                                    href="{{ path('class_show', {
                                        'id': outgoingInheritedProperty.parentClassId
                                    }) }}"
                                    title="{{ outgoingInheritedProperty.ancestors }}">
                                    {{ outgoingInheritedProperty.parentClass }}
                                </a>)
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingInheritedProperty.propertyId
                                }) }}">
                                    {{ outgoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingInheritedProperty.rangeId
                                }) }}">
                                    {{ outgoingInheritedProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ingoing properties (this class is range)</h3>
                <table class="table table-striped" id="ingoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingProperty in ingoingProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingProperty.domainId
                                }) }}">
                                    {{ ingoingProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingProperty.propertyId
                                }) }}">
                                    {{ ingoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ ingoingProperty.range }}
                            </td>
                            <td>{{ ingoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ingoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="ingoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingInheritedProperty in ingoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingInheritedProperty.domainId
                                }) }}">
                                    {{ ingoingInheritedProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingInheritedProperty.propertyId
                                }) }}">
                                    {{ ingoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ class.identifierInNamespace }} (is a
                                <a
                                    href="{{ path('class_show', {
                                        'id': ingoingInheritedProperty.rangeId
                                    }) }}"
                                    title="{{ ingoingInheritedProperty.ancestors }}">
                                    {{ ingoingInheritedProperty.range }}
                                </a>)
                            </td>
                            <td>{{ ingoingInheritedProperty.namespace }})</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in class.profiles %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate}}</td>
                            <td>{{ profile.endDate}}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Linked classes graph</h3>
                <p>
                    <button id="reset-tree" onclick="reset();">Reset</button>
                </p>
                <div id="graph-container" data-url="{{ path('class_graph_json', {
                                                    'class': class.id})
                }}">
                </div>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>Use mouse wheel to zoom in/out.</em></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#examples-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#equivalences-table').DataTable({
                "order": [[ 0, "asc" ]]
            });
            $('#outgoing-properties-table').DataTable();
            $('#outgoing-inherited-properties-table').DataTable();
            $('#ingoing-properties-table').DataTable();
            $('#ingoing-inherited-properties-table').DataTable();
            $('#profiles-table').DataTable();
        } );
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/class-graph.js') }}"></script>

{% endblock %}
