{% extends 'base.html.twig' %}

{% block title %}{{ class }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">
            {{ class }}
            {% if is_granted('edit', class) %}
                <a href="{{ path('class_edit', {
                    id: class.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>

        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespace</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#equivalences">Equivalences</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ class.identifierInNamespace }} {{ class.standardLabel }}</h3>
                <table class="table">
                    {% if class.childClassAssociations|length > 0 %}
                    <tr>
                        <td class="text-nowrap">Subclass of :</td>
                        <td>
                            <ul class="list-unstyled">
                            {% for association in class.childClassAssociations %}
                                <li>
                                    <a href="{{ path('class_show', {
                                        'id': association.parentClass.id
                                    }) }}">
                                        {{ association.parentClass.identifierInNamespace }} {{ association.parentClass.standardLabel }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    {% if descendants|length > 0 %}
                    <tr>
                        <td class="text-nowrap">Superclass of :</td>
                        <td>
                            <ul class="list-unstyled">
                            {% set descendantsUniques = [] %}
                            {% for descendant in descendants|sort if descendant.id not in descendantsUniques %}
                                <li>
                                    <a href="{{ path('class_show', {
                                        'id': descendant.id
                                    }) }}">
                                        {{ descendant.identifier }}
                                    </a>
                                </li>
                            {% set descendantsUniques = descendantsUniques|merge([descendant.id]) %}
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="text-nowrap">Scope note :</td>
                        {% set scopeNote, break = '<i>No scope note yet.</i>', false %}
                        {% for textProperty in class.textProperties if textProperty.systemType.id == 1 %}
                            {% if not break %}
                                {% if textProperty.languageIsoCode == 'en' %}
                                    {% set break = true %}
                                    {% set scopeNote = textProperty.textProperty %}
                                {% else %}
                                    {% if scopeNote == '<i>No scope note yet.</i>' %}
                                        {% set scopeNote = textProperty.textProperty %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ scopeNote|raw }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">Examples</td>
                        <td>
                            {% set empty = true %}
                            {% for textProperty in class.textProperties if textProperty.systemType.id == 7 %}
                                {% set empty = false %}
                                {% if loop.first %}<ul>{% endif %}
                                <li>{{ textProperty.textProperty|raw }}</li>
                            {% endfor %}
                            {% if not empty %}
                                </ul>
                            {% else %}
                                <p><i>No example yet</i></p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">In First Order Logic :</td>
                        <td>
                        {% for association in class.childClassAssociations %}
                            <p>{{ class.identifierInNamespace }}(x) ⊃ {{ association.parentClass.identifierInNamespace }}(x)</p>
                        {% endfor %}
                        </td>
                    </tr>
                    {% if outgoingProperties|length > 0 %}
                    <tr>
                        <td class="text-nowrap">Properties :</td>
                        <td>
                            <ul class="list-unstyled">
                            {% for outgoingProperty in outgoingProperties|sort %}
                                <li>
                                    <a href="{{ path('property_show', {
                                        'id': outgoingProperty.propertyId
                                    }) }}">
                                        {{ outgoingProperty.property }}
                                    </a> → <a href="{{ path('class_show', {
                                        'id': outgoingProperty.rangeId
                                    }) }}">
                                        {{ outgoingProperty.range }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 1 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                                <!-- {% if textProperty.namespace is not null %}
                                    {% for label in textProperty.namespace.topLevelNamespace.labels %}
                                        {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                            {{ label.label }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %} -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 7 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in class.textProperties if textProperty.systemType.id == 12 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode }}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in class.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace URI</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in class.namespaces %}
                        <tr>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.id
                                }) }}">
                                    {{ namespace.namespaceURI }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                {% if is_granted('edit', class) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('new_parent_class_form', {'childClass': class.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Parent classes
                    {% set tooltip_class = "rdfs:subclassOf the class below" %}
                    {% if class.childClassAssociations|length > 1  %}
                        {% set tooltip_class = "rdfs:subclassOf the classes listed below" %}
                    {% endif %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ class }} {{ tooltip_class }}">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="parent-classes-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Explanation</th>
                        <th>Root namespace</th>
                        <th>
                            {% if is_granted('edit', class) %}
                                Edit association
                            {% else %}
                                View association
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in class.childClassAssociations %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': association.parentClass.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ association.parentClass }}
                                </a>
                            </td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties if textProperty.systemType.id == 1 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if association.parentClass.namespaces is not null %}
                                    {% if association.parentClass.namespaces|first.topLevelNamespace is not null %}
                                        {{ association.parentClass.namespaces|first.topLevelNamespace.namespaceURI }}
                                    {% endif %}
                                {% else %}
                                    WIP
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('edit', class) %}
                                    <a href="{{ path('class_association_edit', {
                                        'id': association.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('class_association_show', {
                                        'id': association.id
                                    }) }}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor classes</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ancestor.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Depth</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': descendant.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="equivalences" class="tab-pane fade">
                <h3>Equivalent classes</h3>
                <table class="table table-striped" id="equivalences-table">
                    <thead>
                    <tr>
                        <th>Class identifier</th>
                        <th>Root namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equivalence in equivalences|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': equivalence.id
                                }) }}">
                                    {{ equivalence.identifier }}
                                </a>
                            </td>
                            <td>{{ equivalence.rootNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Outgoing properties (this class is domain)</h3>
                <table class="table table-striped" id="outgoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingProperty in outgoingProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingProperty.domain }}
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingProperty.propertyId
                                }) }}">
                                    {{ outgoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingProperty.rangeId
                                }) }}">
                                    {{ outgoingProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Outgoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="outgoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingInheritedProperty in outgoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingInheritedProperty.domain }} (is a
                                <a
                                        href="{{ path('class_show', {
                                            'id': outgoingInheritedProperty.parentClassId
                                        }) }}"
                                        title="{{ outgoingInheritedProperty.ancestors }}">
                                    {{ outgoingInheritedProperty.parentClass }}</a>)
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': outgoingInheritedProperty.propertyId
                                }) }}">
                                    {{ outgoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': outgoingInheritedProperty.rangeId
                                }) }}">
                                    {{ outgoingInheritedProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (this class is range)</h3>
                <table class="table table-striped" id="ingoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingProperty in ingoingProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingProperty.domainId
                                }) }}">
                                    {{ ingoingProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingProperty.propertyId
                                }) }}">
                                    {{ ingoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ ingoingProperty.range }}
                            </td>
                            <td>{{ ingoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="ingoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingInheritedProperty in ingoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': ingoingInheritedProperty.domainId
                                }) }}">
                                    {{ ingoingInheritedProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': ingoingInheritedProperty.propertyId
                                }) }}">
                                    {{ ingoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ class }} (is a
                                <a
                                        href="{{ path('class_show', {
                                            'id': ingoingInheritedProperty.rangeId
                                        }) }}"
                                        title="{{ ingoingInheritedProperty.ancestors }}">
                                    {{ ingoingInheritedProperty.range }}</a>)
                            </td>
                            <td>{{ ingoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in class.profiles %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate}}</td>
                            <td>{{ profile.endDate}}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Linked classes graph</h3>
                <p>
                    <button id="reset-tree" onclick="reset();">Reset</button>
                </p>
                <div id="graph-container" data-url="{{ path('class_graph_json', {
                    'class': class.id})
                }}">
                </div>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>Use mouse wheel to zoom in/out.</em></p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if class.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in class.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'class', 'objectId' : class.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#examples-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#parent-classes-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#equivalences-table').DataTable({
                "order": [[ 0, "asc" ]]
            });
            $('#outgoing-properties-table').DataTable();
            $('#outgoing-inherited-properties-table').DataTable();
            $('#ingoing-properties-table').DataTable();
            $('#ingoing-inherited-properties-table').DataTable();
            $('#profiles-table').DataTable();

            $('[data-toggle="tooltip"]').tooltip({container: 'body'});

            if (location.hash){
                setTimeout(function(){
                    window.scrollTo(0, 0);
                }, 1);
            }
        });
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'class', 'objectId' : class.id  } %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/class-graph.js') }}"></script>

{% endblock %}
