{% extends 'base.html.twig' %}

{% block title %}
    {{ classVersion }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="clearfix">
            <div class="pull-right" style="margin-top: 20px; margin-bottom: 10px;">
                <div class="dropdown inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownVersions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ classVersion.namespaceForVersion }}
                        <span class="label label-{{ classVersion.namespaceForVersion.status.classCss }}">
                            {{ classVersion.namespaceForVersion.status.label }}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-versions">
                        {% if classVersion.class.classVersions|length > 1 %}
                            {% for otherClassVersion in classVersion.class.classVersions if otherClassVersion != classVersion %}
                                <li>
                                    <a href="{{ path('class_show_with_version', {
                                        'id': classVersion.class.id,
                                        'namespaceFromUrlId': otherClassVersion.namespaceForVersion.id,
                                        }) }}">{{ otherClassVersion.namespaceForVersion }}
                                        <span class="label label-{{ otherClassVersion.namespaceForVersion.status.classCss }}">
                                            {{ otherClassVersion.namespaceForVersion.status.label }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="disabled">
                                <a href="#">No other version</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% if is_granted('edit', classVersion) %}
                <p class="inline-block">
                    <a href="{{ path('class_edit', {
                        'id': classVersion.class.id
                    }) }}" class="btn btn-success btn-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                </p>
                {% endif %}
            </div>
            <h2>{{ classVersion }}</h2>
        </div>
        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#class-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li>
                <a data-toggle="tab" href="#comments" class="updateViewComment" data-id="{{ classVersion.class.id }}" data-object="class">
                    Comments
                    {% set commentsClass = classVersion.class.comments %}
                    {% set commentsClassVersion = commentsClass|filter(commentsClass => commentsClass.namespaceForVersion.id == classVersion.namespaceForVersion.id) %}
                    <span class="badge {% if commentsClassVersion is not empty %}progress-bar-danger {% endif %}">
                        {{ commentsClassVersion|length }}
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ classVersion.invertedLabel }}</h3>
                <div class="container">
                    {% set associationCount = 0 %}
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set associationCount = associationCount + 1 %}
                    {% endfor %}
                    {% if associationCount > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Subclass of:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                            {# Filtrer les associations is_subclass_of avec namespacesId #}
                            {% for association in classVersion.class.childClassAssociations
                                if association.namespaceForVersion.id in namespacesId %}
                                <li>
                                    <a href="{{ path('class_show_with_version', {
                                        'id': association.parentClass.id,
                                        'namespaceFromUrlId': association.parentClassNamespace.id
                                        }) }}">
                                        {% for parentClassVersion in association.parentClass.classVersions
                                            if parentClassVersion.namespaceForVersion.id in namespacesId %}
                                            {{ parentClassVersion.invertedLabel }}
                                        {% endfor %}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% set associationCount = 0 %}
                    {% for association in classVersion.class.parentClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set associationCount = associationCount + 1 %}
                    {% endfor %}
                    {% if associationCount > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Superclass of:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                            {# Filtrer les associations is_subclass_of avec namespacesId #}
                            {% for association in classVersion.class.parentClassAssociations
                                if association.namespaceForVersion.id in namespacesId %}
                               <li>
                                    <a href="{{ path('class_show_with_version', {
                                        'id': association.childClass.id,
                                        'namespaceFromUrlId': association.childClassNamespace.id }) }}">
                                        {% for childClassVersion in association.childClass.classVersions
                                            if childClassVersion.namespaceForVersion == association.namespaceForVersion %}
                                            {{ childClassVersion.invertedLabel }}
                                        {% endfor %}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% set relationCount = 0 %}
                    {% for relation in classVersion.class.entityAssociations
                        if relation.namespaceForVersion.id in namespacesId
                        and relation.systemType.id == 4
                        or relation.systemType.id == 19 %}
                        {% set relationCount = relationCount + 1 %}
                    {% endfor %}
                    {% if relationCount > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Relations:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                            {# Filtrer les associations entity_associations avec namespacesId #}
                            {# SystemTypes utilisés: 4=owl:equivalentClass, 19=owl:DisjointWith #}
                            {% for relation in classVersion.class.entityAssociations
                                if relation.namespaceForVersion.id in namespacesId
                                and relation.systemType.id == 4
                                or relation.systemType.id == 19 %}
                                <li>{{ relation.systemType.standardLabel }}
                                    {# la classe peut être "source" et/ou "target" #}
                                    {% if relation.sourceClass.id == classVersion.class.id %}
                                    <a href="{{ path("class_show_with_version", {
                                        'id': relation.targetClass.id,
                                        'namespaceFromUrlId': relation.targetNamespaceForVersion.id }) }}">
                                        {% for targetClassVersion in relation.targetClass.classVersions
                                            if targetClassVersion.namespaceForVersion.id in namespacesId %}
                                            {{ targetClassVersion.invertedLabel }}
                                        {% endfor %}
                                    </a>
                                    {% else %}
                                    <a href="{{ path("class_show_with_version", {
                                        'id': relation.sourceClass.id,
                                        'namespaceFromUrlId': relation.sourceNamespaceForVersion.id }) }}">
                                        {% for sourceClassVersion in relation.sourceClass.classVersions
                                            if sourceClassVersion.namespaceForVersion.id in namespacesId %}
                                            {{ sourceClassVersion.invertedLabel }}
                                        {% endfor %}
                                    </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Scope note:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set scopeNote=null %}
                            {% set break=false %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 1=Scope note #}
                            {# Retrouver en priorité le scope note en anglais #}
                            {% for textProperty in classVersion.class.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 1
                                and not break %}
                                {% if textProperty.languageIsoCode == 'en' %}
                                    {% set break = true %}{# En anglais donc prioritaire: break #}
                                    {% set scopeNote = textProperty.textProperty %}
                                {% else %}
                                    {% if scopeNote is null %}
                                        {% set scopeNote = textProperty.textProperty %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if scopeNote is null %}
                                {% set scopeNote = '<i>No scope note yet.</i>' %}
                            {% endif %}
                            {{ scopeNote|raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Examples:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set isExamplesEmpty = true %}
                            {# Filtrer les textproperties avec namespacesId #}
                            {# SystemType utilisé: 7=Example #}
                            {% for textProperty in classVersion.class.textProperties
                                if textProperty.namespaceForVersion.id in namespacesId
                                and textProperty.systemType.id == 7 %}
                                {% set isExamplesEmpty = false %}
                                {{ textProperty.textProperty|raw }}
                            {% endfor %}
                            {% if isExamplesEmpty %}
                                <p><i>No example yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                    {% set associationCount = 0 %}
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        {% set associationCount = associationCount + 1 %}
                    {% endfor %}
                    {% if associationCount > 0 %}
                    <div class="row">
                        <div class="col-lg-2">
                            <p>In First Order Logic:</p>
                        </div>
                        <div class="col-lg-10">
                            <ul class="list-unstyled">
                            {% for association in classVersion.class.childClassAssociations
                                if association.namespaceForVersion.id in namespacesId %}
                                <li>{{ classVersion.class.identifierInNamespace }}(x) ⊃ {{ association.parentClass.identifierInNamespace }}(x)</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if outgoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Outgoing properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {# inutile de filtrer outgoingProperties car déjà fait par le repository #}
                                    {% for outgoingProperty in outgoingProperties %}
                                        <li>
                                            <a href="{{ path('property_show_with_version', {
                                                'id': outgoingProperty.propertyId,
                                                'namespaceFromUrlId': classVersion.namespaceForVersion.id }) }}">{{ outgoingProperty.property }}</a>
                                            → <a href="{{ path('class_show_with_version', {
                                                'id': outgoingProperty.rangeId,
                                                'namespaceFromUrlId': classVersion.namespaceForVersion.id  }) }}">{{ outgoingProperty.range }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if ingoingProperties|length > 0 %}
                        <div class="row">
                            <div class="col-lg-2">
                                <p>Incoming properties:</p>
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-unstyled">
                                    {% for ingoingProperty in ingoingProperties %}
                                        <li><a href="{{ path('class_show_with_version', {
                                                'id': ingoingProperty.domainId,
                                                'namespaceFromUrlId': classVersion.namespaceForVersion.id  }) }}">{{ ingoingProperty.domain }}</a>
                                            → <a href="{{ path('property_show_with_version', {
                                                'id': ingoingProperty.propertyId,
                                                'namespaceFromUrlId': classVersion.namespaceForVersion.id }) }}">{{ ingoingProperty.property }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>View details</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 1
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>{{ textProperty.namespaceForVersion }}</td>
                            <td>
                                <a class="btn" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>View details</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 7
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>{{ textProperty.namespaceForVersion }}</td>
                            <td>
                                <a class="btn" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>View details</th>
                        <th>Comments</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in classVersion.class.textProperties
                        if textProperty.systemType.id == 12
                        and textProperty.namespaceForVersion.id in namespacesId %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode }}</td>
                            <td>{{ textProperty.namespaceForVersion }}</td>
                            <td>
                                <a class="btn" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('text_property_show', {
                                    'id': textProperty.id
                                }) }}#comments" data-id="{{ textProperty.id }}" data-object="text-property">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                            <td>
                                {% if textProperty.validationStatus is null %}
                                    <span class="label label-info">
                                    Candidate
                                </span>
                                {% elseif textProperty.validationStatus.id == 26  %}
                                    <span class="label label-success">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 27  %}
                                    <span class="label label-danger">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% elseif textProperty.validationStatus.id == 28  %}
                                    <span class="label label-warning">
                                    {{ textProperty.validationStatus }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identifier : {{ classVersion.class.identifierInNamespace }}</h3>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                        <th>View details</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in classVersion.class.labels
                        if label.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">{{ label.label }}</a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                <a class="btn" href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('label_show', {
                                    'id': label.id
                                }) }}#comments" data-id="{{ label.id }}" data-object="label">
                                    <span class="badge {% if label.comments|length > 0  %}progress-bar-danger {% endif %}">{{ label.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language
                </p>
            </div>
            <div id="namespaces" class="tab-pane fade">
                <h3>Namespace</h3>
                <table class="table table-striped" id="namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cversion in classVersion.class.classVersions %}
                        <tr {% if cversion.namespaceForVersion.id == classVersion.namespaceForVersion.id %}class="success"{% endif %}>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': cversion.namespaceForVersion.id
                                }) }}">
                                    {{ cversion.namespaceForVersion }}
                                </a>
                            </td>
                            <td>{{ cversion.namespaceForVersion.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="class-hierarchy" class="tab-pane fade">
                <h3>Parent classes
                    {% set tooltipClass = "rdfs:subclassOf the class below" %}
                    {% if classVersion.class.childClassAssociations|length > 1  %}
                        {% set tooltipClass = "rdfs:subclassOf the classes listed below" %}
                    {% endif %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ classVersion }} {{ tooltipClass }}">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="parent-classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Class namespace</th>
                        <th>Relation defined in</th>
                        <th>Justification</th>
                        <th>View details</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in classVersion.class.childClassAssociations
                        if association.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': association.parentClass.id,
                                    'namespaceFromUrlId': association.parentClassNamespace.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ association.parentClass.classVersionForDisplay(association.parentClassNamespace).invertedLabel }}
                                </a>
                            </td>
                            <td>{{ association.parentClass.classVersionForDisplay(association.parentClassNamespace).namespaceForVersion }}</td>
                            <td>{{ association.namespaceForVersion }}</td>
                            <td>
                                {% if association.textProperties is not null %}
                                    {% for textProperty in association.textProperties
                                        if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('class_association_show', {'id': association.id}) }}"><span class="fa fa-info-circle"></span></a>
                            </td>
                            <td>
                                <a class="btn updateViewComment" href="{{ path('class_association_show', {
                                    'id': association.id
                                }) }}#comments" data-id="{{ association.id }}" data-object="class-association">
                                    <span class="badge {% if association.comments|length > 0  %}progress-bar-danger {% endif %}">{{ association.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Ancestor classes</h3>
                <table class="table table-striped" id="ancestors-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ancestor in ancestors|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': ancestor.id,
                                    'namespaceFromUrlId': classVersion.namespaceForVersion.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ ancestor.identifier }}
                                </a>
                            </td>
                            <td>{{ ancestor.depth }}</td>
                            <td>{{ ancestor.classNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Childs and descendant classes</h3>
                <table class="table table-striped" id="descendants-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Depth</th>
                        <th>Class namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for descendant in descendants|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': descendant.id,
                                    'namespaceFromUrlId': classVersion.namespaceForVersion.id,
                                    '_fragment': 'class-hierarchy'
                                }) }}">
                                    {{ descendant.identifier }}
                                </a>
                            </td>
                            <td>{{ descendant.depth }}</td>
                            <td>{{ descendant.classNamespaceLabel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="relations" class="tab-pane fade">
                <h3>Related classes</h3>
                <table class="table table-striped" id="relations-table">
                    <thead>
                        <tr>
                            <th>Relation</th>
                            <th>Class</th>
                            <th>Justification</th>
                            <th>Relation defined in</th>
                            <th>View details</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for relation in classVersion.class.entityAssociations
                        if relation.systemType.id == 4 or relation.systemType.id == 19
                        and relation.namespaceForVersion.id in namespacesId %}
                        <tr>
                            <td>{{ relation.systemType }}</td>
                            {% if classVersion.class.id == relation.sourceClass.id %}
                                <td><a href="{{ path('class_show_with_version', {
                                        'id': relation.targetClass.id,
                                        'namespaceFromUrlId': relation.targetNamespaceForVersion.id
                                    }) }}">
                                        {{ relation.targetClass.classVersionForDisplay(relation.targetNamespaceForVersion).invertedLabel }}
                                    </a>
                                </td>
                            {% else %}
                                <td><a href="{{ path('class_show_with_version', {
                                        'id': relation.sourceClass.id,
                                        'namespaceFromUrlId': relation.sourceNamespaceForVersion.id
                                    }) }}">
                                        {{ relation.sourceClass.classVersionForDisplay(relation.sourceNamespaceForVersion).invertedLabel }}
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {% if relation.textProperties is not null %}
                                    {% for textProperty in relation.textProperties
                                        if textProperty.systemType.id == 15 %}
                                        {% if loop.index == 1 %}
                                            <a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="fas fa-eye" aria-hidden="true"></span></a>
                                            {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ relation.namespaceForVersion.topLevelNamespace }}</td>
                            <td>
                                {% if classVersion.class.id == relation.sourceClass.id %}
                                <a href="{{ path('entity_association_show', {
                                    'id': relation.id
                                }) }}">
                                    <span class="fa fa-info-circle"></span>
                                </a>
                                {% else %}
                                    <a href="{{ path('entity_association_inverse_show', {
                                    'id': relation.id
                                }) }}">
                                    <span class="fa fa-info-circle"></span>
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if classVersion.class.id == relation.sourceClass.id %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_show', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% else %}
                                    <a class="btn updateViewComment" href="{{ path('entity_association_inverse_show', {
                                        'id': relation.id
                                    }) }}#comments" data-id="{{ relation.id }}" data-object="entity-association">
                                        <span class="badge {% if relation.comments|length > 0  %}progress-bar-danger {% endif %}">{{ relation.comments|length }}</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Outgoing properties (this class is domain)</h3>
                <table class="table table-striped" id="outgoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingProperty in outgoingProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingProperty.domain }}
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': outgoingProperty.propertyId,
                                    'namespaceFromUrlId': outgoingProperty.propertyNamespaceId
                                }) }}">
                                    {{ outgoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': outgoingProperty.rangeId,
                                    'namespaceFromUrlId': outgoingProperty.rangeNamespaceId
                                }) }}">
                                    {{ outgoingProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Outgoing properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="outgoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for outgoingInheritedProperty in outgoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                {{ outgoingInheritedProperty.domain }} (is a
                                <a
                                        href="{{ path('class_show_with_version', {
                                            'id': outgoingInheritedProperty.parentClassId,
                                            'namespaceFromUrlId': outgoingInheritedProperty.domainNamespaceId
                                        }) }}"
                                        title="{{ outgoingInheritedProperty.ancestors }}">
                                    {{ outgoingInheritedProperty.parentClass }}</a>)
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': outgoingInheritedProperty.propertyId,
                                    'namespaceFromUrlId': outgoingInheritedProperty.propertyNamespaceId
                                }) }}">
                                    {{ outgoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': outgoingInheritedProperty.rangeId,
                                    'namespaceFromUrlId': outgoingInheritedProperty.rangeNamespaceId
                                }) }}">
                                    {{ outgoingInheritedProperty.range }}
                                </a>
                            </td>
                            <td>{{ outgoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (this class is range)</h3>
                <table class="table table-striped" id="ingoing-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingProperty in ingoingProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': ingoingProperty.domainId,
                                    'namespaceFromUrlId': ingoingProperty.domainNamespaceId
                                }) }}">
                                    {{ ingoingProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': ingoingProperty.propertyId,
                                    'namespaceFromUrlId': ingoingProperty.propertyNamespaceId
                                }) }}">
                                    {{ ingoingProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ ingoingProperty.range }}
                            </td>
                            <td>{{ ingoingProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Incoming properties (inherited from ancestors)</h3>
                <table class="table table-striped" id="ingoing-inherited-properties-table">
                    <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Property identifier</th>
                        <th>Range</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingoingInheritedProperty in ingoingInheritedProperties|sort %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show_with_version', {
                                    'id': ingoingInheritedProperty.domainId,
                                    'namespaceFromUrlId': ingoingInheritedProperty.domainNamespaceId
                                }) }}">
                                    {{ ingoingInheritedProperty.domain }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('property_show_with_version', {
                                    'id': ingoingInheritedProperty.propertyId,
                                    'namespaceFromUrlId': ingoingInheritedProperty.propertyNamespaceId
                                }) }}">
                                    {{ ingoingInheritedProperty.property }}
                                </a>
                            </td>
                            <td>
                                {{ classVersion.invertedLabel }} (is a
                                <a
                                        href="{{ path('class_show_with_version', {
                                            'id': ingoingInheritedProperty.rangeId,
                                            'namespaceFromUrlId': ingoingInheritedProperty.rangeNamespaceId
                                        }) }}"
                                        title="{{ ingoingInheritedProperty.ancestors }}">
                                    {{ ingoingInheritedProperty.range }}</a>)
                            </td>
                            <td>{{ ingoingInheritedProperty.namespace }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles using this class</h3>
                <table class="table table-striped" id="profiles-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in classVersion.class.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.startDate is empty ? '' : profile.startDate|date('Y-m-d') }}</td>
                            <td>{{ profile.endDate is empty ? '' : profile.endDate|date('Y-m-d') }}</td>
                            <td>{{ profile.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Linked classes graph</h3>
                <p>
                    <button id="reset-tree" onclick="reset();">Reset</button>
                </p>
                <div id="graph-container" data-url="{{ path('class_graph_json', {
                    'class': classVersion.class.id})
                }}">
                </div>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><em>Use mouse wheel to zoom in/out.</em></p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% set commentsClass = classVersion.class.comments %}
                        {% set commentsClassVersion = commentsClass|filter(commentsClass => commentsClass.namespaceForVersion.id == classVersion.namespaceForVersion.id) %}
                        {% if commentsClassVersion is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in commentsClassVersion %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'class-version', 'objectId' : classVersion.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            //hide validation column for datatable when current namespace is not ongoing
            var visible = '{{ classVersion.namespaceForVersion.isOngoing ? 'true' : 'false' }}';

            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6, "visible": visible}
                    ],
                "autoWidth": false
            });
            $('#examples-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6, "visible": visible}
                ],
                "autoWidth": false
            });
            $('#additional-notes-table').DataTable({
                "order": [[5, 'desc']],
                "columnDefs": [
                    {"width": "1%", "orderable": false, "targets": 0},
                    {"width": "50%", "targets": 1},
                    {"width": "1%", "targets": 2},
                    {"width": "1%", "targets": 4},
                    {"width": "1%", "targets": 5},
                    {"width": "1%", "targets": 6, "visible": visible}
                ],
                "autoWidth": false
            });
            $('#parent-classes-table').DataTable();
            $('#ancestors-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#descendants-table').DataTable({
                "order": [[ 1, "asc" ]]
            });
            $('#relations-table').DataTable({
                "order": [[ 0, "asc" ]]
            });
            $('#outgoing-properties-table').DataTable();
            $('#outgoing-inherited-properties-table').DataTable();
            $('#ingoing-properties-table').DataTable();
            $('#ingoing-inherited-properties-table').DataTable();
            $('#profiles-table').DataTable();

            $('[data-toggle="tooltip"]').tooltip({container: 'body'});

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });
        });
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'class-version', 'objectId' : classVersion.id} %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/class-graph.js') }}"></script>

{% endblock %}
