{% extends 'base.html.twig' %}

{% block title %}{{ propertyAssociation }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="property-name">
            {{ propertyAssociation }}
            <a href="{{ path('property_show', {
                id: propertyAssociation.childProperty.id
            }) }}" class="pull-right btn btn-link">
                <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
            </a>
        </h2>

        <ul class="nav nav-tabs" id="main-tabs">
            <li class="active"><a data-toggle="tab" href="#justifications">Parent property and justifications</a></li>
        </ul>

        <div class="tab-content">
            <div id="justifications" class="tab-pane fade in active">
                <h3>Edit property association</h3>
                {{ form_start(propertyAssociationForm) }}
                    {{ form_errors(propertyAssociationForm) }}
                    {{ form_row(propertyAssociationForm.parentProperty) }}

                    {{ form_row(propertyAssociationForm.childProperty) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                {{ form_end(propertyAssociationForm) }}
                {% if is_granted('edit', property) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('text_property_new', {'type': 'justification', 'object': 'property-association', 'objectId': propertyAssociation.id })}}"
                           class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Justifications</h3>
                <table class="table table-striped" id="justifications-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Justification</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        {% if is_granted('edit', property) %}
                        <th>Edit</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in propertyAssociation.textProperties if textProperty.systemType.id == 15 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                                <!-- {% if textProperty.namespace is not null %}
                                    {% for label in textProperty.namespace.topLevelNamespace.labels %}
                                        {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                            {{ label.label }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %} -->
                            </td>
                            <td>
                                {% if is_granted('edit', property) %}
                                    <a href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_granted('edit', property) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('text_property_new', {'type': 'example', 'object': 'property-association', 'objectId': propertyAssociation.id })}}"
                           class="btn btn-primary pull-right">
                            Add <span class="fa fa-plus-circle"></span>
                        </a>
                    </div>
                {% endif %}
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in propertyAssociation.textProperties if textProperty.systemType.id == 7 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                            <td>
                                {% if is_granted('edit', property) %}
                                    <a href="{{ path('text_property_edit', {
                                        'id': textProperty.id
                                    }) }}"
                                       class="btn btn-xs btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#property_association_edit_form_parentProperty').select2({
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });
            $('#justifications-table').DataTable();
            $('#examples-table').DataTable();

        } );
    </script>

{% endblock %}
