{% extends 'base.html.twig' %}

{% block title %}{{ project.standardLabel }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="project-name">
            {{ project.standardLabel }}
            {% if is_granted('edit', project) %}
                <a href="{{ path('project_edit', {
                    id: project.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#project-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#managed-namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#members">Members</a></li>
            <li><a data-toggle="tab" href="#comments-list">Comments list</a></li>
        </ul>
        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ project.standardLabel }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in project.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Description</h3>
                <table class="table table-striped" id="description-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 16 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 12 %}
                        {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                {% if  project.startDate is not null %}
                    <p>Start date: {{ project.startDate|date('Y-m-d') }}</p>
                {% endif %}
                {% if  project.endDate is not null %}
                    <p>End date: {{ project.endDate|date('Y-m-d') }}</p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in project.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language
                </p>
            </div>
            <div id="project-hierarchy" class="tab-pane fade">
                <h3>Hierarchy</h3>
                {% if project.parentProject is null  %}
                    <p>{{ project.standardLabel }} is a <b>master project</b>{% if project.childProjects|length == 0 %} and has no subproject{% endif %}.</p>
                    {% if project.childProjects|length != 0 %}
                        <h3>Subprojects</h3>
                        <table class="table table-striped" id="child-projects-table">
                            <thead>
                            <tr>
                                <th>Project name</th>
                                <th>Last updated</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for childProject in project.childProjects  %}
                                <tr>
                                    <td>
                                        <a href="{{ path('project_show', {
                                            'id': childProject.id
                                        }) }}#project-hierarchy">
                                            {{ childProject.standardLabel }}
                                        </a>
                                    </td>
                                    <td>{{ childProject.modificationTime|date('Y-m-d') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% else %}
                    <p>Master project: <a href="{{ path('project_show', {
                            'id': project.parentProject.id,
                            '_fragment':'project-hierarchy'
                        }) }}">
                            {{ project.parentProject.standardLabel }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div id="managed-namespaces" class="tab-pane fade">
                {% if project.managedNamespaces is not empty %}
                    <h3>Root namespace</h3>
                    <p>This project manages the <strong><a href="{{ path('namespace_show', {'id':project.managedNamespaces|first.topLevelNamespace.id}) }}">{{ project.managedNamespaces|first.topLevelNamespace }}</a></strong> namespace.</p>
                    <h3>Versions of this namespace:</h3>
                    <table class="table table-striped" id="managed-namespaces-table">
                        <thead>
                        <tr>
                            <th>Namespace</th>
                            <th>Last updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for namespace in project.managedNamespaces|first.topLevelNamespace.childVersions %}
                            <tr>
                                <td>
                                    <a href="{{ path('namespace_show', {
                                        'id': namespace.id
                                    }) }}">
                                        {{ namespace }}
                                    </a>
                                </td>
                                <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3><em>There is currently no namespace managed by this project.</em></h3>
                {% endif %}
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles owned by this project</h3>
                <table class="table table-striped" id="owned-profiles-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Creation date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in project.ownedProfiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.creationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>
                    Profiles used by this project
                    <a data-toggle="tooltip" data-placement="right" title="These profiles are published in the API of the project">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="associated-profiles-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Creation date</th>
                        <th>API</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in project.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.creationTime|date('Y-m-d') }}</td>
                            <td>
                                {% if (not profile.isOngoing and profile.wasClosedAt is not null and profile.endDate is null) or (profile.isForcedPublication and profile.isOngoing ) %}
                                    <a  href="{{ path('api_classes_profile_json', {
                                        'lang': 'en',
                                        'available-in-profile': profile.id
                                    }) }}"
                                        class="btn btn-primary">
                                        <i class="fas fa-microchip"></i> JSON Classes
                                    </a>
                                    &nbsp;
                                    <a  href="{{ path('api_properties_profile_json', {
                                        'lang': 'en',
                                        'available-in-profile': profile.id
                                    }) }}"
                                        class="btn btn-primary">
                                        <i class="fas fa-microchip"></i> JSON Properties
                                    </a>
                                {% else %}
                                    API not available
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="members" class="tab-pane fade">
                <h3>Members of the project</h3>
                <table class="table table-striped" id="members-of-the-project-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Institution</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userProjectAssociation in project.userProjectAssociations if userProjectAssociation.project.id == project.id %}
                        <tr>
                            <td>{{ userProjectAssociation.user }}</td>
                            <td>{{ userProjectAssociation.user.institution }}</td>
                            <td>
                                {% if userProjectAssociation.permission == 1 %}
                                    <span class="label label-danger">Administrator</span>
                                {% elseif userProjectAssociation.permission == 2 %}
                                    <span class="label label-warning">Manager</span>
                                {% elseif userProjectAssociation.permission == 3 %}
                                    <span class="label label-success">Member</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="comments-list" class="tab-pane fade">
                <h3>Project-related comments</h3>
                <table class="table table-striped" id="comments-list-table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Commented section</th>
                        <th class="text-nowrap">Creation date</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set namespaces = [] %}

                    {# toutes les versions de l'espace de noms de haut niveau géré par le projet #}
                    {% if project.managedNamespaces is not empty %}
                        {% set managedNamespace = project.managedNamespaces|first.topLevelNamespace %}
                        {% set namespaces = namespaces|merge(managedNamespace.childVersions) %}

                        {# la ou les versions des espaces de noms de référence #}
                        {% for nsversion in managedNamespace.childVersions %}
                            {% for refnsassoc in nsversion.referencedNamespaceAssociations %}
                                {% if refnsassoc.referencedNamespace not in namespaces %}
                                    {% set namespaces = namespaces|merge([refnsassoc.referencedNamespace]) %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {# la ou les versions des espaces de noms sélectionnés par le ou les profils du projet #}
                    {% for profil in project.ownedProfiles %}
                        {% for ns in profil.namespaces %}
                            {% if ns not in namespaces %}
                                {% set namespaces = namespaces|merge([ns]) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% set comments = [] %}
                    {% for ns in namespaces %}
                        {% for class in ns.classes %}
                            {% set comments = comments|merge(class.comments) %}
                            {% for label in class.labels %}
                                {% set comments = comments|merge(label.comments) %}
                            {% endfor %}
                            {% for textProperty in class.textProperties %}
                                {% set comments = comments|merge(textProperty.comments) %}
                            {% endfor %}
                        {% endfor %}
                        {% for property in ns.properties %}
                            {% set comments = comments|merge(property.comments) %}
                            {% for label in property.labels %}
                                {% set comments = comments|merge(label.comments) %}
                            {% endfor %}
                            {% for textProperty in property.textProperties %}
                                {% set comments = comments|merge(textProperty.comments) %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    {% for comment in comments %}
                        <tr>
                            <td class="text-nowrap">
                                {% if comment.class is not null %}
                                    {{ comment.class.invertedLabel }}
                                {% elseif comment.property is not null %}
                                    {{ comment.property.invertedLabel }}
                                {% elseif comment.label is not null %}
                                    {{ comment.label }}
                                {% elseif comment.namespace is not null %}
                                    {{ comment.namespace }}
                                {% elseif comment.classAssociation is not null %}
                                    {{ comment.classAssociation }}
                                {% elseif comment.propertyAssociation is not null %}
                                    {{ comment.propertyAssociation }}
                                {% elseif comment.textProperty is not null %}
                                    {% if comment.textProperty.class is not null %}
                                        {{ comment.textProperty.class.invertedLabel }}
                                    {% elseif comment.textProperty.property is not null %}
                                        {{ comment.textProperty.property.invertedLabel }}
                                    {% elseif comment.textProperty.namespace is not null %}
                                        {{ comment.textProperty.namespace }}
                                    {% elseif comment.textProperty.project is not null %}
                                        {{ comment.textProperty.project }}
                                    {% elseif comment.textProperty.profile is not null %}
                                        {{ comment.textProperty.profile }}
                                    {% elseif comment.textProperty.classAssociation is not null %}
                                        {{ comment.textProperty.classAssociation }}
                                    {% elseif comment.textProperty.entityAssociation is not null %}
                                        {{ comment.textProperty.entityAssociation }}
                                    {% elseif comment.textProperty.propertyAssociation is not null %}
                                        {{ comment.textProperty.propertyAssociation }}
                                    {% elseif comment.textProperty.propertyAssociation is not null %}
                                        {{ comment.textProperty.propertyAssociation }}
                                    {% endif %}
                                {% else %}
                                    General
                                {% endif %}
                            </td>
                            <td class="text-nowrap">
                                {% if comment.class is not null %}
                                    Class
                                {% elseif comment.property is not null %}
                                    Property
                                {% elseif comment.label is not null %}
                                    Label
                                {% elseif comment.namespace is not null %}
                                    Namespace
                                {% elseif comment.classAssociation is not null %}
                                    Class association
                                {% elseif comment.propertyAssociation is not null %}
                                    Property association
                                {% elseif comment.textProperty is not null %}
                                    {% if comment.textProperty.systemType is not null %}
                                        {{ comment.textProperty.systemType.standardLabel|capitalize }}
                                    {% endif %}
                                {% else %}
                                    General
                                {% endif %}
                            </td>
                            <td class="text-nowrap">{{ comment.creationTime|date('Y-m-d') }}</td>
                            <td class="truncated-text" width="100%">
                                    <span>
                                    {% if comment.class is not null %}
                                    <a href="{{ path('class_show', {'id': comment.class.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.class.id }}" data-object="class">
                                    {% elseif comment.property is not null %}
                                        <a href="{{ path('property_show', {'id': comment.property.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.property.id }}" data-object="property">
                                    {% elseif comment.label is not null %}
                                        <a href="{{ path('label_show', {'id': comment.label.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.label.id }}" data-object="label">
                                    {% elseif comment.namespace is not null %}
                                        <a href="{{ path('namespace_show', {'id': comment.namespace.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.namespace.id }}" data-object="namespace">
                                    {% elseif comment.classAssociation is not null %}
                                        <a href="{{ path('class_association_show', {'id': comment.classAssociation.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.classAssociation.id }}" data-object="classAssociation">
                                    {% elseif comment.propertyAssociation is not null %}
                                        <a href="{{ path('property_association_show', {'id': comment.propertyAssociation.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.propertyAssociation.id }}" data-object="propertyAssociation">
                                    {% elseif comment.textProperty is not null %}
                                        <a href="{{ path('text_property_show', {'id': comment.textProperty.id, '_fragment': 'comments'}) }}" class="updateViewComment" data-id="{{ comment.textProperty.id }}" data-object="textProperty">
                                    {% else %}
                                        General
                                            {% endif %}
                                            {{ comment.comment|striptags|raw }}</a>
                                    </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#labels-table').DataTable();
            $('#description-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#parent-projects-table').DataTable();
            $('#child-projects-table').DataTable();
            $('#managed-namespaces-table').DataTable();
            $('#owned-profiles-table').DataTable();
            $('#associated-profiles-table').DataTable();
            $('#members-of-the-project-table').DataTable();
            $('#ontome-users-table').DataTable();
            $('#comments-list-table').DataTable();

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });
        } );
    </script>

{% endblock %}