{% extends 'base.html.twig' %}

{% block title %}{{ project.standardLabel }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="oject-name">{{ project.standardLabel }}</h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Scope Notes</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                    <span>{{ textProperty.textProperty}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 999 %}
                        <tr>
                            <td><a class="btn" href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>Start date: {{ project.startDate }}</p>
                <p>End date: {{ project.endDate }}</p>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in project.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles</h3>
                <table class="table table-striped" id="profile-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Creation date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in project.profiles %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.creationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#examples-table').DataTable();
            $('#profile-table').DataTable();

        } );
    </script>

{% endblock %}
