{% extends 'base.html.twig' %}

{% block title %}{{ project.standardLabel }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="project-name">
            {{ project.standardLabel }}
            {% if is_granted('edit', project) %}
                <a href="{{ path('project_edit', {
                    id: project.id
                }) }}" class="pull-right btn btn-success btn-edit">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#project-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#managed-namespaces">Namespaces</a></li>
            <li><a data-toggle="tab" href="#profiles">Profiles</a></li>
            <li><a data-toggle="tab" href="#members">Members</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ project.standardLabel }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in project.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Description</h3>
                <table class="table table-striped" id="description-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 16 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in project.textProperties if textProperty.systemType.id == 12 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                {% if  project.startDate is not null %}
                <p>Start date: {{ project.startDate|date('Y-m-d') }}</p>
                {% endif %}
                {% if  project.endDate is not null %}
                    <p>End date: {{ project.endDate|date('Y-m-d') }}</p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in project.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language
                </p>
            </div>
            <div id="project-hierarchy" class="tab-pane fade">
                <h3>Parent projects</h3>
                <table class="table table-striped" id="parent-projects-table">
                    <thead>
                    <tr>
                        <th>Project identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if project.parentProject is not null  %}
                        <tr>
                            <td>
                                <a href="{{ path('project_show', {
                                    'id': project.parentProject.id
                                }) }}">
                                    {{ project.parentProject.standardLabel }}
                                </a>
                            </td>
                            <td>{{ project.parentProject.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <h3>Child projects</h3>
                <table class="table table-striped" id="child-projects-table">
                    <thead>
                    <tr>
                        <th>Project identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for childProject in project.childProjects  %}
                        <tr>
                            <td>
                                <a href="{{ path('project_show', {
                                    'id': childProject.id
                                }) }}">
                                    {{ childProject.standardLabel }}
                                </a>
                            </td>
                            <td>{{ childProject.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="managed-namespaces" class="tab-pane fade">
                <h3>Namespaces managed by this project</h3>
                <table class="table table-striped" id="managed-namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for namespace in project.managedNamespaces if namespace.isTopLevelNamespace %}
                        <tr>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.id
                                }) }}">
                                    {{ namespace }}
                                </a>
                            </td>
                            <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="profiles" class="tab-pane fade">
                <h3>Profiles owned by this project</h3>
                <table class="table table-striped" id="owned-profiles-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Creation date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in project.ownedProfiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.creationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>
                    Profiles used by this project
                    <a data-toggle="tooltip" data-placement="right" title="These profiles are available in the API">
                        <span class="fas fa-info-circle"></span>
                    </a>
                </h3>
                <table class="table table-striped" id="associated-profiles-table">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Creation date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in project.profiles %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_show', {
                                    'id': profile.id
                                }) }}">
                                    {{ profile.standardLabel }}
                                </a>
                            </td>
                            <td>{{ profile.creationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="members" class="tab-pane fade">
                <h3>Members of the project</h3>
                <table class="table table-striped" id="members-of-the-project-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Institution</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userProjectAssociation in project.userProjectAssociations if userProjectAssociation.project.id == project.id %}
                        <tr>
                            <td>{{ userProjectAssociation.user }}</td>
                            <td>{{ userProjectAssociation.user.institution }}</td>
                            <td>
                                {% if userProjectAssociation.permission == 1 %}
                                    <span class="label label-danger">Administrator</span>
                                {% elseif userProjectAssociation.permission == 2 %}
                                    <span class="label label-warning">Manager</span>
                                {% elseif userProjectAssociation.permission == 3 %}
                                    <span class="label label-success">Member</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#labels-table').DataTable();
            $('#description-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#parent-projects-table').DataTable();
            $('#child-projects-table').DataTable();
            $('#managed-namespaces-table').DataTable();
            $('#owned-profiles-table').DataTable();
            $('#associated-profiles-table').DataTable();
            $('#members-of-the-project-table').DataTable();
            $('#ontome-users-table').DataTable();
        } );
    </script>

{% endblock %}
