{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Users {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Users</h3>
    <table class="table table-striped" id="user-table">
        <thead>
        <tr>
            <th>Login</th>
            <th>Full name</th>
            <th>Institution</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', {
                            'id': user.id
                        }) }}">
                            {{ user.login }}
                        </a>
                    </td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.institution }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('user_edit', {
                            'id': user.id
                        }) }}"
                           class="btn btn-xs btn-success">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
        $('#user-table').DataTable();
    } );
    </script>
{% endblock %}