{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if form is not null %}
            <h1>{{ user.login }} - enter a new password</h1>
                {{ form_start(form) }}

                    {{ form_row(form.plainPassword.first, {
                        'label': 'Password',
                        'help': 'For security reason, your password must contain at least 1 special character, 1 digit, 1 lowercase and 1 uppercase letter. We strongly recommand the use of a password manager.'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat Password'
                    }) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}