{% extends 'base.html.twig' %}

{% block title %}{{ namespace.namespaceURI }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">
            {{ namespace }}
            {% if is_granted('ROLE_USER') and not namespace.isTopLevelNamespace %}
                <span class="pull-right">
                    <a  href="{{ path('api_classes_and_properties_by_namespace_xml', {
                        namespace: namespace.id
                    }) }}"
                        class="btn btn-primary"
                        download="namespace-{{ namespace.standardLabel }}.rdf">
                        <i class="fas fa-code"></i> OWL-RDF
                    </a>
                </span>
            {% endif %}
        </h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespace-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li><a data-toggle="tab" href="#comments" class="updateViewComment" data-id="{{ namespace.id }}" data-object="namespace">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>
                    {{ namespace }}
                </h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in namespace.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'definition', 'object': 'namespace', 'objectId': namespace.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Description</h3>
                <table class="table table-striped" id="descriptions-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 16 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right add-div">
                    <a href="{{ path('text_property_new', {'type': 'additional-note', 'object': 'namespace', 'objectId': namespace.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Edit</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 12 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>
                                <a href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('text_property_edit', {
                                    'id': textProperty.id
                                }) }}#comments">
                                    <span class="badge {% if textProperty.comments|length > 0  %}progress-bar-danger {% endif %}">{{ textProperty.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <div class="object-identification-edit-form">
                    {% if is_granted('full_edit', namespace) %}
                        {{ form_start(namespaceForm) }}
                            {{ form_errors(namespaceForm) }}
                            <div class="
                                        form-group cool-class
                                        {% if form_errors(namespaceForm.namespaceURI)  %}
                                        has-feedback has-error
                                        {% endif %}
                                        "
                            >
                                {{ form_label(namespaceForm.namespaceURI) }}
                                <div class="input-group">
                                    <span class="input-group-addon">https://dataforhistory.org/{% if namespace.originalNamespaceURI is not null %}external-{% endif %}ontology/</span>
                                    {{ form_widget(namespaceForm.namespaceURI, { 'attr': {'placeholder': 'my-namespace-1-5'} }) }}
                                </div>
                                {{ form_errors(namespaceForm.namespaceURI) }}
                            </div>
                            {{ form_row(namespaceForm.originalNamespaceURI) }}
                            <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                            <a href="{{ path('namespace_show', {
                                id: namespace.id,
                                '_fragment': 'identification'
                            }) }}"
                               class="btn btn-default"
                               role="button">
                                Back <i class="fas fa-arrow-left"></i>
                            </a>
                        {{ form_end(namespaceForm) }}
                    {% else %}
                        <p>OntoME URI: {{ namespace.namespaceURI }}</p>
                        <p>Original URI: {{ namespace.originalNamespaceUri|default('<i>No original URI yet.</i>')|raw }}</p>
                    {% endif %}
                </div>
                {% if namespace.projectForTopLevelNamespace is not null %}
                <p>
                    Project of belonging: <a href="{{ path('project_show', {
                                'id': namespace.projectForTopLevelNamespace.id
                            }) }}"
                                target="_blank">{{ namespace.projectForTopLevelNamespace }}
                            </a>
                </p>
                {% endif %}
                {% if namespace.isTopLevelNamespace == false %}
                    {% if namespace.isOngoing %}
                        <p>This namespace is ongoing and can be modified at any time. It is not advisable to use its classes and properties.</p>
                    {% endif %}
                    {% if namespace.publishedAt is not null %}
                        <p>Namespace published and available since: {{ namespace.publishedAt|date('Y-m-d') }}</p>
                    {% endif %}
                {% else %}
                    <p>This namespace is a root namespace. Find all its versions in the <a href="#namespace-hierarchy" onclick="window.location = '{{ path('namespace_edit', {'id': namespace.id}) }}#namespace-hierarchy';window.location.reload()">Hierarchy tab</a>.</p>
                {% endif %}
                <h3>Reference namespaces of which this namespace is an extension</h3>
                {% if namespace.referencedNamespaceAssociations is empty %}
                    <em id="empty-namespace-list-message">No reference namespace has been specified.</em>
                {% endif %}
                <div class="container" id="referenced-namespaces-list">
                    {% for referencedNamespaceAssociation in namespace.referencedNamespaceAssociations %}
                        <div class="row">
                            <a href="#namespaces" class="remove-namespace" data-id="{{ referencedNamespaceAssociation.referencedNamespace.id }}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="{{ path('namespace_show', {
                                'id': referencedNamespaceAssociation.referencedNamespace.id
                            }) }}">
                                {{ referencedNamespaceAssociation.referencedNamespace }}
                            </a>
                            <span class="loading-icon2" data-id="{{ referencedNamespaceAssociation.referencedNamespace.id }}">&nbsp;<span class="fas fa-spinner fa-spin"></span></span>
                        </div>
                    {% endfor %}
                </div>
                <h4>Pick a namespace to be referenced by the current one.</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <select id="select-root-namespace">
                            {% for rootNamespace in rootNamespaces %}
                                <option value="{{ rootNamespace.id }}">{{ rootNamespace.standardLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div id="loading-icon">
                            <span class="fas fa-spinner fa-spin"></span>
                        </div>
                        <ul class="list-group" id="chosable-namespaces-list">
                        </ul>
                    </div>
                </div>
                <div class="pull-right add-div">
                    <a href="{{ path('label_new', {'object': 'namespace', 'objectId': namespace.id })}}"
                       class="btn btn-primary pull-right">
                        Add <span class="fa fa-plus-circle"></span>
                    </a>
                </div>
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                        <th>Edit</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in namespace.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}"
                                   class="btn btn-xs btn-success">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('label_edit', {
                                    'id': label.id
                                }) }}#comments">
                                    <span class="badge {% if label.comments|length > 0  %}progress-bar-danger {% endif %}">{{ label.comments|length }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            <div id="namespace-hierarchy" class="tab-pane fade">
                <h3>Hierarchy</h3>
                {% if namespace.isTopLevelNamespace %}
                    <p>{{ namespace.standardLabel }} is a <b>root namespace</b>.</p>
                <h3>Child namespaces</h3>
                <table class="table table-striped" id="child-namespaces-table">
                    <thead>
                    <tr>
                        <th>PublishedAt</th>
                        <th>Namespace</th>
                        <th>URI</th>
                        <th>Last updated</th>
                        <th>Current namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for childNamespace in namespace.childVersions %}
                        <tr {% if is_granted('edit', childNamespace) and childNamespace.isOngoing %}class="success"{% endif %}>
                            <td>{{ childNamespace.publishedAt|date('Y-m-d H-i:s') }}</td>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': childNamespace.id,
                                    '_fragment': 'namespace-hierarchy'
                                }) }}">
                                    {{ childNamespace.standardLabel }}
                                </a>
                            </td>
                            <td>{{ childNamespace.namespaceUri }}</td>
                            <td>{{ childNamespace.modificationTime|date('Y-m-d') }}</td>
                            <td>
                                {% set isEnabled = false %}
                                {% for upa in app.user.userProjectAssociations if upa.project == app.user.currentActiveProject %}
                                    {% for eupa in upa.entityUserProjectAssociations if eupa.systemType.id == 25 %}
                                        {% if eupa.namespace == childNamespace %}
                                            {% set isEnabled = true %}
                                        {% elseif eupa.namespace.referencedNamespaceAssociations is not empty %}
                                            {% for referencedNamespaceAssociation in eupa.namespace.referencedNamespaceAssociations %}
                                                {% if referencedNamespaceAssociation.referencedNamespace == childNamespace %}
                                                    {% set isEnabled = true %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <a href="{{ path('user_show', {'id': app.user.id, '_fragment': 'my-current-namespaces'}) }}">{% if isEnabled %}Yes{% else %}No{% endif %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Root namespace: <a href="{{ path('namespace_show', {
                            'id': namespace.topLevelNamespace.id,
                            '_fragment':'namespace-hierarchy'
                        }) }}">
                            {{ namespace.topLevelNamespace.standardLabel }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div id="classes" class="tab-pane fade">
                {% if is_granted('full_edit', namespace) and namespace.id == app.user.currentOngoingNamespace.id %}
                    <div class="pull-right add-div">
                        <a href="{{ path('class_new', {'namespace': namespace.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in namespace.classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {{ class }}
                                </a>
                            </td>
                            <td>{{ class.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th class="text-right">Domain</th>
                        <th></th>
                        <th class="text-center">Property</th>
                        <th></th>
                        <th>Range</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in namespace.properties %}
                        <tr>
                            <td class="text-right small">
                                {% if property.domain is not null %}
                                    <a href="{{ path('class_show', {'id': property.domain.id }) }}">
                                        {{ property.domain }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="small" style="padding-left: 30px;">
                                {% if property.domainMinQuantifier is not null and property.domainMaxQuantifier is not null %}
                                    ({% if  property.domainMinQuantifier != -1 %}{{ property.domainMinQuantifier }}{% else %}n{% endif %},{% if  property.domainMaxQuantifier != -1 %}{{ property.domainMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('property_show', {'id': property.id}) }}">
                                    {{ property }}
                                </a>
                            </td>
                            <td class="small" style="padding-right: 30px;">
                                {% if property.rangeMinQuantifier is not null and property.rangeMaxQuantifier is not null %}
                                    ({% if  property.rangeMinQuantifier != -1 %}{{ property.rangeMinQuantifier }}{% else %}n{% endif %},{% if  property.rangeMaxQuantifier != -1 %}{{ property.rangeMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="small">
                                {% if property.range is not null %}
                                    <a href="{{ path('class_show', {'id': property.range.id }) }}">
                                        {{ property.range }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ property.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Graph</h3>
                <p class="text-warning"><span class="fa fa-exclamation-circle"></span> Please note this is an experimental feature. <strong>Click on the full screen button if the graph is not displayed</strong></p>
                {% if namespace.classes|length > 0 and namespace.properties|length > 0 %}
                <a href="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a><br><br>
                <embed src="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" width="100%" height="1000px"><br><br>
                <a href="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a>

                {% else %}
                <p>The webvowl graph cannot be displayed because there is no class or property in this namespace.</p>
                {% endif %}
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if namespace.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in namespace.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'namespace', 'objectId' : namespace.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#descriptions-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#properties-table').DataTable();
            $('#classes-table').DataTable();
            $('#child-namespaces-table').DataTable({
                "order": [[0, 'desc']],
                "columnDefs": [
                    {"visible": false, "targets": 0 }
                ],
                "autoWidth": false
            });

            $('#loading-icon').hide(0);
            $('.loading-icon2').hide(0);

            $('#select-root-namespace').select2({
                width: '100%',
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });

            $('#select-root-namespace').on('select2:select', function (e) {
                $('#loading-icon').show(0);
                $('#chosable-namespaces-list').empty();
                var selectedValue = e.params.data.id;
                var url = '{{ path("namespaces_by_root_id_list_json", {'id': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success:function(data){
                        $('#loading-icon').hide(0);

                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){
                            $.each(data.namespaces, function(key, val){
                                $("#chosable-namespaces-list").append($("<a class=\"list-group-item pickable-namespace\" id="+val.id+">"+val.standardLabel+"</a>"));
                            });
                        }
                    }
                });
            });

            $(document).on("mouseenter touchstart", ".pickable-namespace", function() {
                $(this).prepend($("<span><i class=\"fas fa-plus\"></i>&nbsp;</span>"));
            });

            $(document).on("mouseleave touchend", ".pickable-namespace", function() {
                $(this).find(":first-child").remove();
            });

            $(document).on("click", ".pickable-namespace", function() {
                var selectedValue = $(this).attr("id");
                var namespaceID = {{ namespace.id }}
                var url = '{{ path("namespace_referenced_namespace_association", {'namespace' : 'namespaceID','referencedNamespace': 'selectedValue'}) }}';
                url = url.replace("namespaceID", namespaceID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success:function(data){

                        // handling the response data from the controller
                        if(data.status == 'Error'){
                            console.log("[API] ERROR: "+data.message);
                        }
                        if(data.status == 'Success'){

                        }
                    }
                });
                var urlNamespace = '{{ path('namespace_show', {'id' : 'selectedValue'}) }}';
                urlNamespace = urlNamespace.replace('selectedValue', selectedValue);
                $("#empty-namespace-list-message").remove();
                $("#select-root-namespace option:selected").remove();
                $("#referenced-namespaces-list").append($('<div class="row"><a href="#identification" class="remove-namespace" data-id="'+selectedValue+'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a><a href="'+urlNamespace+'">'+$(this).text()+'</a><span class="loading-icon2" data-id="'+selectedValue+'">&nbsp;<span class="fas fa-spinner fa-spin"></span></span></div>'));
                $(".loading-icon2[data-id='"+selectedValue+"']").hide(0);
                $("#chosable-namespaces-list").empty();
            });

            $(document).on("click", ".remove-namespace", function() {
                var selectedValue = $(this).data("id");
                var namespaceID = {{ namespace.id }}
                    $(".loading-icon2[data-id='"+selectedValue+"']").show(0);
                var url = '{{ path("namespace_referenced_namespace_disassociation", {'namespace' : 'namespaceID','referencedNamespace': 'selectedValue'}) }}';
                url = url.replace("namespaceID", namespaceID);
                url = url.replace("selectedValue", selectedValue);
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                    success:function(data){

                    },
                    statusCode: {
                        204: function () {
                            $(".remove-namespace[data-id='"+selectedValue+"']").parent().remove();
                        }
                    }
                });

            });

            $('a.updateViewComment').on('click', function () {
                var selectedObject = $(this).data("object");
                var selectedValue = $(this).data("id");
                var url = '{{ path("viewed_by_json", {'object': 'selectedObject', 'objectId': 'selectedValue'}) }}';
                url = url.replace("selectedValue", selectedValue);
                url = url.replace("selectedObject", selectedObject);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    statusCode: {
                        204: function () {}
                    }
                });
            });

        } );
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'namespace', 'objectId' : namespace.id  } %}
{% endblock %}
