{% extends 'base.html.twig' %}

{% block title %}{{ namespace.namespaceURI }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ namespace }}</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
            <li><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespace-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <h3>{{ namespace }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-10">
                            {% set description, break = null, false %}
                            {% for textProperty in namespace.textProperties if textProperty.systemType.id == 16 %}
                                {% if not break %}
                                    {% if textProperty.languageIsoCode == 'en' %}
                                        {% set break = true %}
                                        {% set description = textProperty.textProperty %}
                                    {% else %}
                                        {% if description == null %}
                                            {% set description = textProperty.textProperty %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if description is not null %}
                                {{ description|raw }}
                            {% else %}
                                <p><i>No description yet.</i></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="definition" class="tab-pane fade">
                <h3>Description</h3>
                <table class="table table-striped" id="descriptions-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Description</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 16 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 12 %}
                    {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <div class="object-identification-edit-form">
                    {{ form_start(namespaceForm) }}
                        {{ form_errors(namespaceForm) }}
                        {{ form_row(namespaceForm.namespaceURI) }}
                        {{ form_row(namespaceForm.originalNamespaceURI) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Save <span class="far fa-save"></span></button>
                        <a href="{{ path('namespace_show', {
                            id: namespace.id,
                            '_fragment': 'identification'
                        }) }}"
                           class="btn btn-default"
                           role="button">
                            Back <i class="fas fa-arrow-left"></i>
                        </a>
                    {{ form_end(namespaceForm) }}
                </div>
                {% if namespace.projectForTopLevelNamespace is not null %}
                <p>
                    Project: <a href="{{ path('project_show', {
                                'id': namespace.projectForTopLevelNamespace.id
                            }) }}"
                                target="_blank">{{ namespace.projectForTopLevelNamespace }}
                            </a>
                </p>
                {% endif %}
                {% if namespace.isTopLevelNamespace == false %}
                    {% if  namespace.startDate is not null %}
                        <p>Start date: {{ namespace.startDate|date('Y-m-d') }}</p>
                    {% endif %}
                    {% if  namespace.endDate is not null %}
                        <p>End date: {{ namespace.endDate|date('Y-m-d') }}</p>
                    {% endif %}
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in namespace.labels %}
                        <tr>
                            <td>
                                <a href="{{ path('label_show', {
                                    'id': label.id
                                }) }}">
                                    {{ label.label }}
                                </a> {% if label.isStandardLabelForLanguage %}*{% endif %}
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>* : Standard label for this language</p>
            </div>
            <div id="namespace-hierarchy" class="tab-pane fade">
                <h3>Hierarchy</h3>
                {% if namespace.isTopLevelNamespace %}
                    <p>{{ namespace.standardLabel }} is a <b>root namespace</b>.</p>
                <h3>Child namespaces</h3>
                <table class="table table-striped" id="child-namespaces-table">
                    <thead>
                    <tr>
                        <th>Namespaces URI</th>
                        <th>Namespaces identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for childNamespace in namespace.childVersions  %}
                        <tr>
                            <td>{{ childNamespace.namespaceUri }}</td>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': childNamespace.id,
                                    '_fragment': 'namespace-hierarchy'
                                }) }}">
                                    {{ childNamespace.standardLabel }}
                                </a>
                            </td>
                            <td>{{ childNamespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Root namespace: <a href="{{ path('namespace_show', {
                            'id': namespace.topLevelNamespace.id,
                            '_fragment':'namespace-hierarchy'
                        }) }}">
                            {{ namespace.topLevelNamespace.standardLabel }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div id="classes" class="tab-pane fade">
                {% if is_granted('edit', namespace) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('class_new', {'namespace': namespace.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in namespace.classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {{ class }}
                                </a>
                            </td>
                            <td>{{ class.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in namespace.properties %}
                        <tr>
                            <td class="text-nowrap text-right small">
                                {% if property.domain is not null %}
                                    <a href="{{ path('class_show', {'id': property.domain.id }) }}">
                                        {{ property.domain }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-nowrap small" style="padding-left: 30px;">
                                {% if property.domainMinQuantifier is not null and property.domainMaxQuantifier is not null %}
                                    ({% if  property.domainMinQuantifier != -1 %}{{ property.domainMinQuantifier }}{% else %}n{% endif %},{% if  property.domainMaxQuantifier != -1 %}{{ property.domainMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap text-center">
                                <a href="{{ path('property_show', {'id': property.id}) }}">
                                    {{ property }}
                                </a>
                            </td>
                            <td class="text-nowrap small" style="padding-right: 30px;">
                                {% if property.rangeMinQuantifier is not null and property.rangeMaxQuantifier is not null %}
                                    ({% if  property.rangeMinQuantifier != -1 %}{{ property.rangeMinQuantifier }}{% else %}n{% endif %},{% if  property.rangeMaxQuantifier != -1 %}{{ property.rangeMaxQuantifier }}{% else %}n{% endif %})
                                {% endif %}
                            </td>
                            <td class="text-nowrap small">
                                {% if property.range is not null %}
                                    <a href="{{ path('class_show', {'id': property.range.id }) }}">
                                        {{ property.range }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ property.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Graph</h3>
                <p class="text-warning"><span class="fa fa-exclamation-circle"></span> Please note this is an experimental feature</p>
                {% if namespace.classes|length > 0 and namespace.properties|length > 0 %}
                <a href="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a><br><br>
                <embed src="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" width="100%" height="1000px"><br><br>
                <a href="http://visualdataweb.de/webvowl/#url={{ url('namespace_json', {'id': namespace.id}) }}" target="_blank" class="btn btn-primary">Full screen (WebVOWL) <span class="fa fa-desktop"></span></a>

                {% else %}
                <p>The webvowl graph cannot be displayed because there is no class or property in this namespace.</p>
                {% endif %}
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                <div class="comment-box js-user-info" data-fullname="{{ app.user }}">
                    <div class="action-box">
                        {% if namespace.comments is empty %}
                            <p id="comment-not-found"><em>No comment found.</em></p>
                        {% endif %}
                        <ul id="comments-list" class="comments-list">
                            {% for comment in namespace.comments %}
                                <li>
                                    <div class="comment-text">
                                        <p><strong><a href="#">{{ comment.creator.fullName }}</a></strong></p>
                                        <p>{{ comment.comment }}</p>
                                        <span class="date sub-comment-text">on {{ comment.creationTime|date() }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            <div class="new-comment-form" id="new-comment-form">
                                {{ render(controller('AppBundle:Comment:new', {'object' : 'namespace', 'objectId' : namespace.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#descriptions-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#properties-table').DataTable();
            $('#classes-table').DataTable();
            $('#child-namespaces-table').DataTable();
        } );
    </script>
    {% include 'comment/js-bock.html.twig'  with {'objectType': 'namespace', 'objectId' : namespace.id  } %}
{% endblock %}
