{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{%  endblock %}

{% block body %}
    <h3>Namespaces</h3>
    <table class="table table-striped" id="project-table">
        <thead>
        <tr>
            <th>Namespaces identifier</th>
            <th>Namespaces URI</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        {% for namespace in namespaces %}
            <tr>
                <td>
                    <a href="{{ path('namespace_show', {
                        'id': namespace.id
                    }) }}">
                        {{ namespace.labels }}
                    </a>
                </td>
                <td>{{ namespace.namespaceUri }}</td>
                <td>{{ namespace.modificationTime|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#project-table').DataTable({"pageLength":50});
        } );
    </script>
{% endblock %}