{% extends 'base.html.twig' %}

{% block title %}Add new namespace{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{%  endblock %}

{% block body %}

    {% import _self as formMacros %}
    {% macro printTextPropertyRow(textPropertyForm) %}
        {{ form_errors(textPropertyForm) }}
        {{ form_row(textPropertyForm.textProperty, {
            'label': 'Description'
        }) }}
        {{ form_row(textPropertyForm.languageIsoCode, {
            'label': 'Language'
        }) }}
        {{ form_row(textPropertyForm.creator) }}
        {{ form_row(textPropertyForm.modifier) }}
    {% endmacro %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right reset-div">
                    <a href="{{ path('namespace_new', {'project': app.request.get('project').id}) }}" class="btn btn-primary pull-right">Reset <span class="fa fa-undo"></span></a>
                </div>
                <h2>
                    Add new namespace to the {{ app.request.get('project') }} project
                    <a href="{{ path('project_edit', {'id': app.request.get('project').id}) }}#managed-namespaces" class="pull-right btn btn-link">
                        <i class="fas fa-arrow-left"></i><span>&nbsp;Back</span>
                    </a>
                </h2>

                {{ form_start(namespaceForm) }}
                {{ form_row(namespaceForm.labels) }}
                {{ form_row(namespaceForm.isExternalNamespace) }}
                {{ form_row(namespaceForm.namespaceURI) }}
                {{ form_errors(namespaceForm) }}


                <div class="js-text-property-wrapper"
                     data-prototype="{{ formMacros.printTextPropertyRow(namespaceForm.textProperties.vars.prototype)|e('html_attr') }}"
                     data-index="{{ namespaceForm.textProperties|length }}"
                >
                    {% for textPropertyForm in namespaceForm.textProperties %}
                        {{ formMacros.printTextPropertyRow(textPropertyForm) }}
                    {% endfor %}
                    <a href="#" class="js-example-add">
                        <span class="fa fa-plus-circle"></span>
                        Add a description for the ongoing namespace (if different from the root namespace)
                    </a>

                </div>

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(namespaceForm) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>

        $(document).ready(function() {
            $('#namespace_form_parentClass').select2({
                sorter: function(data) {
                    /* Sort data using lowercase comparison */
                    return data.sort(function (a, b) {
                        a = a.text.toLowerCase();
                        b = b.text.toLowerCase();
                        if (a > b) {
                            return 1;
                        } else if (a < b) {
                            return -1;
                        }
                        return 0;
                    });
                }
            });

            if($('[for=namespace_quick_add_form_textProperties_1_textProperty]').length) {
                //we hide the button in order to prevent the add of more than 2 text properties
                $('.js-example-add').hide();
                $('[for=namespace_quick_add_form_textProperties_1_textProperty]').text('Ongoing namespace description');
            }
            var $wrapper = $('.js-text-property-wrapper');
            $wrapper.on('click', '.js-example-add', function(e) {
                e.preventDefault();

                // Get the data-prototype explained earlier
                var prototype = $wrapper.data('prototype');

                // get the new index
                var index = $wrapper.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $wrapper.data('index', index + 1);

                // Display the form in the page before the "new" link
                $(this).before(newForm);
                $('#namespace_quick_add_form_textProperties_1_creator').val($('#namespace_quick_add_form_textProperties_0_creator').val());
                $('#namespace_quick_add_form_textProperties_1_modifier').val($('#namespace_quick_add_form_textProperties_0_creator').val());
                $('.js-example-add').hide();
                $('[for=namespace_quick_add_form_textProperties_1_textProperty]').text('Ongoing namespace description');
            });

            if (!$('#namespace_quick_add_form_isExternalNamespace').prop('checked')) {
                $('#namespace_quick_add_form_namespaceURI').prop('readOnly', true);
            }

            $(document).on('keyup', '#namespace_quick_add_form_labels_0_label', function() {
                var labelForURI = this.value;
                labelForURI = labelForURI.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
                labelForURI = labelForURI.replace(/[\s-]+/g, '-').toLowerCase().replace(/[^0-9a-z\-]/g, '');
                $('#namespace_quick_add_form_namespaceURI').val('https://ontome.net/ns/' + labelForURI);
            });

            //disable URI field if it's not an externel URI
            $(document).on('change', '#namespace_quick_add_form_isExternalNamespace', function() {
                var $input = $(this);
                if ($input.prop('checked')) {
                    $('#namespace_quick_add_form_namespaceURI').val('');
                    $('#namespace_quick_add_form_namespaceURI').prop('readOnly', false);
                }
                else {
                    $('#namespace_quick_add_form_namespaceURI').prop('readOnly', true);
                    var labelForURI = $('#namespace_quick_add_form_labels_0_label').val();
                    labelForURI = labelForURI.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
                    labelForURI = labelForURI.replace(/[\s-]+/g, '-').toLowerCase().replace(/[^0-9a-z\-]/g, '');
                    $('#namespace_quick_add_form_namespaceURI').val('https://ontome.net/ns/' + labelForURI);
                }
            });

        } );
    </script>
{% endblock %}