{% extends 'base.html.twig' %}

{% block title %}{{ namespace.namespaceURI }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ namespace }}</h2>
       <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#definition">Definition</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespace-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#graph">Graph</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="definition" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Additional notes</h3>
                <table class="table table-striped" id="additional-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Notes</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 12 %}
                        <tr>
                            <td><a class="btn" href="#" data-toggle="modal" data-target="#modal-text-property-{{ textProperty.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty|striptags|raw }}</span>
                                {{ include('textProperty/modal.html.twig', { 'modalId': textProperty.id }) }}
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                <h3>Identification</h3>
                <p>URI: {{ namespace.namespaceURI }}</p>
                {% if namespace.projectForTopLevelNamespace is not null %}
                <p>
                    Project: <a href="{{ path('project_show', {
                                'id': namespace.projectForTopLevelNamespace.id
                            }) }}"
                                target="_blank">{{ namespace.projectForTopLevelNamespace }}
                            </a>
                </p>
                {% endif %}
                {% if namespace.isTopLevelNamespace == false %}
                    {% if  namespace.startDate is not null %}
                        <p>Start date: {{ namespace.startDate|date('Y-m-d') }}</p>
                    {% endif %}
                    {% if  namespace.endDate is not null %}
                        <p>End date: {{ namespace.endDate|date('Y-m-d') }}</p>
                    {% endif %}
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in namespace.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespace-hierarchy" class="tab-pane fade">
                <h3>Parent namespaces</h3>
                <table class="table table-striped" id="parent-namespaces-table">
                    <thead>
                        <tr>
                            <th>Namespaces URI</th>
                            <th>Namespaces identifier</th>
                            <th>Last updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if namespace.referencedVersion is not null  %}
                        <tr>
                            <td>{{ namespace.referencedVersion.namespaceUri }}</td>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.referencedVersion.id
                                }) }}">
                                    {{ namespace.standardLabel }}
                                </a>
                            </td>
                            <td>{{ namespace.referencedVersion.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <h3>Child namespaces</h3>
                <table class="table table-striped" id="child-namespaces-table">
                    <thead>
                        <tr>
                            <th>Namespaces URI</th>
                            <th>Namespaces identifier</th>
                            <th>Last updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for childNamespace in namespace.childVersions  %}
                        <tr>
                            <td>{{ childNamespace.namespaceUri }}</td>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': childNamespace.id
                                }) }}">
                                    {{ childNamespace.standardLabel }}
                                </a>
                            </td>
                            <td>{{ childNamespace.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="classes" class="tab-pane fade">
                {% if is_granted('edit', namespace) %}
                    <div class="pull-right add-div">
                        <a href="{{ path('class_new', {'namespace': namespace.id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>
                {% endif %}
                <h3>Classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in namespace.classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {{ class }}
                                </a>
                            </td>
                            <td>{{ class.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in namespace.properties %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': property.id
                                }) }}">
                                    {{ property }}
                                </a>
                            </td>
                            <td>{{ property.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="graph" class="tab-pane fade">
                <h3>Graph</h3>
                {% if namespace.classes|length > 0 and namespace.properties|length > 0 %}
                <embed src="http://visualdataweb.de/webvowl/#url={{ url('namespaces_graph_json', {'id': namespace.id}) }}" width="100%" height="1000px">
                {% else %}
                <p>The webvowl graph cannot be displayed because there is no class or property in this namespace.</p>
                {% endif %}
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>

            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#additional-notes-table').DataTable();
            $('#properties-table').DataTable();
            $('#classes-table').DataTable();
            $('#parent-namespaces-table').DataTable();
            $('#child-namespaces-table').DataTable();

        } );
    </script>

{% endblock %}
