{% extends 'base.html.twig' %}

{% block title %}{{ namespace.namespaceURI }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="class-name">{{ namespace.namespaceURI }}</h2>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#scope-notes">Scope Notes</a></li>
            <li><a data-toggle="tab" href="#identification">Identification</a></li>
            <li><a data-toggle="tab" href="#namespace-hierarchy">Hierarchy</a></li>
            <li><a data-toggle="tab" href="#classes">Classes</a></li>
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="scope-notes" class="tab-pane fade in active">
                <h3>Scope Notes</h3>
                <table class="table table-striped" id="scope-notes-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Scope note</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 1 %}
                        <tr>
                            <td><a class="btn" href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                    <span>{{ textProperty.textProperty}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Examples</h3>
                <table class="table table-striped" id="examples-table">
                    <thead>
                    <tr>
                        <th>Show</th>
                        <th>Example</th>
                        <th>Language</th>
                        <th>Namespace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for textProperty in namespace.textProperties if textProperty.systemType.id == 999 %}
                        <tr>
                            <td><a class="btn" href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td class="truncated-text">
                                <span>{{ textProperty.textProperty}}</span>
                            </td>
                            <td>{{ textProperty.languageIsoCode}}</td>
                            <td>WIP</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="identification" class="tab-pane fade">
                {% if namespace.isTopLevelNamespace == false %}
                    <p>Start date: {{ namespace.startDate }}</p>
                    <p>End date: {{ namespace.endDate }}</p>
                {% endif %}
                <h3>Labels</h3>
                <table class="table table-striped" id="labels-table">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Language</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in namespace.labels %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ label.label }}
                                </a>
                            </td>
                            <td>{{ label.languageIsoCode}}</td>
                            <td>{{ label.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="namespace-hierarchy" class="tab-pane fade">
                <h3>Parent namespaces</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                        <tr>
                            <th>Namespaces URI</th>
                            <th>Namespaces identifier</th>
                            <th>Last updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ namespace.referencedVersion.namespaceUri }}</td>
                            <td>
                                <a href="{{ path('namespace_show', {
                                    'id': namespace.referencedVersion.id
                                }) }}">
                                    {% for label in namespace.referencedVersion.labels %}
                                        {% if label.isStandardLabelForLanguage == true and label.languageIsoCode == 'en' %}
                                            {{ label.label }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </td>
                            <td>{{ namespace.referencedVersion.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Child namespaces</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="classes" class="tab-pane fade">
                <h3>Classes</h3>
                <table class="table table-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Class namespace identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in namespace.classes %}
                        <tr>
                            <td>
                                <a href="{{ path('class_show', {
                                    'id': class.id
                                }) }}">
                                    {{ class.identifierInNamespace }}
                                </a>
                            </td>
                            <td>{{ class.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="properties" class="tab-pane fade">
                <h3>Properties</h3>
                <table class="table table-striped" id="properties-table">
                    <thead>
                    <tr>
                        <th>Property identifier</th>
                        <th>Last updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in namespace.properties %}
                        <tr>
                            <td>
                                <a href="{{ path('property_show', {
                                    'id': property.id
                                }) }}">
                                    {{ property.identifierInNamespace }}
                                </a>
                            </td>
                            <td>{{ property.modificationTime|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>

            </div>
        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#namespaces-table').DataTable();
            $('#labels-table').DataTable();
            $('#scope-notes-table').DataTable();
            $('#examples-table').DataTable();
            $('#properties-table').DataTable();
            $('#classes-table').DataTable();

        } );
    </script>

{% endblock %}
